<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <!--
                    <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addGroupe()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedPolice()"></button>
                    -->
                    <div>
                    <p-dropdown inputId="souscripteur" dataKey="id" [filter]="true"
                                        showClear="true" [options]="policeList"
                                        [autoDisplayFirst]="false"
                                        placeholder="Selectionnez le souscripteur"
                                        optionLabel="nom" class="p-mr-2" [(ngModel)]="police"></p-dropdown>
                                        
                    <p-dropdown inputId="garant" dataKey="id" [filter]="true"
                                        showClear="true" [options]="garantList"
                                        [autoDisplayFirst]="false"
                                        placeholder="Selectionnez le garant"
                                        optionLabel="nom" class="p-mr-2" [(ngModel)]="garant"></p-dropdown>
                    
                    <button pButton icon="pi pi-search" class="p-mr-2" (click)="filtrer()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="adherentListFilter"  [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['libelle','description','duree','territorialite.libelle']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="{first} to {last} of {totalRecords} enregistrements" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left"></span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nom">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom" style="width: 12rem">Prenom<p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="adresseEmail">Email<p-sortIcon field="adresseEmail"></p-sortIcon></th>
                        <th pSortableColumn="genre" style="width: 12rem">Genre<p-sortIcon field="genre.libelle"></p-sortIcon></th>
                        <th pSortableColumn="qualiteAssure" style="width: 12rem">Qualité assuré<p-sortIcon field="qualiteAssure"></p-sortIcon></th>
                        <th pSortableColumn="souscripteur" style="width: 12rem">Souscripteur<p-sortIcon field="souscripteur"></p-sortIcon></th>
                        <th pSortableColumn="garant" style="width: 12rem">Garant<p-sortIcon field="qualiteAssure"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-adherent>

                    <tr>
                        <td>
                            <p-tableCheckbox [value]="adherent"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title">{{adherent.numero}}</span>
                        </td>
                        <td><span class="p-column-title">{{adherent.nom}}</span>

                        </td>
                        <td><span class="p-column-title">{{adherent.prenom}}</span>

                        </td>
                        <td><span class="p-column-title">{{adherent.email}}</span>

                        </td>
                        <td><span class="p-column-title">{{adherent.genre.libelle}}</span></td>
                        <td><span class="p-column-title">{{adherent.qualiteAssure.libelle}}</span></td>
                        <td>
                            <span class="p-column-title">{{adherent.groupe.police.nom}}</span>
                        </td>
                        <td>
                            <span class="p-column-title">{{adherent.groupe.police.garant.nom}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{adherentListFilter ? adherentListFilter.length : 0 }} assuré(s) au total.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>