<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <!--
                    <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addGroupe()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedPolice()"></button>
                    -->
                    <div>
                    <p-dropdown inputId="souscripteur" dataKey="id" [filter]="true"
                                        showClear="true" [options]="policeList"
                                        [autoDisplayFirst]="false"
                                        placeholder="Selectionnez le souscripteur"
                                        optionLabel="nom" class="p-mr-2" [(ngModel)]="police"></p-dropdown>
                                        
                    <p-dropdown inputId="garant" dataKey="id" [filter]="true"
                                        showClear="true" [options]="garantList"
                                        [autoDisplayFirst]="false"
                                        placeholder="Selectionnez le garant"
                                        optionLabel="nom" class="p-mr-2" [(ngModel)]="garant"></p-dropdown>
                    
                    <button pButton icon="pi pi-search" class="p-mr-2" (click)="filtrer()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="adherentListFilter"  [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['nom', 'prenom','libelle','description','duree','territorialite.libelle']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="{first} to {last} of {totalRecords} enregistrements" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="nom">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="nom" style="width: 200px">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom" style="width: 12rem">Prenom<p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="genre" style="width: 12rem">Genre<p-sortIcon field="genre.libelle"></p-sortIcon></th>
                        <th pSortableColumn="qualiteAssure" style="width: 12rem">Qualité assuré<p-sortIcon field="qualiteAssure"></p-sortIcon></th>
                        <th pSortableColumn="souscripteur" style="width: 12rem">Souscripteur<p-sortIcon field="souscripteur"></p-sortIcon></th>
                        <th pSortableColumn="garant" style="width: 12rem">Garant<p-sortIcon field="qualiteAssure"></p-sortIcon></th>
                        <th pSortableColumn="telephone">Téléphone<p-sortIcon field="telephone"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-adherent>

                    <tr [ngClass]="{'colorZone': !adherent.adherentPrincipal}">
                        <!-- <td>
                            <p-tableCheckbox [value]="adherent"></p-tableCheckbox>
                        </td> -->
                        <td><span class="p-column-title">{{adherent.numero}}</span>
                        </td>
                        <td><span class="p-column-title" style="width: 200px">{{adherent.nom}}</span>

                        </td>
                        <td><span class="p-column-title">{{adherent.prenom}}</span>

                        </td>
                        
                        <td><span class="p-column-title">{{adherent.genre.libelle}}</span></td>
                        <td><span class="p-column-title">{{adherent.qualiteAssure.libelle}}</span></td>
                        <td>
                            <span class="p-column-title">{{adherent.groupe.police.nom}}</span>
                        </td>
                        <td>
                            <span class="p-column-title">{{adherent.groupe.police.garant.nom}}</span>
                        </td>
                        <td><span class="p-column-title">{{adherent.numeroTelephone}}</span>
                        </td>
                        <td>
                            <button pButton  pRipple icon="pi pi-search" pTooltip="détail assuré"
                             class="p-button-rounded p-button-help" (click)="voirAssure(adherent)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{adherentListFilter ? adherentListFilter.length : 0 }} assuré(s) au total.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-dialog [maximizable]="true" [(visible)]="infosAdherent" header="Détail de l'assuré" [modal]="true" styleClass="p-fluid" [style]="{width: '1000px'}">
        <ng-template pTemplate="content">
            <div class="card">
                
            <h5></h5>
            
            <div class="p-grid">
                
            <div class="p-col-4">
                    <div class="p-field p-col-4">
                        <div *ngIf="adherent.urlPhoto" class="">
                            <img [src]="adherent.urlPhoto" [alt]="adherent.nom" width="200" height="200" class="p-shadow-4" /> 
                        </div>
                    </div>
            </div>
                
                
            <div class="p-col-8">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="lastname2">Matricule</label>
                    <div>
                        <span>{{adherent.numero}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Matricule Garant</label>
                    <div>
                        <span>{{adherent.matriculeGarant}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Téléphone</label>
                    <div>
                        <span>{{adherent.numeroTelephone}}</span>
                    </div>
                </div>

            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="lastname2">Nom</label>
                    <div>
                        <span>{{adherent.nom}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Prenom</label>
                    <div>
                        <span>{{adherent.prenom}}</span>
                    </div>
                </div>

                <div class="p-field p-col">
                    <label for="lastname2">Lieu de naissance</label>
                    <div>
                        <span>{{adherent.lieuNaissance}}</span>
                    </div>
                </div>

            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="lastname2">Date naissance</label>
                    <div>
                        <span>{{adherent.dateNaissance | formatTableValue: 'date'}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Adresse</label>
                    <div>
                        <span>{{adherent.adresse}}</span>
                    </div>
                </div>

                <div class="p-field p-col">
                    <label for="lastname2">Adresse-email </label>
                    <div>
                        <span>{{adherent.adresseEmail}}</span>
                    </div>
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="lastname2">Genre</label>
                    <div>
                        <span>{{adherent?.genre?.libelle}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Qualite-Assuré</label>
                    <div>
                        <span>{{adherent?.qualiteAssure?.libelle}}</span>
                    </div>
                </div>

                <div class="p-field p-col">
                    <label for="lastname2">Profession</label>
                    <div>
                        <span>{{adherent?.profession?.libelle}}</span>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="lastname2">Matricule Souscripteur</label>
                    <div>
                        <span>{{adherent?.matriculeSouscripteur}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Souscripteur</label>
                    <div>
                        <span>{{adherent.groupe.police.nom}}</span>
                    </div>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Garant</label>
                    <div>
                        <span>{{adherent.groupe.police.garant.nom}}</span>
                    </div>
                </div>
            </div>
            <!--
            <div class="p-grid p-justify-center">
            <div *ngIf="adherent.urlPhoto" class="">
                <img [src]="adherent.urlPhoto" [alt]="adherent.nom" width="200" height="200" class="p-shadow-4" /> 
            </div>
           </div>
            -->
        </div>
        </div> 
        </div>
        </ng-template>
    </p-dialog>


</div>