<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
    <div class="card">
        <div class="p-formgroup-inline">
            <div class="p-field">
                <label for="matricule" class="p-sr-only">Numero ordre</label>
                <input id="numero" type="text" pInputText placeholder="numero" [(ngModel)]="numero">
            </div>
            
            <div class="p-field">
                <label for="dateSoins" class="p-sr-only">Date</label>
                <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" [(ngModel)]="date" placeholder="Date"></p-calendar>
            </div>
            <div class="p-field">
                <button pButton pRipple type="button" (click)="rechercherOrdreReglement()" label="Rechercher"></button>
            </div>
            
            
        <p-table #dt [value]="ordreReglementList" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
            [rowHover]="true" dataKey="id"
            styleClass="p-datatable-customers"
            currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement"  [showCurrentPageReport]="true">
       <ng-template pTemplate="caption">
           <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
               <h5 class="p-m-0"></h5>
               <span class="p-input-icon-left">
               <i class="pi pi-search"></i>
               <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
               </span>
           </div>
       </ng-template>
       <ng-template pTemplate="header">
           <tr>
               <th style="width: 3rem">
                   <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
               </th>
               <th pSortableColumn="numero" style="min-width:200px">Numero<p-sortIcon field="numero"></p-sortIcon></th>
               <th pSortableColumn="nom" style="min-width:200px">Numero bodereau<p-sortIcon field="nom"></p-sortIcon></th>
               <th pSortableColumn="taux" style="min-width:200px">Numero police<p-sortIcon field="taux.taux"></p-sortIcon></th>
               <th pSortableColumn="territorialite" style="min-width:200px">Souscripteur<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
               <th pSortableColumn="etat" style="min-width:200px">Assuré(e) principal(e)<p-sortIcon field="etat"></p-sortIcon></th>
               <th pSortableColumn="etat" style="min-width:100px">Etat<p-sortIcon field="etat"></p-sortIcon></th>
               <th pSortableColumn="date" style="min-width:100px">Date<p-sortIcon field="date"></p-sortIcon></th>
               <th style="min-width:150px"></th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-ordre>
           <tr>
               <td>
                   <p-tableCheckbox [value]="ordre"></p-tableCheckbox>
               </td>

               <td><span class="p-column-title" style="min-width:200px">{{ordre.numero}}</span>
               </td>
               <td><span class="p-column-title" style="min-width:200px">{{ordre.numeroBordereau}}</span>
               </td>
               <td><span class="p-column-title" style="min-width:200px">{{ordre.police.numero}}</span>
               </td>
               <td><span class="p-column-title" style="min-width:200px">{{ordre.police.nom}}</span>
               </td>
               <td><span class="p-column-title" style="min-width:200px">{{ordre?.assurePrinc?.nom}} {{ordre?.assurePrinc?.prenom}}</span>
               <td>
                   <span class="p-column-title" style="min-width:50px">{{ordre.etat}}</span>
               </td>
               <td><span class="p-column-title" style="min-width:50px">{{ordre.date | formatTableValue : 'date'}}</span>
               </td>
               <td style="min-width:150px">
               <button pButton  pRipple icon="pi pi-eye" pTooltip="consulter" class="p-button-rounded p-button-help p-mr-2" (click)="consulter(ordre)"></button>
               <button pButton pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimer(ordre)"></button>
               </td>
               <!--
               <td>
                   <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="editPolice(police)"></button>
                   <button pButton pRipple icon="pi pi-trash" pTooltip="Supprimer" class="p-button-rounded p-button-warning p-mr-2" (click)="deletePolice(police)"></button>
                   <button pButton  pRipple icon="pi pi-eye" pTooltip="voir groupe" class="p-button-rounded p-button-info p-mr-2" (click)="voirGroupe(police)"></button>
                   <button pButton  pRipple icon="pi pi-search" pTooltip="voir details" class="p-button-rounded p-button-help p-mr-2" (click)="onRowSelectPolice(police)"></button>
                   <button pButton  [disabled]="!police.listGroupe ||!police.listGroupe.length" icon="pi pi-check" pTooltip="Valider" class="p-button-rounded p-button-info p-mr-2" (click)="validerPolice(police)"></button>
                   <button pButton  [disabled]="!police.listGroupe ||!police.listGroupe.length" pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimer(police)"></button>
               </td>
               -->
               
           </tr>
       </ng-template>
       <ng-template pTemplate="summary">
           <div class="p-d-flex p-ai-center p-jc-between">
               {{ordreReglementList ? ordreReglementList.length : 0 }} reglements(s).
           </div>
       </ng-template>
   </p-table>
    </div> 
    </div>  
    
    <app-ordre-reglement-consultation [ordreReglement]="ordreReglement" [showDialog]="showDetailOrdreReglement" (desactiveDialog)="desactiveDialog($event)" ></app-ordre-reglement-consultation>
    </div> 
    </div>