// @import '~leaflet/dist/leaflet.css';
// @import "~leaflet/dist/leaflet.css";

.map-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // margin: 130px;
    margin-top: 120px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 250px;
}

.map-frame{
    border:5px solid green;
    height: 100%;
}

#frugalmap{
    height: 100%;
}

.d{
    margin-left: -5px;
}

.de{
    position: absolute;

    border-right:5px solid green;
    border-left:5px solid green;

    margin-top: -43px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -28px;
    padding-bottom: 520px;
    // padding-left: 100px;
}