// @import '~leaflet/dist/leaflet.css';
// @import "~leaflet/dist/leaflet.css";

.map-wrapper{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px !important;
}

.map-border{
    border:5px solid yellow;
    height: 100%;
}

#frugalmap{
    height: 100%;
}

