 <p-toast></p-toast>
 <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
<p-dialog [(visible)]="isTodisplayEntetDialogue" 
    [style]="{width: '80%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="header">
    <h5>INCORPORATION PAR SAISIE POUR LA POLICE :  <span style="color: #188627; font-weight: bold;">{{ police.nom }}</span>  </h5>
  </ng-template>

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid" style="padding: 1rem;">


                <!-- Initiateur -->
                <div class="p-field p-col-12 p-md-4">
                    <label for="typeDemanteur">Initiateur <sup style="color: red;">*</sup></label>
                    <p-dropdown 
                        inputId="typeDemanteur" 
                        dataKey="id" 
                        [filter]="true" 
                        showClear="true"
                        [options]="demandeursList" 
                        [(ngModel)]="historiqueAvenant.typeDemandeur"
                        optionValue="libelle"
                        placeholder="Sélectionner" 
                        optionLabel="libelle" 
                        class="w-full">
                    </p-dropdown>
                </div>

                <!-- Exercice -->
                <div class="p-field p-col-12 p-mt-1 p-md-4">
                    <label for="compteTiers" class="font-bold">
                        Sélectionner l'exercice <span style="color: red;">*</span>
                    </label>
                    <p-dropdown 
                        [disabled]="!historiqueAvenant.typeDemandeur"
                        dataKey="id" 
                        [filter]="true"
                        showClear="true" 
                        [options]="exercices"
                        name="exercice"
                        [(ngModel)]="historiqueAvenant.exercice"
                        [autoDisplayFirst]="true" 
                        appendTo="body"
                        placeholder="Sélectionnez l'exercice"
                        (onChange)="onGetSelectedExerciceId($event.value.id)"
                        optionLabel="nomExo"
                        class="w-full">
                    </p-dropdown>
                </div>

                        <div class="p-field p-col-12 p-md-4">
                            <label for="fraisBadge">Groupe<sup style="color: red !important;">*</sup></label>
                           
                                <p-dropdown  [options]="groupesByPolicy" optionLabel="libelle"
                                            name="groupe"
                                            (onChange)="onGetSelectedGroupeId($event.value)"
                                            [(ngModel)]="historiqueAvenant.groupe"
                                            [filter]="true" filterBy="libelle" [showClear]="true"
                                            placeholder="Choisir un groupe"
                                            [disabled]="!historiqueAvenant.exercice"
                                            >
                                </p-dropdown>
                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Date d'Avenant<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.groupe"  id="dateAvenant" type="date" name="dateAvenant" [(ngModel)]="historiqueAvenant.dateAvenant"  pInputText (change)="onSelectedAvenatDate()">

                           
                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            
                            <span class="textDanger" *ngIf=" historiqueAvenant.dateAvenant && historiqueAvenant.dateEffet && historiqueAvenant.dateAvenant > historiqueAvenant.dateEffet">La date d'effet doit être supérieure ou égale à celle de l'avenant</span>

                            <label for="nom">Date d'effet<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.dateAvenant"  id="dateIncorparation" name="dateEffet" [(ngModel)]="historiqueAvenant.dateEffet" type="date"  pInputText (change)="onCompareDateEffect()">

                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Numéro de l'avenant garant<sup style="color: red !important;"></sup></label>
                            <input [disabled]="!historiqueAvenant.dateEffet || historiqueAvenant.dateAvenant > historiqueAvenant.dateEffet " id="numero" name="numeroGarant" [(ngModel)]="historiqueAvenant.numeroGarant"  type="number" min="0" pInputText [disabled]="etat === 'VIEW'">
                        </div>

                                                                <!-- Motif -->
                <div class="p-field p-col-12 p-md-6 p-mt-1">
                    <label for="observation">Motif<sup style="color: red;">*</sup></label>
                    <input 
                        id="observation"
                        type="text"
                        name="observation"
                        [(ngModel)]="historiqueAvenant.observation"
                        pInputText
                        class="p-inputtext w-full"
                    [disabled]="!historiqueAvenant.numeroGarant ||
                     !historiqueAvenant.exercice ||
                     !historiqueAvenant.groupe ||
                     !historiqueAvenant.dateAvenant ||
                     !historiqueAvenant.dateEffet ||
                     !historiqueAvenant.typeDemandeur
                     "
                        
                    />
                </div>

                <!-- Frais Badges -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisBadges">Total Frais Badges <sup style="color: red;">*</sup></label>
                    <input 
                        [disabled]="!historiqueAvenant.observation" 
                        pInputText
                        type="number"
                        inputId="fraisBadges" 
                        name="fraisBadges"
                        [(ngModel)]="historiqueAvenant.fraisBadges"
                        class="w-full"/>
                </div>

                <!-- Frais Accessoires -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisAccessoires">Total Frais Accessoires <sup style="color: red;">*</sup></label>
                    <input 
                        [disabled]="!historiqueAvenant.fraisBadges" 
                        pInputText
                        type="number"
                        inputId="fraisAccessoires" 
                        name="fraisAccessoires" 
                         [(ngModel)]="historiqueAvenant.fraisAccessoires"
                        class="w-full"/>
                    
                </div>
            </div>

            </div>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="col col-6 p-mr-3">    
                <button
                (click)="onCancelIncorporation()"
                    pButton icon="pi pi-times"
                    label="Quitter"
                    class="p-button-danger">
                </button>  
            </div>

            <div class="col col-6">
                <button 
                    [disabled]="!historiqueAvenant.numeroGarant ||
                     !historiqueAvenant.exercice ||
                     !historiqueAvenant.observation ||
                     !historiqueAvenant.groupe ||
                     !historiqueAvenant.dateAvenant ||
                     !historiqueAvenant.dateEffet ||
                     !historiqueAvenant.fraisBadges ||
                     !historiqueAvenant.fraisAccessoires ||
                     !historiqueAvenant.typeDemandeur
                     "
                    (click)="onNextStepp(historiqueAvenant)"
                    pButton icon="pi pi-arrow-circle-right"
                    label="Ajouter une famille"
                    class="p-button-info">
                </button>      
            </div> 
        </div>

    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isTodisplayFamilyDialogue" 
    [style]="{width: '100%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="header">
    <h5> INCORPORATION: AJOUT DE MEMBRES DE FAMILLE </h5>
  </ng-template>

        <div class="flexCss divBorder p-justify-between">

        <div class="p-col-12 p-md-5">
            
    <div class="divBorder p-col-12">

                        <div class="p-col-12">
                            <p-dropdown 
                            [options]="adherentsList" 
                                        optionLabel="fullName"
                                        (onChange)="onSelectedAdherent($event.value)"
                                        placeholder="Sélectionner l'assuré principal"
                                        [style]="{'width':'100%'}">
                            </p-dropdown>
                        </div>   

                            <div class="p-fluid p-formgrid p-grid p-mb-2">
                                <div class="p-field p-grid">

                                    <div class="p-col-6">
                                        <label>Nom<sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <input 
                                        [disabled]="!adherentPrincipal"
                                        [(ngModel)]="adherantNew.nom" name="nom" type="text" pInputText />
                                    </div>

                                    <div class="p-col-6">
                                        <label>Prénom(s) <sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <input [disabled]="!adherantNew.nom" [(ngModel)]="adherantNew.prenom" name="prenom" type="text" pInputText />
                                    </div>
                                                                       
                                    <div class="p-col-6">
                                        <label >Genre <sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <p-dropdown [disabled]="!adherantNew.prenom" [(ngModel)]="adherantNew.genre" [options]="genres" optionLabel="libelle" placeholder="Genre" [style]="{'width':'100%'}">
                                                </p-dropdown>
                                    </div>

                                    <div class="p-col-6">
                                        <label >Qualité Assuré <sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <p-dropdown [options]="qualiteAssures" 
                                         [disabled]="!adherantNew.genre"
                                                    optionLabel="libelle"
                                                    placeholder="Qualité Assuré"
                                                    name="qualiteAssure"
                                                    [(ngModel)]="adherantNew.qualiteAssure"
                                                    [style]="{'width':'100%'}">
                                        </p-dropdown>
                                    </div>
                                    <div class="p-col-6">
                                        <label >Date Naisse. <sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <input [disabled]="!adherantNew.qualiteAssure" type="date" name="dateNaissance" [(ngModel)]="adherantNew.dateNaissance"  pInputText/>
                                    </div>

                                    <div class="p-col-6">
                                        <span class="textDanger" *ngIf=" adherantNew.dateIncorporation && adherantNew.dateNaissance && adherantNew.dateNaissance > adherantNew.dateIncorporation">La date d'incorporation doit être supérieure ou égale à celle de naissance</span>
                                        <label >Date Incorpotration <sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                                        <input [disabled]="!adherantNew.dateNaissance" type="date" [(ngModel)]="adherantNew.dateIncorporation" name="dateIncorporation" pInputText/>
                                    </div>

                                    <div class="p-col-6">
                                        <span class="textDanger" *ngIf=" adherantNew.dateIncorporation && adherantNew.dateEntree && adherantNew.dateIncorporation > adherantNew.dateEntree">La date d'entrée doit être supérieure ou égale à celle de l'incorporation</span>
                                        <label >Date Entrée <sup style="color: red !important; font-size: 1.4em;"></sup></label>
                                        <input [disabled]="!adherantNew.dateIncorporation"  type="date" [(ngModel)]="adherantNew.dateEntree" name="dateEntree" pInputText />
                                    </div>

                                    <div class="p-col-6">
                                        <label>Téléphone <sup style="color: red !important; font-size: 1.4em;"></sup></label>
                                        <p-inputMask  [disabled]="!adherantNew.dateEntree" [(ngModel)]="adherantNew.telephone"  name="telephone"  mask="99 99 99 99" >
                                        </p-inputMask>
                                    </div>

<!--                                     <div class="p-field p-col-4">
                                        <label >Numero de l'exercice postérieur <sup style="color: red !important; font-size: 1.4em;"></sup></label>
                                        <input  type="number" pInputText>
                                    </div>
                                     -->

                                    <div class="p-col-5">
                                        <button (click)="onBackStepp()" style="margin-top: 31px; margin-left: 56px;" pButton 
                                        type="button" icon="pi pi-arrow-circle-left" label="Précédent" class="p-button-info">
                                        </button>
                                    </div>

                                    <div class="p-col-5">
                                        <button
                                          [disabled]="
                                          !adherantNew.dateEntree ||
                                          !adherantNew.dateIncorporation ||
                                          !adherantNew.dateNaissance ||
                                          !adherantNew.qualiteAssure ||
                                          !adherantNew.genre ||
                                          !adherantNew.prenom ||
                                          !adherantNew.nom" 
                                        (click)="onAddMember(adherantNew)" style="margin-top: 31px; margin-left: 56px;" pButton 
                                        type="button" icon="pi pi-check" label="Ajouter à la liste" class="p-button-success">
                                        </button>
                                    </div>
                                </div>
                            </div>  
                        </div>
            </div>

            <div class="divBorder2 p-col-7">
                
                <h6 class="textGreen">Famille des assurés</h6>
                <p-table [value]="adherantFamily"  class="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                    <th>Nom</th>
                    <th>Genre</th>
                    <th>Qualité</th>
                    <th>Naissance</th>
                    <th>incorporation</th>
                    <th>Entrée</th>
                    <th>Assuré</th>
                    <th>Retirer</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>

                        <td>
                            {{ row.nom }}  {{ row.prenom }}
                        </td>

                        <td >
                            {{ row?.genre?.libelle }}
                        </td>
                        <td >
                            {{ row.qualiteAssure?.libelle }}
                        </td>

                        <td>
                            {{ row.dateNaissance   }}
                        </td>

                        <td>
                            {{ row.dateIncorporation  | formatTableValue : 'date' }}

                        </td>
                        <td [style]="{width: '3px'}">
                            {{ row.dateEntree | formatTableValue : 'date' }}
                        </td>

                    <td [style]="{width: '15px'}">
                        {{ row?.adherentPrincipal?.nom}} {{ row?.adherentPrincipal?.prenom}}
                    </td>

                    <td [style]="{width: '3px'}">
                        <button

                        (click)="onRetrieveMamber(row)"
                            pButton 
                            type="button" icon="pi pi-minus" class="p-button-warning">
                        </button>  
                    </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                <tr *ngIf="adherantFamily.length > 0">
                    <td colspan="8">
                    <div class="flex justify-center py-4">
                        <button 
                        (click)="onSaveIncorporation()"
                        pButton 
                        type="button" 
                        icon="pi pi-check" 
                        label="Incorporer les membres de famille" 
                        class="p-button-success">
                        </button>
                    </div>
                    </td>
                </tr>
                </ng-template>

                </p-table>

        </div>

        </div>

</p-dialog>
