<div class="p-grid">
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="Préfinancement(s)" leftIcon="pi pi-pencil" tooltip="Facture(s) préfinancée(s)" [style]="{'width': '100%'}"> 

	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <span style="font-weight:bold !important;  font-size: 15px !important;">
                        Total montant réclamé des sinistres: {{montantTotalReclameFamille | formatTableValue: 'number':true}}
                        </span>
                </ng-template>
                <ng-template pTemplate="right">
                    
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col p-mt-5">
                                
                                <span style="font-weight:bold !important;  font-size: 15px !important;">
                                    Total montant remboursé des sinistres: {{montantTotalRembourseFamille | formatTableValue: 'number':true}}
                                </span>
                               
                            </div>
                        </div>
                </ng-template>
				
			</p-toolbar>

            <p-table [value]="consoSinistreFamilles"
                     rowGroupMode="rowspan"
                sortField="adherent.prenom" sortMode="single" (onSort)="onSort()" styleClass="p-datatable-striped" [scrollable]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0"></h5>
						<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th>Assuré(e)</th>
                        <th pSortableColumn="id" >Total Montant Réclamé<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="id" >Total Montant Remboursé<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="id" >Date de déclaration<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact" >Numéro<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact">Type de paiement<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="personneRessource">Montant réclamé<p-sortIcon field="personneRessource"></p-sortIcon></th>
                        <th pSortableColumn="numeroCompteBancaire1" >Montant Remboursé <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                        <th></th>
                        
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-garant let-rowIndex="rowIndex">
					<tr>
                        <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                            <span class="p-text-bold p-ml-2">{{garant?.adherent?.nom}} {{garant?.adherent?.prenom}}</span>
                        </td>
                        <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex && rowGroupMetadata[garant?.adherent?.prenom].size !== 1" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                            <span class="p-text-bold p-ml-2">{{montantTotalReclame | formatTableValue: 'number':true}}</span>
                            <!-- <p-tag styleClass="p-mr-2" severity="warning">{{montantTotalReclame | formatTableValue: 'number':true}}</p-tag> -->
                        </td>
                        <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex && rowGroupMetadata[garant?.adherent?.prenom].size !== 1" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                            <span class="p-text-bold p-ml-2">{{montantTotalRembourse | formatTableValue: 'number':true}}</span>
                            <!-- <p-tag styleClass="p-mr-2" severity="success">{{montantTotalRembourse | formatTableValue: 'number':true}}</p-tag> -->
                        </td>
                        <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex && rowGroupMetadata[garant?.adherent?.prenom].size === 1" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                            <span class="p-text-bold p-ml-2">{{garant?.montantTotalReclame | formatTableValue: 'number':true}}</span>
                            <!-- <p-tag styleClass="p-mr-2" severity="warning">{{garant?.montantTotalReclame | formatTableValue: 'number':true}}</p-tag> -->
                        </td>
                        <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex && rowGroupMetadata[garant?.adherent?.prenom].size === 1" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                            <span class="p-text-bold p-ml-2">{{garant?.montantTotalRembourse | formatTableValue: 'number':true}}</span>
                            <!-- <p-tag styleClass="p-mr-2" severity="success">{{garant?.montantTotalRembourse | formatTableValue: 'number':true}}</p-tag> -->
                        </td>
						<td><span class="p-column-title" >{{garant?.dateDeclaration | formatTableValue : 'date'}}</span></td>
                        <td><span class="p-column-title" >{{garant?.numeroSinistre}}</span></td>
                        <td><span class="p-column-title" >{{garant?.typePaiement}}</span></td>
                        <td><span class="p-column-title" >{{garant?.montantReclame | formatTableValue: 'number':true}}</span></td>
                        <td><span class="p-column-title" >{{garant?.montantRembourse | formatTableValue: 'number':true}}</span></td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" 
                            (click)="voirPrestationDetail(garant)" class="p-button-rounded p-button-success p-mr-2">
                            </button>
                        </td>
                        <!-- <td>
                            <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirSinistreDetail(garant)"
                                  class="p-button-rounded p-button-success p-mr-2">
                            </button>
                        </td> -->
            
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{consoSinistreFamilles ? consoSinistreFamilles.length : 0 }} prestation(s) trouvé(es).
					</div>
				</ng-template>
			</p-table>


            <!-- Essai du dropdown -->
<!--             <br>
            <span style="font-size: 25px !important; color: brown;"> Autre présentation</span>
            <br>
            <br>

            <p-table #dt [value]="consoFamillesSinistre" [loading]="false" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['compte','poste','libelle']"
            [rowHover]="true" dataKey="name"
            styleClass="p-datatable-customers"
            currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    <h5 class="p-m-0"></h5>
                    <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="name">Assuré(e) <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Souscripteur</th>
                        <th pSortableColumn="price">Montant réclamé <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Montant Remboursé <p-sortIcon field="category"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-garant let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="garant" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{garant?.adherent?.nom}} {{garant?.adherent?.prenom}}</td>
                        <td>{{garant?.adherent?.groupe?.police?.nom}}   </td>
                        <td>{{garant?.totalMontantReclameSinistre | formatTableValue: 'number':true}}</td>
                        <td>{{garant?.totalMontantRembourseSinistre | formatTableValue: 'number':true}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{consoFamillesSinistre ? consoFamillesSinistre.length : 0 }} assuré(es) trouvé(es).
					</div>
				</ng-template>
                <ng-template pTemplate="rowexpansion" let-garant>
                    <tr>
                        <td colspan="5">
                            <div class="p-p-3">
                                <div style="text-align: center !important;">
                                    <span style="font-weight: bold !important; font-size: 18px !important;" class="p-column-title" class="p-badge p-badge-warning">Sinistre(s)</span>
                                </div>
                                <p-table [value]="garant.sinistreList" dataKey="id" rowExpandMode="single">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id" >Date de saisie<p-sortIcon field="contact"></p-sortIcon></th>
                                            <th pSortableColumn="contact" >Numéro<p-sortIcon field="contact"></p-sortIcon></th>
                                            <th pSortableColumn="contact">Type de paiement<p-sortIcon field="contact"></p-sortIcon></th>
                                            <th pSortableColumn="personneRessource">Montant réclamé<p-sortIcon field="personneRessource"></p-sortIcon></th>
                                            <th pSortableColumn="numeroCompteBancaire1" >Montant Remboursé <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                 <ng-template pTemplate="body" let-sinsitre let-expanded="expanded" let-ri="rowIndex">
                                        <tr>
                                    <td><span class="p-column-title" >{{sinsitre?.dateSaisie | formatTableValue : 'date'}}</span></td>
                                    <td><span class="p-column-title" >{{sinsitre?.numeroSinistre}}</span></td>
                                    <td><span class="p-column-title" >{{sinsitre?.typePaiement}}</span></td>
                                    <td><span class="p-column-title" >{{sinsitre?.ordreReglement?.montantReclame | formatTableValue: 'number':true}}</span></td>
                                    <td><span class="p-column-title" >{{sinsitre?.ordreReglement?.montantPaye | formatTableValue: 'number':true}}</span></td>
                                    <td>
                                        <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirPrestationDetail(sinsitre)"
                                            class="p-button-rounded p-button-success p-mr-2">
                                        </button>
                                    </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        <div class="p-d-flex p-ai-center p-jc-between">
                                            {{garant.sinistreList ? garant.sinistreList.length : 0 }} sinistre(s) trouvé(s).
                                        </div>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
		</div>
        <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
	    </div>

        <p-dialog [maximizable]="true" #dialStudent [(visible)]="displayPrefinancementPrestationDetail" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1500px'}">
            <ng-template pTemplate="content">
                <div class="card">
                
                    <div *ngFor="let prestation of prestationDetail;let i = index;">
                        <div>
                        <p-fieldset [legend]="'Prestation '+(i+1)" toggleable="true">
                            
                            <div class="p-fluid p-formgrid p-grid">
                                
                                <div class="p-field p-col">
                                    <label for="lastname2" style="font-size: 15px !important;"> Sous acte:</label>
                                    <br>
                                    <span >{{prestation?.sousActe?.libelle}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="sousActe" style="font-size: 15px !important;">Pathologie:</label>
                                    <br>
                                    <span >{{prestation?.pathologie?.libelle}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="produit" style="font-size: 15px !important;">Produit pharmaceutique:</label>
                                    <br>
                                    <span *ngFor="let p of prestation.produitPharmaceutique" >{{p?.libelle}}</span>
                                </div>
                            </div>
                                
                            <div class="p-fluid p-formgrid p-grid">
                                
                                
                                <div class="p-field p-col">
                                    <label for="dateEffet" style="font-size: 15px !important;">Date de soins:</label>
                                    <br>
                                    <span >{{prestation?.dateSoins  | formatTableValue : 'date'}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="centre" style="font-size: 15px !important;">Type de prestation:</label>
                                    <br>
                                    <span >{{prestation?.typePrestation}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="medecin" style="font-size: 15px !important;">Centre Prescripteur:</label>
                                    <br>
                                    <span >{{prestation?.prestataire?.libelle}}</span>
                                </div>
                                
                            </div>
                            
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col">
                                    <label for="medecin" style="font-size: 15px !important;">Medecin:</label>
                                    <br>
                                    <span >{{prestation?.medecin?.nom}} {{prestation?.medecin?.premon}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="nombreActe" style="font-size: 15px !important;">Nombre Acte:</label>
                                    <br>
                                    <span >{{prestation?.nombreActe | formatTableValue: 'number':true}}</span>
                                </div>
                                
                                <div class="p-field p-col">
                                    <label for="nombreActe" style="font-size: 15px !important;">Cout unitaire:</label>
                                    <br>
                                    <span >{{prestation?.coutUnitaire | formatTableValue: 'number':true}}</span>
                                </div>
                                
                            </div>
                            
                            
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col">
                                    <label for="nombreActe" style="font-size: 15px !important;">Debours:</label>
                                    <br>
                                    <span >{{prestation?.debours | formatTableValue: 'number':true}}</span>
                                </div>
                                <div class="p-field p-col">
                                    <label for="nombreActe" style="font-size: 15px !important;">Base remboursement:</label>
                                    <br>
                                    <span >{{prestation?.baseRemboursement | formatTableValue: 'number':true}}</span>
                                </div>
                                
                                <div class="p-field p-col-4">
                                    <label for="sousActe" style="font-size: 15px !important;">Taux:</label>
                                    <br>
                                    <span >{{prestation?.taux?.taux}}</span>
                                </div>
                            </div>
                            
                            
                            <div class="p-fluid p-formgrid p-grid">
                                
                                <div class="p-field p-col-4">
                                    <label for="nombreActe" style="font-size: 15px !important;">Montant remboursé:</label>
                                    <br>
                                    <span >{{prestation?.montantRembourse | formatTableValue: 'number':true}}</span>
                                </div>
                                
                                <div class="p-field p-col-4">
                                    <label for="nombreActe" style="font-size: 15px !important;">Montant supporté par l'assuré(e):</label>
                                    <br>
                                    <span *ngIf="prestation.typePrestation =='PREFINANCEMENT'">{{prestation?.montantSupporte | formatTableValue: 'number':true}}</span>
                                    <span *ngIf="prestation.typePrestation =='TIERSPAYANT'">{{prestation?.baseRemboursement - prestation?.montantRembourse | formatTableValue: 'number':true}}</span>
                                </div>
                                
                                <div class="p-field p-col-4">
                                    <label for="sousActe" style="font-size: 15px !important;">Decision:</label>
                                    <br>
                                    <p-tag styleClass="p-mr-2" *ngIf="prestation.sort == 'ACCORDE'" severity="success">{{prestation?.sort}}</p-tag>
                                    <p-tag *ngIf="prestation.sort == 'REJETE'" styleClass="p-mr-2" severity="danger">{{prestation?.sort}}</p-tag>
                                </div>
                                
                            </div>
                            
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-4">
                                <label for="observation" style="font-size: 15px !important;">Observation:</label>
                                <br>
                                <span >{{prestation?.observation}}</span>
                                </div>
                            </div> 
                        </p-fieldset>
                            
                        
                        
                </div>
            
            </div>   
            </div>    
            </ng-template>    
        </p-dialog>


        <p-dialog [maximizable]="true" #dialStudent [(visible)]="displaySinistreDetail" header="Sinistre(s)" [modal]="true" styleClass="p-fluid" [style]="{width: '1200px'}">
            <ng-template pTemplate="content">
                <p-table #dt [value]="sinistreDetailList" [loading]="false" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['compte','poste','libelle']"
					 [rowHover]="true" dataKey="id"
					 styleClass="p-datatable-customers"
					 currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0"></h5>
						<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="contact" >Date de saisie<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact" >Numéro<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact">Type de paiement<p-sortIcon field="contact"></p-sortIcon></th>
						<th pSortableColumn="personneRessource">Montant réclamé<p-sortIcon field="personneRessource"></p-sortIcon></th>
                        <th pSortableColumn="numeroCompteBancaire1" >Montant Remboursé <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                        <th> </th>
                        
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-sinsitre>
					<tr>
						<td><span class="p-column-title" >{{sinsitre?.dateSaisie | formatTableValue : 'date'}}</span></td>
                        <td><span class="p-column-title" >{{sinsitre?.numeroSinistre}}</span></td>
                        <td><span class="p-column-title" >{{sinsitre?.typePaiement}}</span></td>
                        <td><span class="p-column-title" >{{sinsitre?.ordreReglement?.montantReclame | formatTableValue: 'number':true}}</span></td>
						<td><span class="p-column-title" >{{sinsitre?.ordreReglement?.montantPaye | formatTableValue: 'number':true}}</span></td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirSinistreDetail(garant)"
                                  class="p-button-rounded p-button-success p-mr-2">
                            </button>
                        </td>
            
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{sinistreDetailList ? sinistreDetailList.length : 0 }} Sinistre(s) trouvé(s).
					</div>
				</ng-template>
			</p-table>  
            </ng-template>    
        </p-dialog>
    </p-tabPanel>
    <p-tabPanel header="Tiers Payant(s)" leftIcon="pi pi-pencil" tooltip="Facture(s) Tiers Payant(s)" [style]="{'width': '100%'}">
        <div class="p-col-12">
            <p-toast></p-toast>
    
            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <!-- <ng-template pTemplate="left">
                        <button pButton pRipple icon="pi pi-pencil" pTooltip="Voir le récapitulatif" label="Récapitulatif " class=" p-button-warning" (click)="imprimerFormulaire()"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col p-mt-5">
                                    
                                    <button class="p-button-info" pTooltip="Imprimer le récap" [disabled]="appelFondForm?.invalid" pButton pRipple label="Imprimer" icon="pi pi-print" (click)="imprimerRecap()"></button>
                                   
                                </div>
                            </div>
                    </ng-template> -->
                    
                </p-toolbar>
    
                <p-table [value]="consoSinistreTiersPayantFamilles"
                rowGroupMode="rowspan"
           sortField="adherent.prenom" sortMode="single" (onSort)="onSort()" styleClass="p-datatable-striped" [scrollable]="true">
           <ng-template pTemplate="caption">
               <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                   <h5 class="p-m-0"></h5>
                   <span class="p-input-icon-left">
                   <i class="pi pi-search"></i>
                   <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
               </span>
               </div>
           </ng-template>
           <ng-template pTemplate="header">
               <tr>
                   <th>Assuré(e)</th>
                    <th>Date de saisie</th>
                    <th>Numéro de facture</th>
                    <th>Numéro de sinistre</th>
                    <th>Souscripteur</th>
                    <th pSortableColumn="price">Prestataire <p-sortIcon field="price"></p-sortIcon></th>
                   <th></th>
                   
               </tr>
           </ng-template>
           <ng-template pTemplate="body" let-garant let-rowIndex="rowIndex">
               <tr>
                   <td *ngIf="rowGroupMetadata[garant?.adherent?.prenom].index === rowIndex" [attr.rowspan]="rowGroupMetadata[garant?.adherent?.prenom].size" class="vue">
                       <span class="p-text-bold p-ml-2">{{garant?.adherent?.nom}} {{garant?.adherent?.prenom}}</span>
                   </td>
                   <td>{{garant?.dateSaisie | formatTableValue: 'date'}}</td>
                   <td>{{garant?.numeroFacture }}</td>
                   <td>{{garant?.numeroSinistre }}</td>
                   <td>{{garant?.adherent?.groupe?.police?.nom}}  </td>
                    <td>{{garant?.prestataire.libelle}}</td>
                   <td>
                       <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" 
                       (click)="voirPrestationDetail(garant)" class="p-button-rounded p-button-success p-mr-2">
                       </button>
                   </td>
                   <!-- <td>
                       <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirSinistreDetail(garant)"
                             class="p-button-rounded p-button-success p-mr-2">
                       </button>
                   </td> -->
       
               </tr>
           </ng-template>
           <ng-template pTemplate="summary">
               <div class="p-d-flex p-ai-center p-jc-between">
                   {{consoSinistreTiersPayantFamilles ? consoSinistreTiersPayantFamilles.length : 0 }} prestation(s) trouvé(es).
               </div>
           </ng-template>
       </p-table>

            <br>
            <span style="font-size: 25px !important; color: brown;"> Autre présentation</span>
            <br>
            <br>

            <p-table #dt [value]="consoFamillesSinistreTiersPayant" [loading]="false" [columns]="cols" [rows]="10" [paginator]      ="true"       [globalFilterFields]="['compte','poste','libelle']"
                [rowHover]="true" dataKey="name"
                styleClass="p-datatable-customers"
                currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem"></th>
                            <th pSortableColumn="name">Assuré(e) <p-sortIcon field="name"></p-sortIcon></th>
                            <th>Souscripteur</th>
                            <th pSortableColumn="price">Montant réclamé <p-sortIcon field="price"></p-sortIcon></th>
                            <th pSortableColumn="category">Montant Remboursé <p-sortIcon field="category"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-garant let-expanded="expanded">
                        <tr>
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="garant" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td>{{garant?.adherent?.nom}} {{garant?.adherent?.prenom}}</td>
                            <td>{{garant?.adherent?.groupe?.police?.nom}}   </td>
                            <td>{{garant?.totalMontantReclameSinistre | formatTableValue: 'number':true}}</td>
                            <td>{{garant?.totalMontantRembourseSinistre | formatTableValue: 'number':true}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            {{consoFamillesSinistreTiersPayant ? consoFamillesSinistreTiersPayant.length : 0 }} assuré(es) trouvé(es).
                        </div>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-garant>
                        <tr>
                            <td colspan="5">
                                <div class="p-p-3">
                                    <div style="text-align: center !important;">
                                        <span style="font-weight: bold !important; font-size: 18px !important;" class="p-column-title" class="p-badge p-badge-warning">Sinistre(s)</span>
                                    </div>
                                    <p-table [value]="garant.sinistreTierPayantList" dataKey="id" rowExpandMode="single">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="id" >Date de saisie<p-sortIcon field="contact"></p-sortIcon></th>
                                                <th pSortableColumn="contact" >Numéro<p-sortIcon field="contact"></p-sortIcon></th>
                                                <th pSortableColumn="contact">Prestataire<p-sortIcon field="contact"></p-sortIcon></th>
                                                <th pSortableColumn="personneRessource">Montant réclamé<p-sortIcon field="personneRessource"></p-sortIcon></th>
                                                <th pSortableColumn="numeroCompteBancaire1" >Montant Remboursé <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                                                <th style="width: 4rem"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-sinsitre>
                                            <tr>
                                        <td><span class="p-column-title" >{{sinsitre?.dateSaisie | formatTableValue : 'date'}}</span></td>
                                        <td><span class="p-column-title" >{{sinsitre?.numeroSinistre}}</span></td>
                                        <td><span class="p-column-title" >{{sinsitre?.prestataire?.libelle}}</span></td>
                                        <td><span class="p-column-title" >{{sinsitre?.montantReclame | formatTableValue: 'number':true}}</span></td>
                                        <td><span class="p-column-title" >{{sinsitre?.montantPaye | formatTableValue: 'number':true}}</span></td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirPrestationDetail(sinsitre)"
                                                class="p-button-rounded p-button-success p-mr-2">
                                            </button>
                                        </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="6">There are no order for this product yet.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
            </div>
    
            <p-dialog [maximizable]="true" #dialStudent [(visible)]="displayPrefinancementPrestationDetail" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1500px'}">
                <ng-template pTemplate="content">
                    <div class="card">
                    
                        <div *ngFor="let prestation of prestationDetail;let i = index;">
                            <div>
                            <p-fieldset [legend]="'Prestation '+(i+1)" toggleable="true">
                                
                                <div class="p-fluid p-formgrid p-grid">
                                    
                                    <div class="p-field p-col">
                                        <label for="lastname2" style="font-size: 15px !important;"> Sous acte:</label>
                                        <br>
                                        <span >{{prestation?.sousActe?.libelle}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col">
                                        <label for="sousActe" style="font-size: 15px !important;">Pathologie:</label>
                                        <br>
                                        <span >{{prestation?.pathologie?.libelle}}</span>
                                    </div>
                                </div>
                                    
                                <div class="p-fluid p-formgrid p-grid">
                                    
                                    
                                    <div class="p-field p-col">
                                        <label for="dateEffet" style="font-size: 15px !important;">Date de soins:</label>
                                        <br>
                                        <span >{{prestation?.dateSoins  | formatTableValue : 'date'}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col">
                                        <label for="centre" style="font-size: 15px !important;">Type de prestation:</label>
                                        <br>
                                        <span >{{prestation?.typePrestation}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col">
                                        <label for="medecin" style="font-size: 15px !important;">Centre Prescripteur:</label>
                                        <br>
                                        <span >{{prestation?.prestataire?.libelle}}</span>
                                    </div>
                                    
                                </div>
                                
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label for="medecin" style="font-size: 15px !important;">Medecin:</label>
                                        <br>
                                        <span >{{prestation?.medecin?.nom}} {{prestation?.medecin?.premon}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col">
                                        <label for="nombreActe" style="font-size: 15px !important;">Nombre Acte:</label>
                                        <br>
                                        <span >{{prestation?.nombreActe | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col">
                                        <label for="nombreActe" style="font-size: 15px !important;">Cout unitaire:</label>
                                        <br>
                                        <span >{{prestation?.coutUnitaire | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label for="nombreActe" style="font-size: 15px !important;">Debours:</label>
                                        <br>
                                        <span >{{prestation?.debours | formatTableValue: 'number':true}}</span>
                                    </div>
                                    <div class="p-field p-col">
                                        <label for="nombreActe" style="font-size: 15px !important;">Base remboursement:</label>
                                        <br>
                                        <span >{{prestation?.baseRemboursement | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col-4">
                                        <label for="sousActe" style="font-size: 15px !important;">Taux:</label>
                                        <br>
                                        <span >{{prestation?.taux?.taux}}</span>
                                    </div>
                                </div>
                                
                                
                                <div class="p-fluid p-formgrid p-grid">
                                    
                                    <div class="p-field p-col-4">
                                        <label for="nombreActe" style="font-size: 15px !important;">Montant remboursé:</label>
                                        <br>
                                        <span >{{prestation?.montantRembourse | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col-4">
                                        <label for="nombreActe" style="font-size: 15px !important;">Montant supporté par l'assuré(e):</label>
                                        <br>
                                        <span *ngIf="prestation.typePrestation =='PREFINANCEMENT'">{{prestation?.montantSupporte | formatTableValue: 'number':true}}</span>
                                        <span *ngIf="prestation.typePrestation =='TIERSPAYANT'">{{prestation?.baseRemboursement - prestation?.montantRembourse | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                    <div class="p-field p-col-4">
                                        <label for="sousActe" style="font-size: 15px !important;">Decision:</label>
                                        <br>
                                        <p-tag styleClass="p-mr-2" *ngIf="prestation.sort == 'ACCORDE'" severity="success">{{prestation?.sort}}</p-tag>
                                        <p-tag *ngIf="prestation.sort == 'REJETE'" styleClass="p-mr-2" severity="danger">{{prestation?.sort}}</p-tag>
                                    </div>
                                    
                                </div>
                                
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-4">
                                    <label for="observation" style="font-size: 15px !important;">Observation:</label>
                                    <br>
                                    <span >{{prestation?.observation}}</span>
                                    </div>
                                </div> 
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label for="produit" style="font-size: 15px !important;">Produit pharmaceutique:</label>
                                        <br>
                                        <span *ngFor="let p of prestation.produitPharmaceutique" >{{p?.libelle}}</span>
                                    </div>
                                </div>
                                
                            </p-fieldset>
                                
                            
                            
                    </div>
                
                </div>   
                </div>    
                </ng-template>
                </p-dialog>
    </p-tabPanel>

</p-tabView>
    
</div>
