.vue{
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-color: black !important;
    border-radius: 5px;
}
