<div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
			<p-toolbar styleClass="p-mb-4">
                <!-- <ng-template pTemplate="left">
                    <button pButton pRipple icon="pi pi-pencil" pTooltip="Voir le récapitulatif" label="Récapitulatif " class=" p-button-warning" (click)="imprimerFormulaire()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col p-mt-5">
                                
                                <button class="p-button-info" pTooltip="Imprimer le récap" [disabled]="appelFondForm?.invalid" pButton pRipple label="Imprimer" icon="pi pi-print" (click)="imprimerRecap()"></button>
                               
                            </div>
                        </div>
                </ng-template> -->
				
			</p-toolbar>

			<p-table #dt [value]="depenseFamilles" [loading]="false" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['compte','poste','libelle']"
					 [rowHover]="true" dataKey="id"
					 styleClass="p-datatable-customers"
					 currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0"></h5>
						<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="contact" >Matricule<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact" >Assuré(e)<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact" >Date Naissance<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact">Souscripteur<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="code" >Genre <p-sortIcon field="code"></p-sortIcon></th>
						<th pSortableColumn="nom" >Qualité Assuré <p-sortIcon field="nom"></p-sortIcon></th>
						<th pSortableColumn="personneRessource">Montant réclamé<p-sortIcon field="personneRessource"></p-sortIcon></th>
                        <th pSortableColumn="numeroCompteBancaire1" >Montant Remboursé <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                        <th> </th>
                        
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-garant>
					<tr>
						<td><span class="p-column-title" >{{garant?.adherent.numero}}</span></td>
                        <td><span class="p-column-title" >{{garant?.adherent.nom}} {{garant?.adherent.prenom}}</span></td>
                        <td><span class="p-column-title" >{{garant?.adherent.dateNaissance | formatTableValue : 'date'}}</span></td>
                        <td><span class="p-column-title" >{{garant?.adherent.groupe.police.nom}}</span></td>
                        <td><span class="p-column-title" >{{garant?.adherent.genre.code}}</span></td>
						<td><span class="p-column-title" >{{garant?.adherent?.qualiteAssure?.code}}</span></td>
                        <td><span class="p-column-title" >{{garant?.totalMontantReclame | formatTableValue: 'number':true}}</span></td>
						<td><span class="p-column-title" >{{garant?.totalMontantRembourse | formatTableValue: 'number':true}}</span></td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" pTooltip="Voir les détails" (click)="voirPrestationDetail(garant)"
                                  class="p-button-rounded p-button-success p-mr-2">
                            </button>
                        </td>
            
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{depenseFamilles ? depenseFamilles.length : 0 }} assuré(es) trouvé(es).
					</div>
				</ng-template>
			</p-table>
		</div>

        <p-dialog [maximizable]="true" [(visible)]="displayDialogFormGarant" header="Ajouter un appel de fond" [modal]="true" styleClass="p-fluid" (onHide)="annulerSaisie()">
            <ng-template pTemplate="content">
            <form (ngSubmit)="onCreate()"  [formGroup]="appelFondForm">
                <div class="card">
                <p-fieldset legend="Identification" toggleable="true">
                <div class="p-fluid p-formgrid p-grid">

                        <div class="p-field p-col">
                            <label for="firstname2">Destinataire <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="destinataire" type="text" required formControlName="destinataire"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="appelFondForm" [entityField]="'destinataire'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Numéro Reference <span style="color: red !important; font-size: 1.4em"></span></label>
                            <input id="numeroRef" type="text" disabled formControlName="numeroRef"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="appelFondForm" [entityField]="'numeroRef'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Libelle <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="libelle" type="text" required formControlName="libelle"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="appelFondForm" [entityField]="'libelle'">
                            </app-entity-validation>
                        </div>

                </div>

                <div class="p-fluid p-formgrid p-grid">
                    
                    <div class="p-field p-col">
                        <label for="firstname2">Objet <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="objet" type="text" formControlName="objet"  pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                      [formGroup]="appelFondForm" [entityField]="'objet'">
                        </app-entity-validation>
                    </div>

                    <div class="p-field p-col">
                        <label for="firstname2">Type de Compte <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <p-dropdown inputId="decision" [filter]="true"
                                                showClear="true" [options]="typeCompte"
                                                formControlName="typeCompte"
                                                [autoDisplayFirst]="false">
                        </p-dropdown>
                        
                    </div>

                       <div class="p-field p-col">
                            <label for="compteParent">Date d'Appel de fond <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="dateAppel" type="date" formControlName="dateAppel" pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                            [formGroup]="appelFondForm" [entityField]="'dateAppel'">
                            </app-entity-validation>
                        </div>

                    </div>


                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="firstname2">Garant<span style="color: red !important; font-size: 1.4em">*</span></label>
                            <p-dropdown inputId="garant" [filter]="true" optionLabel="nom"
                                                    showClear="true" [options]="garantList"
                                                    formControlName="garant"
                                                    [autoDisplayFirst]="false" [formGroup]="appelFondForm">
                            </p-dropdown>
                            
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Montant Appel de fond<span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="montantAppel" type="text" required formControlName="montantAppel"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="appelFondForm" [entityField]="'montantAppel'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Signataire <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="signataire" type="text" required formControlName="signataire"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="appelFondForm" [entityField]="'signataire'">
                            </app-entity-validation>
                        </div>

                       

                </div>

                    

                </p-fieldset>
                    </div>

                <div class="p-grid p-justify-between">
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times"  (click)="annulerSaisie()"></button>
                    </div>
                    <div>
                    <button  [disabled]="appelFondForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    </div>
                </div>
                </form>                     
             </ng-template>
        </p-dialog>

        <p-dialog [maximizable]="true" [(visible)]="etatAppel" header="Etat de suivi des appels de fond" [modal]="true" styleClass="p-fluid" [style]="{width: '1200px'}">
            <ng-template pTemplate="content">
                <div class="card">
                <h5></h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="firstname2">Garant<span style="color: red !important; font-size: 1.4em">*</span></label>
                        <p-dropdown inputId="garant" [filter]="true" optionLabel="nom"
                                                showClear="true" [options]="garantList"
                                                [autoDisplayFirst]="false" [(ngModel)]="garant" (onchange)="searchAppelFond()">
                        </p-dropdown>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="compteParent">Date debut <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateAppel" type="date" pInputText [(ngModel)]="dateDebut" (onchange)="searchAppelFond()">
                        
                    </div>
                    <div class="p-field p-col-3">
                        <label for="compteParent">Date fin <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateAppel" type="date"  pInputText [(ngModel)]="dateFin" (onchange)="searchAppelFond()">
                        
                    </div>
                    <div class="p-field p-col-2">
                        <label for="compteParent">Rechercher <span style="color: red !important; font-size: 1.4em"></span></label>
                        <button pButton pRipple label="Rechercher" [disabled]="!garant || !dateDebut || !dateFin" icon="pi pi-search-plus" class="p-button-success p-mr-2 p-mb-2" (click)="searchAppelFond()"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <span *ngIf="appelFondTotal?.totalAppel != null">
                        <span style="color: black; font-weight:bold; font-size: 1.3em">Montant total perçu auprès du garant "{{garant?.nom}}" par 
                        appels de fond du {{dateDebut | formatTableValue : 'date'}} au {{dateFin | formatTableValue : 'date'}}=></span> <span style="color: green; font-weight:bold; font-size: 
                            1.6em">{{appelFondTotal?.totalAppel | formatTableValue: 'number':true}} FCFA</span> 
                    </span>
                </div>
                
            </div>
            </ng-template>
        </p-dialog>


            <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
	</div>

    <p-dialog [maximizable]="true" [(visible)]="display" header="Récapitulatif" [modal]="true" styleClass="p-fluid" 
    [style]="{width: '1000px'}">

    <ng-template pTemplate="content">
        <div class="card">

            <form  [formGroup]="depenseFamilleForm">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="compteParent">Date de début<span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateDebut" type="date" formControlName="dateDebut" pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                        [formGroup]="depenseFamilleForm" [entityField]="'dateDebut'">
                        </app-entity-validation>
                    </div>
                    <div class="p-field p-col">
                        <label for="compteParent">Date de fin<span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateFin" type="date" formControlName="dateFin" pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                        [formGroup]="depenseFamilleForm" [entityField]="'dateFin'">
                        </app-entity-validation>
                    </div>
                </div>
                <div class="p-grid p-justify-between">
                    <div>
                        <button pButton pRipple label="Quitter" type="button" (click)="closeDialog()" icon="pi pi-times"  class="p-button-danger p-mr-2 p-mb-2" ></button>
                    </div>
                    <div>
                        <button class="p-button-info" pTooltip="Imprimer le récap" [disabled]="depenseFamilleForm?.invalid" pButton pRipple label="Imprimer" icon="pi pi-print" (click)="loadData()"></button>
                    </div>
                </div>

            </form>



        </div>
    </ng-template>
    </p-dialog>

   <!--  Visualisation des prestations -->

  <!--  <p-dialog [maximizable]="true"  [(visible)]="displaySinistreDetail" header="Prestation" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div *ngFor="let prestation of prestation.prestationList;let i = index;">
        <div class="card">

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3">
                    <label for="dateSoins">Date de soins</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.dateSoins | formatTableValue: 'date'}}
                </div>
               

              <div class="p-field p-col-3">
               <label for="exercice">Nom </label> 
               &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.adherent?.nom}}
            </div>
               <div class="p-field p-col-3">
                <label for="exercice">Prénom </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.adherent?.prenom}}
               
          </div>

          <div class="p-field p-col-3">
            <label for="exercice">Numéro groupe</label> 
            &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.adherent?.numeroGroupe}}
           
            </div>
     
           

              
        </div> 

       

           <div class="p-fluid p-formgrid p-grid">
               

            <div class="p-field p-col-3">
                <label for="exercice">Numéro police</label> 
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.adherent?.groupe?.police?.numero}}
               
          </div>
        
                  <div class="p-field p-col-3">
                   <label for="bonPriseEnCharge">Bon de prise en charge</label>
                   &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.bonPriseEnCharge?.numeros}}
                   
               </div>
        
               <div class="p-field p-col-3">
                <label for="familleActe">Famille acte</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.familleActe?.libelle}}
                
            </div>
              

               <div class="p-field p-col-3">
                   <label for="acte">Acte</label>
                   &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.acte?.libelle}}
                  
               </div>

               

           </div>

           <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-3">
                <label for="sousActe" id="sousActe">SousActe</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.sousActe?.libelle}}
          
            </div>

            <div class="p-field p-col-3">
                <label for="pathologie" id="pathologie">Pathologie</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.pathologie?.code}}
                
            </div>
            <div class="p-field p-col-3">
             <label for="prestataire" id="prestataire">Centre Prescripteur</label>
             &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.prestataire?.libelle}}
             
         </div>
               <div class="p-field p-col-3">
                   <label for="produitPharmaceutique" id="produitPharmaceutique">Produit pharmaceutique</label>
                   <span *ngFor="let item of prestationDetail?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span>
                   
                  
               </div>

               

           </div>

           <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-3">
                <label for="medecin" id="medecin">Medecin</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.medecin?.nom}}
                
            </div>
            <div class="p-field p-col-3">
                <label for="nombreActe" id="nombreActe">Nombre Acte</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.nombreActe | formatTableValue: 'number':true}}
            </div>
            <div class="p-field p-col-3">
             <label for="coutUnitaire" id="coutUnitaire">Cout unitaire </label>
             &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.coutUnitaire | formatTableValue: 'number':true}}
           </div>
              
               <div class="p-field p-col-3">
                   <label for="debours">Debours</label>
                   &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.debours | formatTableValue: 'number':true}}
               </div>
               
           </div>

           <div class="p-fluid p-formgrid p-grid">
            
            <div class="p-field p-col-3">
                <label for="baseRemboursement" id="baseRemboursement">Base remboursement</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.baseRemboursement | formatTableValue: 'number':true}}
            </div>


            <div class="p-field p-col-3">
                <label for="taux" id="taux">Taux </label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.taux?.taux}}
                
            </div>
            <div class="p-field p-col-3">
             <label for="montantRembourse" id="montantRembourse">Montant remboursé</label>
             &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.montantRembourse | formatTableValue: 'number':true}}
         </div>


               <div class="p-field p-col-3">
                <label for="nombreActe">Montant Plafond</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.montantPlafond | formatTableValue: 'number':true}}
            </div>

           

               

           </div>
           <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="nombreActe">Numero du Bon</label>
                &nbsp;&nbsp;&nbsp;&nbsp;{{prestationDetail.numeroBon | formatTableValue: 'number':true}}
            </div>
           </div>
           

        </div>
    </ng-template>
</p-dialog> -->

<p-dialog [maximizable]="true" #dialStudent [(visible)]="displaySinistreDetail" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1500px'}">
    <ng-template pTemplate="content">
        <div class="card">
         
            <div *ngFor="let prestation of prestationDetail.prestationList;let i = index;">
                <div>
                <p-fieldset [legend]="'Prestation '+(i+1)" toggleable="true">
                    
                    <div class="p-fluid p-formgrid p-grid">
                        
                        <div class="p-field p-col">
                            <label for="lastname2" style="font-size: 18px !important;"> Sous acte:</label>
                            <br>
                            <p-tag *ngIf="prestation.sort == 'ACCORDE'" styleClass="p-mr-2" severity="success">{{prestation?.sousActe?.libelle}}</p-tag>
                            <p-tag *ngIf="prestation.sort == 'REJETE'" styleClass="p-mr-2" severity="danger">{{prestation?.sousActe?.libelle}}</p-tag>
                        </div>
                        
                        <div class="p-field p-col">
                            <label for="sousActe" style="font-size: 18px !important;">Pathologie:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.pathologie?.libelle}}</p-tag>   
                        </div>
                        
                        <div class="p-field p-col">
                            <label for="produit" style="font-size: 18px !important;">Produit pharmaceutique:</label>
                            <br>
                            <span *ngFor="let p of prestation.produitPharmaceutique"> <p-tag styleClass="p-mr-2" severity="success">  {{p?.libelle}}</p-tag></span> 
                        </div>
                    </div>
                        
                    <div class="p-fluid p-formgrid p-grid">
                        
                        
                        <div class="p-field p-col">
                            <label for="dateEffet" style="font-size: 18px !important;">Date de soins:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.dateSoins  | formatTableValue : 'date'}}</p-tag> 
                        </div>
                        
                        <div class="p-field p-col">
                            <label for="centre" style="font-size: 18px !important;">Type de prestation:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.typePrestation}}</p-tag>
                        </div>
                        
                        <div class="p-field p-col">
                            <label for="medecin" style="font-size: 18px !important;">Centre Prescripteur:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.prestataire?.libelle}}</p-tag>
                        </div>
                        
                       </div>
                       
                       <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="medecin" style="font-size: 18px !important;">Medecin:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.medecin?.nom}} {{prestation?.medecin?.premon}}</p-tag>
                        </div>
                        
                        <div class="p-field p-col">
                            <label for="nombreActe" style="font-size: 18px !important;">Nombre Acte:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.nombreActe | formatTableValue: 'number':true}}</p-tag>
                        </div>
                           
                        <div class="p-field p-col">
                            <label for="nombreActe" style="font-size: 18px !important;">Cout unitaire:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.coutUnitaire | formatTableValue: 'number':true}}</p-tag>
                        </div>
                           
                       </div>
                       
                       
                       <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="nombreActe" style="font-size: 18px !important;">Debours:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.debours | formatTableValue: 'number':true}}</p-tag>
                        </div>
                        <div class="p-field p-col">
                            <label for="nombreActe" style="font-size: 18px !important;">Base remboursement:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.baseRemboursement | formatTableValue: 'number':true}}</p-tag>
                        </div>
                           
                        <div class="p-field p-col-4">
                            <label for="sousActe" style="font-size: 18px !important;">Taux:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success"> {{prestation?.taux?.taux}}</p-tag>
                        </div>
                       </div>
                       
                       
                       <div class="p-fluid p-formgrid p-grid">
                           
                        <div class="p-field p-col-4">
                            <label for="nombreActe" style="font-size: 18px !important;">Montant remboursé:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success">{{prestation?.montantRembourse | formatTableValue: 'number':true}}</p-tag>
                        </div>
                        
                        <div class="p-field p-col-4">
                            <label for="nombreActe" style="font-size: 18px !important;">Montant supporté par l'assuré(e):</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success">{{prestation?.montantSupporte | formatTableValue: 'number':true}}</p-tag>
                        </div>
                        
                        <div class="p-field p-col-4">
                            <label for="sousActe" style="font-size: 18px !important;">Decision:</label>
                            <br>
                            <p-tag styleClass="p-mr-2" severity="success">{{prestation?.sort}}</p-tag>
                        </div>
                        
                        <!--
                        <div class="p-field p-col-4">
                            <label for="sousActe">Sort <sup style="color: red !important; size: 1.4em;">*</sup></label>
                            <p-dropdown inputId="sort"  [filter]="true"
                                        showClear="true" [options]="typeSort"
                                        formControlName="sort"></p-dropdown>
                        </div>
                        -->
                           
                       </div>
                       
                       <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-4">
                        <label for="observation" style="font-size: 18px !important;">Observation:</label>
                        <br>
                        <p-tag styleClass="p-mr-2" severity="success">{{prestation?.observation}}</p-tag>
                        </div>
                       </div> 
                </p-fieldset>
                    
                
                
            </div>
       
       </div>   
    </div>    
       </ng-template>   
    </p-dialog>

    
</div>
