<div class="p-card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
<p-dialog [(visible)]="isToImporteExcelFile" 
    [header]="'INCORPORATION'"
    [style]="{width: '80%'}"
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid" style="padding: 1rem;">


                <!-- Initiateur -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="typeDemanteur">Initiateur <sup style="color: red;">*</sup></label>
                    <p-dropdown 
                        inputId="typeDemanteur" 
                        dataKey="id" 
                        [filter]="true" 
                        showClear="true"
                        [options]="demandeursList" 
                        [(ngModel)]="historiqueAvenant.demandeur"
                        placeholder="Sélectionner" 
                        optionLabel="libelle" 
                        class="w-full">
                    </p-dropdown>
                </div>

                <!-- Exercice -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="compteTiers" class="font-bold">
                        Sélectionner l'exercice <span style="color: red;">*</span>
                    </label>
                    <p-dropdown 
                        inputId="compteTiers" 
                        dataKey="id" 
                        [filter]="true"
                        showClear="true" 
                        [options]="exercices"
                        name="exercice"
                        [(ngModel)]="historiqueAvenant.exercice"
                        [autoDisplayFirst]="true" 
                        appendTo="body"
                        placeholder="Sélectionnez l'exercice"
                        optionLabel="nomExo"
                        class="w-full">
                    </p-dropdown>
                </div>

                        <div class="p-field p-col-12 p-md-6">
                            <label for="fraisBadge">Groupe<sup style="color: red !important;">*</sup></label>
                           
                                <p-dropdown  [options]="groupesByPolicy" optionLabel="libelle"
                                            name="groupe"
                                            [(ngModel)]="historiqueAvenant.groupe"
                                            [filter]="true" filterBy="libelle" [showClear]="true"
                                            placeholder="Choisir un groupe"
                                            >
                                </p-dropdown>
                        </div>

                                        <!-- Motif -->
                <div class="p-field p-col-12 p-md-6">
                <label for="observation">Motif<sup style="color: red;">*</sup></label>
                <input 
                    id="observation"
                    type="text"
                    name="observation"
                    [(ngModel)]="historiqueAvenant.observation"
                    [disabled]="true"
                    pInputText
                    class="p-inputtext w-full"
                    
                />
                </div>

                         <div class="p-field p-col-12 p-md-3">
                            <label for="nom">Date d'Avenant<sup style="color: red !important;">*</sup></label>
                            <input  id="dateAvenant" type="date" name="dateAvenant" [(ngModel)]="historiqueAvenant.dateAvenant"  pInputText (change)="onSelectedAvenatDate()">

                           
                        </div>

                         <div class="p-field p-col-12 p-md-3">
                                <span class="textDanger" *ngIf="isInValidateDate">La date de paiement doit être antérieure ou égale à celle du jour</span>

                            <label for="nom">Date d'Incorporation<sup style="color: red !important;">*</sup></label>
                            <input  id="dateIncorparation" name="dateIncorparation" [(ngModel)]="historiqueAvenant.dateIncorparation" type="date"  pInputText (change)="onCompareDateAvenant()">

                        </div>

                         <div class="p-field p-col-12 p-md-6">
                                <span class="textDanger" *ngIf="isInValidateDate">La date de paiement doit être antérieure ou égale à celle du jour</span>

                            <label for="nom">Date d'effet<sup style="color: red !important;">*</sup></label>
                            <input  id="dateIncorparation" name="dateEffet" [(ngModel)]="historiqueAvenant.dateEffet" type="date"  pInputText (change)="onCompareDateEffect()">

                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Numéro de l'avenant garant<sup style="color: red !important;"></sup></label>
                            <input id="numero" name="numeroGarant" [(ngModel)]="historiqueAvenant.numeroGarant"  type="number" min="0" pInputText [disabled]="etat === 'VIEW'">
                        </div>

                <!-- Frais Badges -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisBadges">Total Frais Badges <sup style="color: red;">*</sup></label>
                    <input 
                        pInputText
                        type="number"
                        inputId="fraisBadges" 
                        name="fraisBadges"
                        [(ngModel)]="historiqueAvenant.fraisBadges"
                        class="w-full"/>
                </div>

                <!-- Frais Accessoires -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisAccessoires">Total Frais Accessoires <sup style="color: red;">*</sup></label>
                    <input 
                        pInputText
                        type="number"
                        inputId="fraisAccessoires" 
                        name="fraisAccessoires" 
                         [(ngModel)]="historiqueAvenant.fraisAccessoires"
                        class="w-full"/>
                    
                </div>


                <!-- Import Excel -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="excelFile">Importer le fichier Excel</label>
                    <input 
                    (change)="getFiles($event)"
                        id="excelFile" 
                        type="file" 
                        pInputText 
                        class="w-full">
                </div>

            </div>
        </div>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="col col-6 p-mr-3">    
                <button
                (click)="onCancelIncorporation()"
                    pButton icon="pi pi-check"
                    label="Quitter"
                    class="p-button-danger">
                </button>  
            </div>

            <div class="col col-6">
                <button 
                    (click)="onSaveIncorporation(historiqueAvenant)"
                    pButton icon="pi pi-check"
                    label="Incorporer"
                    class="p-button-success">
                </button>   
            </div>
        </div>

    </ng-template>
</p-dialog>
</div>
</div>
</div>

<p-toast></p-toast>
