.textDanger{
    text-align: center;
    color: red;
    font-weight: bold;
}
.textGreen{
    color: green;
    font-weight: bold;
}

.principal-row {
  font-weight: bold;
  background-color: #e0f7fa;
  color: #006064;
}
.assureCss {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: green;
}
