<div class="p-card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">

<p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="INCORPORATION">

<div>
<p-dialog [(visible)]="isToImporteExcelFile" 
    [header]="'INCORPORATION'"
    [style]="{width: '50%'}"
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid" style="padding: 1rem;">


                <!-- Initiateur -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="typeDemanteur">Initiateur <sup style="color: red;">*</sup></label>
                    <p-dropdown 
                        inputId="typeDemanteur" 
                        dataKey="id" 
                        [filter]="true" 
                        showClear="true"
                        [options]="demandeursList" 
                        formControlName="demandeur" 
                        (onChange)="onDemandeurChange()"
                        placeholder="Sélectionner" 
                        optionLabel="libelle" 
                        [disabled]="etat === 'VIEW'"
                        class="w-full">
                    </p-dropdown>
                </div>

                <!-- Exercice -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="compteTiers" class="font-bold">
                        Sélectionner l'exercice <span style="color: red;">*</span>
                    </label>
                    <p-dropdown 
                        inputId="compteTiers" 
                        dataKey="id" 
                        [filter]="true"
                        showClear="true" 
                        [options]="exercices"
                        [autoDisplayFirst]="true" 
                        appendTo="body"
                        placeholder="Sélectionnez l'exercice"
                        optionLabel="exercice"
                        class="w-full">
                    </p-dropdown>
                </div>


                        <div class="p-field p-col-12 p-md-6">
                            <label for="fraisBadge">Groupe<sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                           
                                <p-dropdown [options]="groupePolicy" optionLabel="libelle"
                                            name="selectedGroup"
                                            [filter]="true" filterBy="libelle" [showClear]="true"
                                            placeholder="Choisir un groupe"
                                            >
                                </p-dropdown>
                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Date d'Avenant<sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                            <input  id="dateAvenant" type="date"  pInputText (change)="compareDateavenant()">

                           
                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Date d'Incorporation<sup style="color: red !important; font-size: 1.4em;">*</sup></label>
                            <input  id="dateIncorparation" type="date"  pInputText (change)="compareDate()">

                        </div>

                         <div class="p-field p-col-12 p-md-6">
                            <label for="nom">Numéro de l'avenant chez le garant<sup style="color: red !important; font-size: 1.4em;"></sup></label>
                            <input id="numero" type="number" min="0" pInputText [disabled]="etat === 'VIEW'">
                        </div>

                <!-- Frais Badges -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisBadges">Total Frais Badges <sup style="color: red;">*</sup></label>
                    <p-inputNumber 
                        inputId="fraisBadges" 
                        formControlName="fraisBadges" 
                        [disabled]="etat === 'VIEW'" 
                        class="w-full">
                    </p-inputNumber>
                </div>

                <!-- Frais Accessoires -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="fraisAccessoires">Total Frais Accessoires <sup style="color: red;">*</sup></label>
                    <p-inputNumber 
                        inputId="fraisAccessoires" 
                        formControlName="fraisAccessoires" 
                        [disabled]="etat === 'VIEW'" 
                        class="w-full">
                    </p-inputNumber>
                </div>

                <!-- Motif -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="observation">Motif <sup style="color: red;">*</sup></label>
                    <input 
                        id="observation" 
                        type="text" 
                        formControlName="observation" 
                        pInputText 
                       
                        class="w-full">
                </div>

                <!-- Import Excel -->
                <div class="p-field p-col-12 p-md-6">
                    <label for="excelFile">Importer le fichier Excel</label>
                    <input 
                        id="excelFile" 
                        type="file" 
                        pInputText 
                        class="w-full">
                </div>

            </div>
        </div>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="col col-6 p-mr-3">    
                <button
                (click)="onCancelIncorporation()"
                    pButton icon="pi pi-check"
                    label="Quitter"
                    class="p-button-danger">
                </button>  
            </div>

            <div class="col col-6">
                <button 
                    pButton icon="pi pi-check"
                    label="Incorporer"
                    class="p-button-success">
                </button>   
            </div>
        </div>

    </ng-template>
</p-dialog>



        </div>

    </p-tabPanel>
    <p-tabPanel header="AUTOFINANCEMENT">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-tabPanel>
    <p-tabPanel header="MUTUELLE">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
    <p-tabPanel header="PARTICULIER">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
    <p-tabPanel header="AUTRE">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
</p-tabView>

</div>
</div>
</div>

<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
