

<p-dialog [(visible)]="isTodisplayRenouvelementDialogue" 
    [style]="{width: '90%' }"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

<p-fieldset 
  [legend]="'AVENANT D\'INCORPORATION DE LA POLICE : ' + policeSelected?.nom" 
  [toggleable]="false">

<div class="card">

<p-tabView [(activeIndex)]="activeIndex">
<p-tabPanel header="INFORMATION AVENANT">
    <div class="card">
            <div class="p-grid p-formgrid p-fluid" style="padding: 1rem;">


                <!-- Initiateur -->
                <div class="p-field p-col-12 p-md-3">
                    <label for="typeDemanteur">Initiateur <sup style="color: red;">*</sup></label>
                    <p-dropdown 
                        inputId="typeDemanteur" 
                        dataKey="id" 
                        [filter]="true" 
                        showClear="true"
                        [options]="demandeursList" 
                        [(ngModel)]="historiqueAvenant.typeDemandeur"
                        optionValue="libelle"
                        placeholder="Sélectionner" 
                        optionLabel="libelle" 
                        class="w-full">
                    </p-dropdown>
                </div>

                <!-- Exercice -->
                <div class="p-field p-col-12 p-md-3">
                    <label for="compteTiers" class="font-bold">
                        Sélectionner l'exercice <span style="color: red;">*</span>
                    </label>
                    <p-dropdown 
                        [disabled]="!historiqueAvenant.typeDemandeur"
                        inputId="compteTiers" 
                        dataKey="id" 
                        [filter]="true"
                        showClear="true" 
                        [options]="exercices"
                        name="exercice"
                        [(ngModel)]="historiqueAvenant.exercice"
                        [autoDisplayFirst]="true" 
                        appendTo="body"
                        placeholder="Sélectionnez l'exercice"
                        optionLabel="nomExo"
                        class="w-full">
                    </p-dropdown>
                </div>

                        <div class="p-field p-col-12 p-md-3">
                            <label for="fraisBadge">Groupe<sup style="color: red !important;">*</sup></label>
                           
                                <p-dropdown
                                [disabled]="!historiqueAvenant.exercice"
                                [options]="groupesByPolicy" optionLabel="libelle"
                                            name="groupe"
                                            [(ngModel)]="historiqueAvenant.groupe"
                                            [filter]="true" filterBy="libelle" [showClear]="true"
                                            placeholder="Choisir un groupe"
                                            >
                                </p-dropdown>
                        </div>

                                        <!-- Motif -->
                <div class="p-field p-col-12 p-md-3">
                <label for="observation">Motif<sup style="color: red;">*</sup></label>
                <input 
                [disabled]="!historiqueAvenant.groupe"
                    id="observation"
                    type="text"
                    name="observation"
                    [(ngModel)]="historiqueAvenant.observation"
                    pInputText
                    class="p-inputtext w-full"
                    
                />
                </div>

                         <div class="p-field p-col-12 p-md-4">
                            <label for="nom">Date d'Avenant<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.observation"  id="dateAvenant" type="date" name="dateAvenant" [(ngModel)]="historiqueAvenant.dateAvenant"  pInputText>

                           
                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            <span class="textDanger" *ngIf=" historiqueAvenant.dateIncorparation && historiqueAvenant.dateAvenant && historiqueAvenant.dateAvenant > historiqueAvenant.dateIncorparation">La date d'incorporation doit être supérieure ou égale à celle de l'avenant</span>
                            <label for="nom">Date d'Incorporation<sup style="color: red !important;">*</sup></label>
                            <input  [disabled]="!historiqueAvenant.dateAvenant"   id="dateIncorparation" name="dateIncorparation" [(ngModel)]="historiqueAvenant.dateIncorparation" type="date"  pInputText>

                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            <span class="textDanger" *ngIf=" historiqueAvenant.dateIncorparation && historiqueAvenant.dateEffet && historiqueAvenant.dateIncorparation > historiqueAvenant.dateEffet">La date d'effet doit être supérieure ou égale à celle d'incorporation</span>
                            <label for="nom">Date d'effet<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.dateIncorparation"  id="dateEffet" name="dateEffet" [(ngModel)]="historiqueAvenant.dateEffet" type="date"  pInputText>

                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            <label for="nom">Numéro de l'avenant garant<sup style="color: red !important;"></sup></label>
                            <input [disabled]="!historiqueAvenant.dateEffet" id="numero" name="numeroGarant" [(ngModel)]="historiqueAvenant.numeroGarant"  type="number" min="0" pInputText>
                        </div>

                <!-- Frais Badges -->
                <div class="p-field p-col-12 p-md-4">
                    <label for="fraisBadges">Total Frais Badges <sup style="color: red;">*</sup></label>
                    <input 
                        [disabled]="!historiqueAvenant.numeroGarant" 
                        pInputText
                        type="number"
                        inputId="fraisBadges" 
                        name="fraisBadges"
                        [(ngModel)]="historiqueAvenant.fraisBadges"
                        class="w-full"/>
                </div>

                <!-- Frais Accessoires -->
                <div class="p-field p-col-12 p-md-4">
                    <label for="fraisAccessoires">Total Frais Accessoires <sup style="color: red;">*</sup></label>
                    <input 
                        [disabled]="!historiqueAvenant.fraisBadges" 
                        pInputText
                        type="number"
                        inputId="fraisAccessoires" 
                        name="fraisAccessoires" 
                         [(ngModel)]="historiqueAvenant.fraisAccessoires"
                        class="w-full"/>
                    
                </div>

            </div>
        </div>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="col col-6 p-mr-3">    
                <button
                (click)="onCancelIncorporation()"
                    pButton icon="pi pi-times"
                    label="Quitter"
                    class="p-button-danger">
                </button>  
            </div>

            <div class="col col-6">
                <button 
                    [disabled]="!historiqueAvenant.numeroGarant ||
                     !historiqueAvenant.exercice ||
                     !historiqueAvenant.observation ||
                     !historiqueAvenant.groupe ||
                     !historiqueAvenant.dateAvenant ||
                     !historiqueAvenant.dateEffet ||
                     !historiqueAvenant.typeDemandeur ||
                     !historiqueAvenant.fraisAccessoires ||
                     !historiqueAvenant.fraisAccessoires "
                    (click)="onNextStepp(historiqueAvenant)"
                    pButton icon="pi pi-arrow-circle-right"
                    label="Continuer"
                    class="p-button-info">
                </button>   
            </div>
        </div>

</p-tabPanel>

<p-tabPanel header="BASCULER LES ASSURES">
  <div class="card p-grid">
    <!-- Fieldset gauche -->
    <div class="p-col-12 p-md-6">
      <p-fieldset legend="EXERCICE A BASCULER" [toggleable]="false">
        <div class="p-field">
          <label for="exerciceOrigine" class="font-bold">
            Sélectionner l'exercice <span style="color: red;">*</span>
          </label>
          <p-dropdown
            inputId="exerciceOrigine"
            dataKey="id"
            [filter]="true"
            showClear="true"
            [options]="exercices"
            name="exerciceOrigine"
            [autoDisplayFirst]="true"
            appendTo="body"
            placeholder="Sélectionnez l'exercice"
            optionLabel="nomExo"
            class="w-full">
          </p-dropdown>
        </div>
        <div class="p-field">
          <label for="exerciceOrigine" class="font-bold">
            L'exercice <span style="color: red;">*</span>
          </label>
          <p-dropdown
            inputId="exerciceOrigine"
            dataKey="id"
            [filter]="true"
            showClear="true"
            [options]="exercices"
            name="exerciceOrigine"
            [autoDisplayFirst]="true"
            appendTo="body"
            placeholder="Sélectionnez l'exercice"
            optionLabel="nomExo"
            class="w-full">
          </p-dropdown>
        </div>
      </p-fieldset>
    </div>

    <!-- Fieldset droite -->
    <div class="p-col-12 p-md-6">
      <p-fieldset legend="RETRAIT ET INCORPORATION" [toggleable]="false">
        <div class="p-field">
          <label for="exerciceDestination" class="font-bold">
            RETRAIT : Importer le fichier excel <span style="color: red;">*</span>
          </label>
             <input 
                pInputText
                type="file"
                class="w-full"/>
        </div>

        <div class="p-field">
          <label for="exerciceDestination" class="font-bold">
           INCOPORATION : Importer le fichier excel <span style="color: red;">*</span>
          </label>
             <input 
                pInputText
                type="file"
                class="w-full"/>
        </div>
      </p-fieldset>
    </div>
  </div>

  <!-- Boutons -->
  <div class="p-d-flex p-jc-center p-mt-2">
    <div class="col col-6 p-mr-3">
      <button
        (click)="onCancelIncorporation()"
        pButton icon="pi pi-times"
        label="Quitter"
        class="p-button-danger">
      </button>
    </div>

    <div class="col col-6">
      <button
        [disabled]="!historiqueAvenant.numeroGarant ||
                    !historiqueAvenant.observation ||
                    !historiqueAvenant.groupe ||
                    !historiqueAvenant.dateAvenant ||
                    !historiqueAvenant.dateEffet ||
                    !historiqueAvenant.typeDemandeur ||
                    !historiqueAvenant.fraisAccessoires"
        (click)="onNextStepp(historiqueAvenant)"
        pButton icon="pi pi-arrow-circle-right"
        label="Continuer"
        class="p-button-info">
      </button>
    </div>
  </div>
</p-tabPanel>

<p-tabPanel header="RESUMER">
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
    </p>
</p-tabPanel>
<p-tabPanel header="AJOUT DE GROUPE">
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
    </p>
</p-tabPanel>
<p-tabPanel header="AJOUT D'ACTES">
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
    </p>
</p-tabPanel>
</p-tabView>
</div>

</p-fieldset>
</p-dialog>

