<div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addGarant()"></button>
					<!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedGrant()" [disabled]="!selectedGarants || !selectedGarants.length"></button> -->
				</ng-template>
                
				<!-- <ng-template pTemplate="right">
					<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block" ></p-fileUpload>
					<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
				</ng-template> -->

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload  name="File[]" url="" customUpload="true" accept=".xlsx" [maxFileSize]="1000000" chooseLabel="Importer" (uploadHandler)="upload($event)" 
                    class="p-mr-2 p-mb-2 p-d-inline-block" [showUploadButton]="true" [showCancelButton]="true" uploadLabel="valider" cancelLabel="annuler" ></p-fileUpload>
				</ng-template> -->
             
			</p-toolbar>

			<p-table #dt [value]="compteList" [loading]="false" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['compte','poste','libelle']"
					 [(selection)]="selectedGarants" selectionMode="single" (onRowSelect)="onRowSelect($event)" [rowHover]="true" dataKey="id"
					 styleClass="p-datatable-customers"
					 currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0"></h5>
						<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<!-- <th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th> -->
						<th pSortableColumn="nom">Compte <p-sortIcon field="nom"></p-sortIcon></th>
						<th pSortableColumn="code">Poste <p-sortIcon field="code"></p-sortIcon></th>
						<th pSortableColumn="contact">Libelle<p-sortIcon field="contact"></p-sortIcon></th>
						<th pSortableColumn="personneRessource" style="width: 14rem">Solde Débiteur<p-sortIcon field="personneRessource"></p-sortIcon></th>
                        <th pSortableColumn="numeroCompteBancaire1" style="width: 13rem">Solde Créditeur <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                        <th pSortableColumn="commissionPrime.taux" style="width: 13rem"> Compte Parent  <p-sortIcon field="commissionPrime.taux"></p-sortIcon></th>
                        <th pSortableColumn="commissionPrime.taux" style="width: 13rem"> Mode de paiement  <p-sortIcon field="commissionPrime.taux"></p-sortIcon></th>
                        <th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-garant>
					<tr>
						<!-- <td>
							<p-tableCheckbox [value]="garant"></p-tableCheckbox>
						</td> -->
						<td><span class="p-column-title">{{garant.compte | formatTableValue: 'number':true}}</span>
							
						</td>
                        <td><span class="p-column-title">{{garant.poste}}</span>
							
						</td>
                        <td><span class="p-column-title">{{garant.libelle}}</span>
						</td>
						<td><span class="p-column-title">{{garant.soldeDebiteur | formatTableValue: 'number':true}}</span>
							
						</td>
						<td><span class="p-column-title">{{garant.soldeCrediteur | formatTableValue: 'number':true}}</span>
							
						</td>
                        <td><span class="p-column-title">{{garant?.compteParent | formatTableValue: 'number':true}}</span>
						</td>
                        <td><span class="p-column-title">{{garant?.typePaiement}}</span>
						</td>
						<td>
							<button pButton pRipple icon="pi pi-pencil" pTooltip="Modifier" class="p-button-rounded p-button-success p-mr-2" (click)="editGarant(garant)"></button>
							<button pButton pRipple icon="pi pi-trash"  pTooltip="Supprimer" class="p-button-rounded p-button-warning p-mr-2" (click)="deleteGarant(garant)"></button>
                            <button pButton  pRipple icon="pi pi-eye" pTooltip="voir details" class="p-button-rounded p-button-info" (click)="voirDetail(garant)"></button>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-warning p-mr-2" (click)="relierPaiement(garant)"></button>

						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{compteList ? compteList.length : 0 }} comptes.
					</div>
				</ng-template>
			</p-table>
		</div>


        <p-dialog [maximizable]="true" [(visible)]="infosGarant" header="Compte détails" [modal]="true" styleClass="p-fluid" [style]="{width: '1000px'}">
            <ng-template pTemplate="content">
                <div class="card">
                <h5></h5>
                <div class="p-fluid p-formgrid p-grid">
                       <div class="p-field p-col">
                        <label for="lastname2">Compte</label>
                        <div>
                            <span>{{garant.compte | formatTableValue: 'number':true}}</span>
                        </div>
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname2">Poste</label>
                            <div>
                                <span>{{garant.poste}}</span>
                            </div>
                            </div>

                        <div class="p-field p-col">
                            <label for="lastname2">Libelle</label>
                            <div>
                                <span>{{garant.libelle}}</span>
                            </div>
                        </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="lastname2">Solde Débiteur</label>
                        <div>
                            <span>{{garant.soldeDebiteur | formatTableValue: 'number':true}}</span>
                        </div>
                    </div>
                    
                    <div class="p-field p-col">
                    <label for="firstname2">Solde Créditeur</label>
                    <div>
                        <span>{{garant.soldeCrediteur | formatTableValue: 'number':true}}</span>
                    </div>
                    </div>

                        <div class="p-field p-col">
                        <label for="dateEffet">Compte Parent</label>
                        <div>
                            <span>{{garant?.compteParent | formatTableValue: 'number':true}}</span>
                        </div>
                        </div>  
    
                </div>
            </div>
            </ng-template>
        </p-dialog>
        
         


        <p-dialog [maximizable]="true" [(visible)]="displayDialogFormGarant" header="Ajouter un compte" [modal]="true" styleClass="p-fluid" (onHide)="annulerSaisie()">
            <ng-template pTemplate="content">
            <form (ngSubmit)="onCreate()"  [formGroup]="compteForm">
                <div class="card">
                <p-fieldset legend="Identification" toggleable="true">
                <div class="p-fluid p-formgrid p-grid">

                        <div class="p-field p-col">
                            <label for="firstname2">Compte <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="compte" type="text" required formControlName="compte"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="compteForm" [entityField]="'compte'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Poste <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="poste" type="text" required formControlName="poste"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="compteForm" [entityField]="'poste'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Libelle <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="libelle" type="text" required formControlName="libelle"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="compteForm" [entityField]="'libelle'">
                            </app-entity-validation>
                        </div>

                </div>

                <div class="p-fluid p-formgrid p-grid">
                    
                    <div class="p-field p-col">
                        <label for="firstname2">Solde Débiteur <span style="color: red !important; font-size: 1.4em"></span></label>
                        <input id="soldeDebiteur" type="number" formControlName="soldeDebiteur"  pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                      [formGroup]="compteForm" [entityField]="'soldeDebiteur'">
                        </app-entity-validation>
                    </div>

                    <div class="p-field p-col">
                        <label for="firstname2">Solde Créditeur <span style="color: red !important; font-size: 1.4em"></span></label>
                        <input id="soldeCrediteur" type="number"  formControlName="soldeCrediteur"  pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                      [formGroup]="compteForm" [entityField]="'soldeCrediteur'">
                        </app-entity-validation>
                    </div>

                       <div class="p-field p-col">
                        <label for="compteParent">Compte Parent <span style="color: red !important; font-size: 1.4em"></span></label>
                        <input id="compteParent" type="number" formControlName="compteParent" pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="compteForm" [entityField]="'compteParent'">
                        </app-entity-validation>
                        </div>

                    </div>

                    

                </p-fieldset>
                    </div>

                <div class="p-grid p-justify-between">
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times"  (click)="annulerSaisie()"></button>
                    </div>
                    <div>
                    <button  [disabled]="compteForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    </div>
                </div>
                </form>                     
             </ng-template>
            </p-dialog>

            <p-dialog [maximizable]="true" #dialStudent  [(visible)]="displayPaiement" header="Relier à un mode de paiement ou à une banque" [modal]="true" styleClass="p-fluid" >
                <ng-template pTemplate="content">
                    <div class="card">
                    <form >
                        <div class="card">
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12">
                                    <label for="typePaiement">Type de paiement <span class="required"></span></label>
                                    <p-dropdown inputId="typePaiement" [filter]="true"
                                                            showClear="true" [options]="typePaiement"
                                                            name="typePaiement"
                                                           [(ngModel)]="comptePaiement.typePaiement"
                                                             [autoDisplayFirst]="false"></p-dropdown>
                                </div>
                                <div class="p-field p-col-12">
                                    <label for="typePaiement">Banque <span class="required"></span></label>
                                    <p-dropdown inputId="typePaiement" [filter]="true"
                                                            showClear="true" [options]="banqueList"
                                                            name="banque"
                                                           [(ngModel)]="comptePaiement.banque"
                                                           placeholder="Select banque" optionLabel="code"
                                                             [autoDisplayFirst]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="p-grid p-justify-between">
                        <div>
                            <button pButton pRipple label="Quitter" icon="pi pi-check" class="p-button-success p-mr-2 p-mb-2" ></button>
                        </div>
                        <div>
                            <button  pButton  pRipple  label="Enregistrer" icon="pi pi-check" type="submit" class="p-button-success p-mr-2 p-mb-2"(click)="onCreatePaiement()" ></button>
                        </div>
                    </div>
                    </div>
                </ng-template>
            </p-dialog>
           

            <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
	</div>
</div>
