<div class="p-fluid">
    <p-tabView>
        <p-tabPanel header="INFOS" leftIcon="pi pi-users" tooltip="Information sur la police" [style]="{'width': '100%'}">

                <form [formGroup]="myForm">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-3">
                            <label for="numero">Numéro de l'avenant chez la garant</label>
                            <input id="numero" type="number" min="0" required formControlName="numero" pInputText>
                        </div>
                        <div class="p-field p-col-3">
                            <label for="dateIncorparation">Date de l'avenant</label>
                            <p-calendar id="dateIncorparation" [showIcon]="true" formControlName="dateAvenant"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-3">
                            <label for="dateEffetA">Date d'effet</label>
                            <p-calendar id="dateEffetA" [showIcon]="true" formControlName="dateEffet"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-3">
                            <label for="dateEcheance">Date d'échéance</label>
                            <p-calendar id="dateEcheance" [showIcon]="true" formControlName="dateEcheance"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>
                    </div>
                </form>
                <p-fieldset legend="RECAPITULATIF" toggleable="true">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="lastname2">Garant</label>
                        <div>
                            <span>{{police.garant.nom}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Intermediaire</label>
                        <div>
                            <span>{{police.intermediaire.nom}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Taux de couverture</label>
                        <div>
                            <span>{{police.taux.taux}}</span>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="firstname2">Territorialité</label>
                        <div>
                            <span *ngFor="let t of police.territorialite">{{t.libelle}} </span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="dateEffet">Date effet</label>
                        <div>
                            <span>{{police.dateEffet}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col-4">
                        <label for="lastname2">Date echeance</label>
                        <div>
                            <span>{{police.dateEcheance}}</span>
                        </div>
                    </div>

                </div>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="firstname2">Nom du souscripteur</label>
                        <div>
                            <span>{{police.nom}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Contact</label>
                        <div>
                            <span>{{police.contact}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="firstname2">Adresse email</label>
                        <div>
                            <span>{{police.adresseEmail}}</span>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="adressePostale">Adresse postale</label>
                        <div>
                            <span>{{police.adressePostale}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Secteur activite</label>
                        <div>
                            <span>{{police.secteurActivite.libelle}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Numero IFU</label>
                        <div>
                            <span>{{police.numeroIfu}}</span>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="lastname2">Personne ressource</label>
                        <div>
                            <span>{{police.personneRessource}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Contact personne ressource</label>
                        <div>
                            <span>{{police.contactPersonneRessource}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="refPolice">Reference police</label>
                        <div>
                            <span>{{police.referencePolice}}</span>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="lastname2">Rccm</label>
                        <div>
                            <span>{{police.rccm}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Numero police</label>
                        <div>
                            <span>{{police.numero}}</span>
                        </div>
                    </div>

                    <div class="p-field p-col">
                        <label for="lastname2">Secteur</label>
                        <div>
                            <span>{{police.secteur.libelle}}</span>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-4">
                        <label for="fraisAccessoire">Frais accessoire</label>
                        <div>
                            <span>{{police?.fraisAccessoire | formatTableValue: 'number':true}}</span>
                        </div>
                    </div>
                    <div class="p-field p-col-4">
                        <label for="fraisBadge">Frais badge</label>
                        <div>
                            <span>{{police?.fraisBadge | formatTableValue: 'number':true}}</span>
                        </div>
                    </div>
                </div>
                </p-fieldset>

        </p-tabPanel>
        <p-tabPanel [style]="{'width': '100%'}" header="GROUPE" leftIcon="pi pi-users" tooltip="Groupe">
            <!--<div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="firstname1">Firstname</label>
                    <input id="firstname1" type="text" pInputText>
                </div>
                <div class="p-field p-col">
                    <label for="lastname1">Lastname</label>
                    <input id="lastname1" type="text" pInputText>
                </div>
            </div>-->
            <div class="p-grid">
                <div class="p-col-12">
                    <label class="p-fieldset-content">Choisir le Groupe</label>
                    <p-dropdown [options]="groupeListes" optionLabel="libelle" [(ngModel)]="groupeSelected"
                                [filter]="true" filterBy="libelle" [showClear]="true" placeholder="Choisir un groupe"
                                (onChange)="loadAherantByGroupe()" [style]="{'width': '40%'}">
                    </p-dropdown>
                </div>
                <div class="p-col-12">
                    <!--<app-avenant-groupe [obj]="obj" (groupeEvent)="obj = $event"></app-avenant-groupe>-->
                    <p-fieldset legend="Caracteristique" toggleable="true">
                        <form [formGroup]="groupeForm">
                            <h5></h5>
                            <div class= "p-fluid p-formgrid p-grid">

                                <div class="p-field p-col">
                                    <label for="firstname2">Libelle</label>
                                    <input id="nom" type="text" formControlName="libelle"  pInputText>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'nom'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="lastname2">Taux de couverture</label>
                                    <p-dropdown dataKey="id" inputId="taux" [filter]="true" showClear="true" [options]="tauxList" formControlName="taux" placeholder="Select" optionLabel="taux"></p-dropdown>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'taux'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="firstname2">Territorialité</label>
                                    <p-multiSelect dataKey="id" inputId="territorialite" [filter]="true" showClear="true" [options]="territorialiteList" formControlName="territorialite" placeholder="Select" optionLabel="libelle"></p-multiSelect>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'territorialite'">
                                    </app-entity-validation>
                                </div>
                            </div>

                            <div class="p-fluid p-formgrid p-grid">

                                <div class="p-field p-col">
                                    <label for="dateEffet">Date effet</label>
                                    <!--<input type="date" class="form-control" formControlName="dateEffet" id="dateEffet" required style="width: 100%">-->
                                    <p-calendar id="dateEffet"  [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" formControlName="dateEffet" appendTo="body"></p-calendar>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'dateEffet'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="firstname2">Type durée</label>
                                    <p-dropdown dataKey="id" id="firstname2" inputId="typeDuree" [filter]="true" showClear="true" (ngModelChange)="changeTypeDureeGroupe($event)" [options]="typeDuree" formControlName="typeDuree" placeholder="Select"></p-dropdown>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="policeForm" [entityField]="'typeDuree'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="lastname2">Durée</label>
                                    <input id="lastname2" type="number" (input)="onRefreshDateEcheanceForGroupe($event.target.value)"  formControlName="duree" pInputText>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'duree'">
                                    </app-entity-validation>
                                </div>
                            </div>

                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-4">
                                    <label for="lastname2">Date écheance</label>
                                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" formControlName="dateEcheance" appendTo="body"></p-calendar>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'dateEcheance'">
                                    </app-entity-validation>
                                </div>
                            </div>
                        </form>
                    </p-fieldset>
                </div>
                <div class="p-col-12">
                    <p-fieldset legend="Parametrage prime" toggleable="true">
                        <form [formGroup]="primeForm">
                            <h5></h5>
                            <div class= "p-fluid p-formgrid p-grid">

                                <div class="p-field p-col-4" >
                                    <label for="primeFamille">Prime Annuelle</label>
                                    <input id="primeAnnuelle" type="text" pInputText formControlName="primeAnnuelle" [value]="primeForm.get('primeAnnuelle').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4">
                                    <label for="typePrime">Type de prime</label>
                                    <p-dropdown dataKey="id" id="typePrime" inputId="typePrime" [filter]="true" showClear="true" [options]="typePrimeList" formControlName="prime" optionLabel="libelle" (onChange)="changePrime($event)"></p-dropdown>
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PF'">
                                    <label for="primeFamille">Montant famille</label>
                                    <input id="primeFamille" type="text" pInputText [value]="primeForm.get('primeFamille').value | formatTableValue: 'number':true" formControlName="primeFamille">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PA'">
                                    <label for="montantPrimeAdulte">Montant adulte</label>
                                    <input id="montantPrimeAdulte" type="text" pInputText formControlName="primeAdulte" [value]="primeForm.get('primeAdulte').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code=='PAE'">
                                    <label for="montantPrimeEnfant">Montant enfant</label>
                                    <input id="montantPrimeEnfant" type="text" pInputText formControlName="primeEnfant" [value]="primeForm.get('primeEnfant').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PP'">
                                    <label for="montantPrimePersonne">Montant personne</label>
                                    <input id="montantPrimePersonne" type="text" pInputText formControlName="primePersonne" [value]="primeForm.get('primePersonne').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PE'">
                                    <label for="montantPrimeEmploye">Montant employe</label>
                                    <input id="montantPrimeEmploye" type="text" pInputText formControlName="primeEmploye" [value]="primeForm.get('primeEmploye').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PC'">
                                    <label for="montantPrimeConjoint">Montant conjoint</label>
                                    <input id="montantPrimeConjoint" type="text" pInputText formControlName="primeConjoint" [value]="primeForm.get('primeConjoint').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PECE'">
                                    <label for="montantPrimeEnfant1">Montant enfant</label>
                                    <input id="montantPrimeEnfant1" type="text" pInputText formControlName="primeEnfant" [value]="primeForm.get('primeEnfant').value | formatTableValue: 'number':true" >
                                </div>

                            </div>

                            <div class= "p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PAE'">
                                    <label for="montantPrimeAdulte1">Montant adulte</label>
                                    <input id="montantPrimeAdulte1" type="text" pInputText formControlName="primeAdulte" [value]="primeForm.get('primeAdulte').value | formatTableValue: 'number':true" >
                                </div>
                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PECE'">
                                    <label for="montantPrimeEmploye1">Montant employé</label>
                                    <input id="montantPrimeEmploye1" type="text" pInputText formControlName="primeEmploye" [value]="primeForm.get('primeEmploye').value | formatTableValue: 'number':true" >
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code =='PECE'">
                                    <label for="montantPrimeConjoint1">Montant conjoint</label>
                                    <input id="montantPrimeConjoint1" type="text" pInputText formControlName="primeConjoint" [value]="primeForm.get('primeConjoint').value | formatTableValue: 'number':true" >
                                </div>
                            </div>
                        </form>
                    </p-fieldset>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="PLAFOND" leftIcon="pi pi-user-edit" tooltip="PLAFOND">
            <p-table #dt [value]="plafondFamilleActe" dataKey="" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3em"></th>
                        <th>Famille acte</th>
                        <th>Montant plafonné</th>
                        <th>Periode</th>
                        <th>Nombre acte</th>
                        <th>Taux de couverture</th>
                        <th>Domaine</th>
                        <th>Date effet</th>
                        <th style="width:8em"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData">
                        <td>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="garanties" [(ngModel)]="rowData.garantie" optionLabel="libelle" placeholder="Select Make"
                                                [style]="{'width':'100%'}" (onChange)="changeGarantie($event, ri)"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output" *ngIf="rowData.garantie">
                                    {{rowData?.garantie.libelle}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.montantPlafond" [value]="rowData.montantPlafond | formatTableValue: 'number':true">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.montantPlafond}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="dimensionPeriodeList" [(ngModel)]="rowData.dimensionPeriode" optionLabel="libelle" placeholder="Select Make"
                                                [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData?.dimensionPeriode?.libelle}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.nombre">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.nombre}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>

                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="tauxList"  [(ngModel)]="rowData.taux" optionLabel="taux"
                                                [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output" >
                                        <span *ngIf="rowData.garantie.libelle">
                                            {{rowData?.taux?.taux}}
                                        </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-multiSelect [options]="qualiteAssureList"  [(ngModel)]="rowData.domaine" optionLabel="libelle"
                                                   [style]="{'width':'100%'}"></p-multiSelect>
                                </ng-template>
                                <ng-template pTemplate="output">
                                        <span *ngFor="let d of rowData.domaine">
                                            {{d.libelle}}
                                        </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td >
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-calendar [showIcon]="true" [(ngModel)]="rowData.dateEffet"  dateFormat="dd/mm/yy" inputId="calendar" appendTo="body"></p-calendar>
                                </ng-template>
                                <ng-template  pTemplate="output">
                                    <span *ngIf="rowData.garantie.libelle">
                                        {{rowData.dateEffet | formatTableValue : 'date'}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton pRipple  pTooltip="editer" pInitEditableRow icon="pi pi-pencil" class="ui-button-info p-mr-2" (click)="onRowEditInit(rowData)"></button>
                            <button *ngIf="editing" pRipple  pButton  pSaveEditableRow icon="pi pi-check" class="ui-button-success p-mr-2" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger p-mr-2" (click)="onRowEditCancel(rowData, ri)"></button>
                            <button *ngIf="!editing && rowData.garantie.libelle " pRipple pButton  pCancelEditableRow icon="pi pi-arrow-circle-down"  pTooltip="enregistrer" class="ui-button-danger p-mr-2" (click)="addFamilleActe(rowData, ri)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-fieldset legend="Paramétrage des plafonds" toggleable="true">
                <p-table #dtActe [value]="plafondActe" dataKey="" editMode="row">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Acte</th>
                            <th>Plafond</th>
                            <th>Période</th>
                            <th>Nombre</th>
                            <th>Taux</th>
                            <th>Effet</th>
                            <th style="width:8em"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rowData">
                            <td>
                                {{rowData.acte.libelle}}
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rowData.montantPlafond" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.montantPlafond}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="dimensionPeriodeList"
                                                    [(ngModel)]="rowData.dimensionPeriode" optionLabel="libelle"
                                                    placeholder="Select Make"
                                                    [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.dimensionPeriode?.libelle}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rowData.nombre" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.nombre}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="tauxList" [(ngModel)]="rowData.taux" optionLabel="taux"
                                                    placeholder="Select Make"
                                                    [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.taux?.taux}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-calendar [showIcon]="true" [(ngModel)]="rowData.dateEffet"
                                                    dateFormat="dd/mm/yy" inputId="calendar"
                                                    appendTo="body"></p-calendar>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.dateEffet}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                        class="ui-button-info p-mr-2"
                                        (click)="onRowEditInitPlafondActe(rowData)"></button>
                                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                        class="ui-button-success p-mr-2" style="margin-right: .5em"
                                        (click)="onRowEditSavePlafondActe(rowData)"></button>
                                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                        class="ui-button-danger p-mr-2"
                                        (click)="onRowEditCancelPlafondActe(rowData, ri)"></button>
                                <button *ngIf="!editing" pButton type="button" pCancelEditableRow
                                        icon="pi pi-chevron-right" class="ui-button-danger p-mr-2"
                                        (click)="getSousActe(rowData, ri)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Valider" icon="pi pi-check" (click)="addSousActe()" class="p-button-success p-mr-2 p-mb-2" ></button>
                        </ng-template>
                    </p-toolbar>

                    <h5></h5>
                    <p-table #dtSousActe [value]="plafondSousActe" dataKey="" editMode="row">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Sous acte</th>
                                <th>Montant</th>
                                <th>Periode</th>
                                <th>Nombre acte</th>
                                <th>Taux</th>
                                <th>Date effet</th>
                                <th style="width:8em"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="rowData">
                                <td>
                                    {{rowData.sousActe.libelle}}
                                </td>

                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber inputId="integeronly" [(ngModel)]="rowData.montantPlafond" required></p-inputNumber>
                                            <!--<input pInputText type="text" [(ngModel)]="rowData.montantPlafond" required>-->
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.montantPlafond}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="dimensionPeriodeList" [(ngModel)]="rowData.dimensionPeriode" optionLabel="libelle" placeholder="Select Make"
                                                        [style]="{'width':'100%'}"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.dimensionPeriode?.libelle}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber inputId="integeronly" [(ngModel)]="rowData.nombre" required></p-inputNumber>
                                            <!--<input pInputText type="text" [(ngModel)]="rowData.nombre" required>-->
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.nombre}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="tauxList" [(ngModel)]="rowData.taux" optionLabel="taux" placeholder="Select Make"
                                                        [style]="{'width':'100%'}"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.taux?.taux}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-calendar  [showIcon]="true" [(ngModel)]="rowData.dateEffet"  dateFormat="dd/mm/yy" inputId="calendar" appendTo="body"></p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.dateEffet | formatTableValue : 'date'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align:center">
                                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInitPlafondSousActe(rowData)"></button>
                                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSavePlafondSousActe(rowData)"></button>
                                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancelPlafondSousActe(rowData, ri)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>
        </p-tabPanel>
        <p-tabPanel header="INCORPORATION" leftIcon="pi pi-cog" tooltip="BAREME">
            <app-avenant-incorporation [isRenouv]="true" (adherentFamilleEvent)="addAvenantAdherant($event)"></app-avenant-incorporation>
        </p-tabPanel>
        <p-tabPanel header="RETRAIT" leftIcon="pi pi-cog" tooltip="BAREME">
            <app-avenant-retrait [isRenouv]="true" [police]="police" (adherentFamilleEvent)="deleteAdherant($event)"></app-avenant-retrait>
        </p-tabPanel>
    </p-tabView>
    <hr>
    <div class="p-grid">
        <div class="p-col-4"></div>
        <div class="p-col-2">
            <button pButton pRipple label="Quitter" class="p-button-danger p-mr-4" icon="pi pi-times" (click)="annuler()"></button>
        </div>
        <div class="p-col-2">
            <button type="button" [disabled]="myForm.invalid" pButton pRipple label="Valider" class="p-button-success" icon="pi pi-check" (click)="createAvenantModif()"></button>
        </div>
    </div>
</div>
