<p-table #dtConfigurationPlafond [value]="historiquePlafondFamilleActePlafongConfig" dataKey="garantie.id" dataKey="id" editMode="row" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Famille acte</th>
            <th>Montant plafonné / acte</th>
            <th>Montant plafonné / periode</th>
            <th>Periode</th>
            <th>Nombre acte</th>
            <th>Taux de couverture</th>
            <th>Domaine</th>
            <th>Date effet</th>
            <th>Date Modif</th>
            <th>Status</th>
            <th>
                <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-success"
                        icon="pi pi-plus" (click)="addFA()" label="Famille Acte"></button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historiquePlafondFamilleActePlafong let-editing="editing" let-ri="rowIndex" let-expanded="expanded" >
        <tr [pEditableRow]="plafond" class="colorZone">
            <td>
                <button type="button" pButton pRipple [pRowToggler]="historiquePlafondFamilleActePlafong" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="garanties" optionLabel="libelle" placeholder="Select periode"
                                    [style]="{'width':'100%'}" (onChange)="onPlafondFamilleActeChange(plafond)"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.garantie?.libelle}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!--
            <td>{{plafond.montantPlafond}}</td>
            -->
            <td>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber id="fraisBadgetAccessoirs" inputId="integeronly" [style]="{'width': '100%'}" placeholder="plafond/periode" [disabled]="etat === 'VIEW'"></p-inputNumber>
                        <!--<input pInputText type="text" [(ngModel)]="plafond.montantPlafond" [value]="plafond.montantPlafond | formatTableValue: 'number':true" placeholder="plafond/periode" required>-->
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.montantPlafond | formatTableValue: 'number':true}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="dimensionPeriodeList"  optionLabel="libelle" placeholder="Select periode"
                                    [style]="{'width':'100%'}" [disabled]="true"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe?.dimensionPeriode?.libelle}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber id="fraisBadgetAccessoirs1" inputId="integeronly"  [style]="{'width': '100%'}" placeholder="plafond/periode" [disabled]="true"></p-inputNumber>
                        <!--<input pInputText type="text" [(ngModel)]="plafond.nombre">-->
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.nombre | formatTableValue: 'number':true}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="tauxList"  optionLabel="taux" placeholder="Select taux"
                                    [style]="{'width':'100%'}" [disabled]="etat === 'VIEW'"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{plafond?.taux?.taux}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-multiSelect [options]="qualiteAssureList"  [(ngModel)]="historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.domaine" optionLabel="libelle"
                                       [style]="{'width':'100%'}" placeholder="Select domaine" [disabled]="etat === 'VIEW'"></p-multiSelect>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <span *ngFor="let d of historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.domaine">
                            {{d.libelle}}
                        </span>
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="date" [(ngModel)]="historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.dateEffet" [disabled]="etat === 'VIEW'" style="width: 100%; height: 100%;">
                        <!-- <p-calendar  [showIcon]="true" [(ngModel)]="historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.dateEffet"  dateFormat="dd/mm/yy" 
                        inputId="calendar" appendTo="body" [disabled]="etat === 'VIEW'"></p-calendar> -->
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.dateEffet | formatTableValue : 'date'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.dateModif}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="typeEtat" [(ngModel)]="historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe.etat" placeholder="Select status"
                                    [style]="{'width':'100%'}" [disabled]="etat === 'VIEW'"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondFamilleActePlafong.plafondGroupeFamilleActe?.etat}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" 
                (click)="onRowEditInitPlafondConfiguration(historiquePlafondFamilleActePlafong)" [disabled]="etat === 'VIEW'"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" 
                style="margin-right: .5em" (click)="onRowEditSavePlafondConfiguration(historiquePlafondFamilleActePlafong)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" 
                (click)="onRowEditCancelPlafondConfiguration(historiquePlafondFamilleActePlafong, ri)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-historiquePlafondFamilleActePlafong let-ri>
        <tr >
            <td colspan="12">
                <div class="">
                    <app-plafond-acte [etat]="etat" [historiquePlafondActes]="historiquePlafondFamilleActePlafong?.historiquePlafondGroupeActes"></app-plafond-acte>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
