<script src="tierPayant-edition.component.ts"></script>
<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addTierPayant()"></button>
					<button pButton pRipple label="Supprimer" [disabled]="TierPayantSelected?.length<1" icon="pi pi-trash" (click)="supprimerPrefinancement()" class="p-button-danger p-mb-2"></button>
				</ng-template>
                <!--
				<ng-template pTemplate="right">
					<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block" ></p-fileUpload>
					<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
				</ng-template>
                -->
			</p-toolbar>


            <p-table #dt [value]="sinistreTierPayantDTOList" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true" [(selection)]="TierPayantSelected">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="numero" style="width:100px">N° sinistre<p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="numero" style="width:100px">Prestataire<p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="nom" style="width:100px">Date de déclaration<p-sortIcon field="nom"></p-sortIcon></th>
                        <!--<th pSortableColumn="territorialite" style="min-width:200px">Date soins<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>-->
                        <th pSortableColumn="duree" style="width:50px">N° Assuré <p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="duree" style="width:50px" >N° facture<p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="duree" style="width:50px">Date de facture<p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="width:150px">Nom <p-sortIcon field="dateEffet"></p-sortIcon></th>
                        <th pSortableColumn="dateEcheance" style="width:150px">Prénom<p-sortIcon field="dateEcheance"></p-sortIcon></th>
                        <th pSortableColumn="etat" style="width:50px">Etat<p-sortIcon field="etat"></p-sortIcon></th>
                        <th style="width:175px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tierPayant>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="tierPayant"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title" style="width:100px">{{tierPayant.numeroSinistre}}</span>
                        </td>
                        <td><span class="p-column-title" style="width:100px">{{tierPayant.prestataire.libelle}}</span>
                        </td>
                        <td><span class="p-column-title" style="width:100px">{{tierPayant.dateDeclaration | formatTableValue : 'date'}}</span>
                        </td>

                        <!--<td><span class="p-column-title" style="min-width:200px">{{tierPayant.dateSoins | formatTableValue : 'date'}}</span>
                        </td>-->
                        <td>
                            <span class="p-column-title" style="width:50px">{{tierPayant.adherent.numero}}</span>
                        </td>
                        <td>
                            <span class="p-column-title" style="width:50px" >{{tierPayant.numeroFacture}}</span>
                        </td>
                        <td>
                            <span class="p-column-title" style="width:50px" >{{tierPayant.dateFacture | formatTableValue : 'date'}}</span>
                        </td>
                        <td>
                            <span class="p-column-title" style="width:150px">{{tierPayant.adherent.nom}}</span>
                        </td>
                        <td>
                            <span class="p-column-title" style="width:150px">{{tierPayant.adherent.prenom}}</span>
                        </td>
                        <td>
                            <!-- <span class="p-column-title" style="width:50px">{{tierPayant?.etat}}</span> -->
                            <span *ngIf="tierPayant?.etat ==='VALIDE'" class="p-badge p-badge-success" style="width:90px">{{tierPayant?.etat}}</span>
                            <span *ngIf="tierPayant?.etat ==='ENCOURS'" class="p-badge p-badge-warning" style="width:90px">EN ATTENTE..</span>
                            <span *ngIf="tierPayant?.etat ==='DEVALIDE'" class="p-badge p-badge-danger" style="width:90px">{{tierPayant?.etat}}</span>
                        </td>

                        <td style="width:175px">
                            <!-- <p-splitButton label="Actions" styleClass="p-button-help" icon="pi pi-slack" [model]="typeAction"
                                                           (onDropdownClick)="onTypeActionChoose(tierPayant, boolean)">
                            </p-splitButton> -->
                             <button pButton  pRipple icon="pi pi-search" pTooltip="voir prestation" class="p-button-rounded p-button-help p-mr-1" (click)="voirPrestation(tierPayant, true)"></button>
                            <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-warning p-mr-1" (click)="voirPrestation(tierPayant, false)"></button>
                            <button pButton icon="pi pi-check" pTooltip="Valider" class="p-button-rounded p-button-success p-mr-1" (click)="validerPrestation(tierPayant)"></button>
                            <button pButton pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimer(tierPayant)"></button>
                    </td>

                        <!--
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="editPolice(police)"></button>
                            <button pButton pRipple icon="pi pi-trash" pTooltip="Supprimer" class="p-button-rounded p-button-warning p-mr-2" (click)="deletePolice(police)"></button>
                            <button pButton  pRipple icon="pi pi-eye" pTooltip="voir groupe" class="p-button-rounded p-button-info p-mr-2" (click)="voirGroupe(police)"></button>
                            <button pButton  pRipple icon="pi pi-search" pTooltip="voir details" class="p-button-rounded p-button-help p-mr-2" (click)="onRowSelectPolice(police)"></button>
                            <button pButton  [disabled]="!police.listGroupe ||!police.listGroupe.length" icon="pi pi-check" pTooltip="Valider" class="p-button-rounded p-button-info p-mr-2" (click)="validerPolice(police)"></button>
                            <button pButton  [disabled]="!police.listGroupe ||!police.listGroupe.length" pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimer(police)"></button>
                        </td>
                        -->

                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{sinistreTierPayantDTOList ? sinistreTierPayantDTOList.length : 0 }} sinistre(s).
                    </div>
                </ng-template>
            </p-table>
        </div>


        <p-dialog [maximizable]="true" [(visible)]="displayPrestation" header="Prestation(s)" [modal]="true" styleClass="p-fluid" [style]="{width: '1500px'}">
            <ng-template pTemplate="content">
                <div class="card">
                    <p-table #dt [value]="prestationListPrefinancementFilter" [columns]="cols" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombreActe" style="width: 120px">nombre acte<p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="nom" style="width: 200px">Sous acte<p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="nom" style="width: 120px">Cout unitaire<p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="taux" style="width: 120px">Débours<p-sortIcon field="taux.taux"></p-sortIcon></th>
                        <th pSortableColumn="territorialite" style="width: 150px">Base de remboursement<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                        <th pSortableColumn="duree" style="width: 120px">montant remboursé <p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="dateSoins" style="width: 120px">Date Soins <p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="territorialite" style="width: 120px">Taux<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                        <th pSortableColumn="duree" style="width: 120px">Decision<p-sortIcon field="decision"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prestation>
                    <tr>

                        <td><span class="p-column-title">{{prestation.nombreActe}}</span>
                        <td><span class="p-column-title">{{prestation.sousActe.libelle}}</span>
                        </td>
                        <td><span class="p-column-title">{{prestation.coutUnitaire}}</span>
                        </td>
                        <td><span class="p-column-title">{{prestation.debours}}</span>
                        </td>
                        <td><span class="p-column-title">{{prestation.baseRemboursement}}</span>
                        </td>
                        <td><span class="p-column-title">{{prestation.montantRembourse | formatTableValue: 'number':true}}</span></td>
                        <td><span class="p-column-title">{{prestation.dateSoins | formatTableValue: 'date'}}</span></td>
                        <td><span class="p-column-title">{{prestation.taux.taux}}</span>
                        </td>
                        <td><span class="p-column-title">{{prestation.sort}}</span>
                        </td>
                        <td style="min-width:150px">
                            <button pButton pRipple icon="pi pi-trash" pTooltip="supprimer" class="p-button-rounded p-button-warning p-mr-2" (click)="supprimerPrestation(prestation)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{prestationListPrefinancement ? prestationListPrefinancement.length : 0 }} prestation(s).
                    </div>
                </ng-template>
            </p-table>
                </div>
            </ng-template>
        </p-dialog>


        <p-dialog [maximizable]="true" [style]="{width: '1500px'}" [(visible)]="displayFormPrefinancement" header="Tiers Payant" [modal]="true" styleClass="p-fluid" (onHide)="closeDialog()">
            <ng-template pTemplate="content">
                <div class="card">


                    <form  [formGroup]="prestationForm">

                        <p-fieldset legend="Sinistre" toggleable="true">

                            <div class="p-fluid p-formgrid p-grid">

                                <div class="p-field p-col-3">
                                    <label for="dateEffet">Date de saisie <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-calendar id="dateSaisie" [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" formControlName="dateSaisie" appendTo="body"></p-calendar>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="dateFacture">Date de Facture<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-calendar id="dateFacture"   [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar"
                                                formControlName="dateFacture" appendTo="body"></p-calendar>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="dateEffet">Date de declaration <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-calendar id="dateDeclaration"   [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar"
                                                formControlName="dateDeclaration" (onSelect)="compareDateDeclarationAndDateFacture()" appendTo="body"></p-calendar>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="numeroFacture" >Numéro Facture<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="numeroFacture" type="text" formControlName="numeroFacture" placeholder="numero de facture" pInputText>

                                </div>

                            </div>

                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-3">
                                    <label for="prestataire" id="prestataire">Prestataire<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-dropdown inputId="prestataire" dataKey="id" [filter]="true"
                                                showClear="true" [options]="prestataireList"
                                                formControlName="prestataire" placeholder="Select centre prescripteur"
                                                optionLabel="libelle"></p-dropdown>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="matriculeAdherent">Matricule assuré<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="matriculeAdherent" type="text" formControlName="matriculeAdherent" (blur)="rechercherAdherent($event)" pInputText>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="nomAdherent">Nom <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="nomAdherent" class="champ" type="text" formControlName="nomAdherent" pInputText>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="nomAdherent">Prénom<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="prenomAdherent" class="champ" type="text" formControlName="prenomAdherent" pInputText>
                                </div>





                            </div>

                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-3" >
                                    <label for="nomAdherent">Nom Assuré Principal<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="nomAssurePrin" class="champ" type="text" formControlName="nomAssurePrin" pInputText>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="nomAdherent">Prénom Assuré Principal<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="prenomAssurePrin" class="champ" type="text" formControlName="prenomAssurePrin" pInputText>
                                </div>


                                <div class="p-field p-col-3">
                                    <label for="groupeAdherent">Numéro du groupe<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="groupeAdherent" class="champ" type="text" formControlName="numeroGroupe" pInputText>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="nomGroupeAdherent">Nom du groupe<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="nomGroupeAdherent" class="champ" type="text" formControlName="nomGroupeAdherent" pInputText>
                                </div>


                            </div>
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-3">
                                    <label for="policeAdherent">Numéro de la police<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="policeAdherent" class="champ" type="text" formControlName="numeroPolice" pInputText>
                                </div>

                                <div class="p-field p-col-3">
                                    <label for="nomPoliceAdherent">Souscripteur<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="nomPoliceAdherent" class="champ" type="text" formControlName="nomPoliceAdherent" pInputText>
                                </div>
                                <div class="p-field p-col-3">
                                    <label for="bonPriseEnCharge">Bon de prise en charge<span style="color: red !important; size: 1.4em;" class="required"></span></label>
                                    <p-dropdown inputId="bonPriseEnCharge" dataKey="id" [filter]="true"
                                                showClear="true" [options]="bonPriseEnChargeList"
                                                formControlName="bonPriseEnCharge"  [autoDisplayFirst]="false"
                                                optionLabel="numeros" (onChange)="onRowSelectBon($event)">
                                            </p-dropdown>
                                </div>
                                
                                <div class="p-field p-col-3">
                                    <label for="montantReclame" >Montant reclamé<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-inputNumber formControlName="montantReclame" mode="decimal" locale="fr-FR" 
                                    placeholder="Saisir le montant reclamé par le prestataire"></p-inputNumber>

                                </div>
                            </div>
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-3">
                                    <label for="montantPaye" >Montant Saisie<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-inputNumber formControlName="montantPaye" mode="decimal" locale="fr-FR" 
                                    placeholder="montant(s) saisi(s)"></p-inputNumber>

                                </div>
                                <div class="p-field p-col-3">
                                    <label for="montantRestant" >Montant restant<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-inputNumber formControlName="montantRestant" mode="decimal" locale="fr-FR" 
                                    placeholder="montant restant"></p-inputNumber>

                                </div>
                            </div>

                            <div class="p-field p-col-2"></div>
                            <div class="p-field p-col-2">
                                <button pButton [disabled]="!adherentSelected || !prestationForm.get('dateDeclaration').value
                                || !prestationForm.get('numeroFacture').value || !prestationForm.get('montantReclame').value"
                                        pRipple icon="pi pi-plus" pTooltip="Ajouter prestation" label="Ajouter prestation"
                                        class="p-button-success" type="button" (click)="addItemPrestation()"></button>
                            </div>

                        </p-fieldset>

                        <hr/>




                        <div formArrayName="prestation" *ngFor="let item of prestationForm.get('prestation')['controls']; let i = index;">
                            <div [formGroup]="item">

                                <p-fieldset [legend]="'Prestation '+(i+1)" toggleable="true">

                                    <div class="p-fluid p-formgrid p-grid">


                                        <div class="p-field p-col-3">
                                            <label for="dateSoins">Date de soins <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <input id="dateSoins"  type="date" pInputText formControlName="dateSoins">
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="familleActe">Famille acte<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-dropdown dataKey="id" inputId="garantie" [filter]="true" showClear="true" placeholder="Select famille-acte"
                                                        [options]="garanties" formControlName="familleActe" [autoDisplayFirst]="false"
                                                        optionLabel="libelle" (onChange)="changeGarantie($event)"></p-dropdown>
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="acte">Acte<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-dropdown dataKey="id" inputId="acte" [autoDisplayFirst]="false" [filter]="true" showClear="true" placeholder="Select acte"
                                                        [options]="acteListFilter" formControlName="acte" optionLabel="libelle" (onChange)="selectActe($event)"></p-dropdown>
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="sousActe" id="sousActe">SousActe <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-dropdown inputId="sousActe" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="sousActeListFilter"
                                                        formControlName="sousActe" placeholder="Select sous-acte"
                                                        optionLabel="libelle"></p-dropdown>
                                        </div>


                                    </div>

                                    <div class="p-fluid p-formgrid p-grid">

                                        <div class="p-field p-col-3">
                                            <label for="pathologie" id="pathologie">Pathologie</label>
                                            <p-dropdown inputId="pathologie" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="pathologieList"
                                                        formControlName="pathologie" placeholder="Select pathologie "
                                                        optionLabel="code"></p-dropdown>
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="prestataire" id="prestataire">Centre Prescripteur</label>
                                            <p-dropdown inputId="prestataire" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="prestataireList"
                                                        formControlName="prestataire" placeholder="Select centre prescripteur"
                                                        optionLabel="libelle"></p-dropdown>
                                        </div>

                                        <!--<div class="p-field p-col-3">
                                            <label for="prestataire" id="centreExecutant">Centre Exécutant</label>
                                            <p-dropdown inputId="centreExecutant" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="prestataireList"
                                                        formControlName="centreExecutant" placeholder="Select centre exécutant"
                                                        optionLabel="libelle"></p-dropdown>
                                        </div>-->

                                        <div class="p-field p-col-3">
                                            <label for="produitPharmaceutique" id="produitPharmaceutique">Produit pharmaceutique</label>
                                            <!--<p-dropdown inputId="produitPharmaceutique" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="produitPharmaceutiqueList"
                                                        formControlName="produitPharmaceutique" placeholder="Select produit pharmaceutique "
                                                        optionLabel="libelle">
                                            </p-dropdown>-->
                                            <p-multiSelect inputId="produitPharmaceutique" dataKey="id" [filter]="true"
                                                           showClear="true" [options]="produitPharmaceutiqueList"
                                                           formControlName="produitPharmaceutique" placeholder="Select produit pharmaceutique "
                                                           optionLabel="libelle">
                                            </p-multiSelect>
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="medecin" id="medecin">Medecin</label>
                                            <p-dropdown inputId="medecin" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="medecinList"
                                                        formControlName="medecin" placeholder="Select medecin"
                                                        optionLabel="nom"></p-dropdown>
                                        </div>

                                    </div>

                                    <div class="p-fluid p-formgrid p-grid">

                                        <div class="p-field p-col-3">
                                            <label for="nombreActe" id="nombreActe">Nombre Acte <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="nombreActe" mode="decimal" locale="fr-FR" placeholder="Nombre Acte"></p-inputNumber>
                                        </div>
                                        <div class="p-field p-col-3">
                                            <label for="coutUnitaire" id="coutUnitaire">Cout unitaire <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="coutUnitaire" mode="decimal" locale="fr-FR" placeholder="cout unitaire" (onBlur)="calculDebours(i)"></p-inputNumber>
                                        </div>
                                        <div class="p-field p-col-3">
                                            <label for="debours">Debours <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="debours" [disabled]="true" mode="decimal" locale="fr-FR"></p-inputNumber>
                                        </div>
                                        <div class="p-field p-col-3">
                                            <label for="baseRemboursement" id="baseRemboursement">Base remboursement<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="baseRemboursement" [disabled]="true" mode="decimal" locale="fr-FR" placeholder="base de remboursement"></p-inputNumber>
                                        </div>

                                    </div>

                                    <div class="p-fluid p-formgrid p-grid">

                                        <div class="p-field p-col-3">
                                            <label for="taux" id="taux">Taux <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-dropdown inputId="taux" dataKey="id" [filter]="true"
                                                        showClear="true" [options]="tauxList"
                                                        formControlName="taux" placeholder="Select taux"
                                                        optionLabel="taux" [disabled]="true"></p-dropdown>
                                        </div>
                                        <div class="p-field p-col-3">
                                            <label for="montantRembourse" id="montantRembourse">Montant remboursé<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="montantRembourse" [disabled]="true" mode="decimal" locale="fr-FR" ></p-inputNumber>
                                        </div>
                                        <!--<div class="p-field p-col-3">
                                            <label for="sort" id="sort">Sort <sup style="color: red !important; size: 1.4em;">*</sup></label>
                                            <p-dropdown inputId="sort"  [filter]="true"
                                                        showClear="true" [options]="typeSort"
                                                        formControlName="sort"></p-dropdown>
                                        </div>-->
                                        <div class="p-field p-col-3">
                                            <label for="nombreActe">Montant non remboursé<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber formControlName="montantRestant" [disabled]="true" mode="decimal" locale="fr-FR"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-3">
                                            <label for="sousActe">Decision <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-dropdown inputId="decision" [filter]="true"
                                                        showClear="true" [options]="typeSort"
                                                        formControlName="sort"
                                                        [autoDisplayFirst]="false" [disabled]="true"></p-dropdown>
                                        </div>

                                    </div>
                                    <div class="p-fluid p-formgrid p-grid">
                                    <!-- <div class="p-field p-col-3">
                                        <label for="montantReclame">Montant reclamé par le prestataire<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                        <p-inputNumber formControlName="montantReclame" [disabled]="true" mode="decimal" locale="fr-FR" ></p-inputNumber>
                                    </div>
                                    <div class="p-field p-col-3">
                                        <label for="montantPaye">Montant payé<span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                        <p-inputNumber formControlName="montantPaye" [disabled]="true" class="champ" mode="decimal" locale="fr-FR"></p-inputNumber>
                                    </div> -->
                                    <div class="p-field p-col">
                                        <label for="observation">Observation</label>
                                        <textarea pInputTextarea formControlName="observation" autoResize="autoResize"></textarea>
                                    </div>
                                    </div>

                                    <div class="p-fluid p-formgrid p-grid">
                                        <div class="p-field p-col-2">
                                            <button pButton pRipple icon="pi pi-plus" *ngIf="!isDetail && isModif" pTooltip="Supprimer prestation" label="Supprimer prestation"
                                                    class="p-button-success" type="button" (click)="deleteItemPrestation(i)">
                                            </button>
                                        </div>
                                        <div class="p-field p-col-2">
                                            <button pButton [disabled]="!adherentSelected || !prestationForm.get('dateDeclaration').value
                                            || !prestationForm.get('numeroFacture').value"
                                                    pRipple icon="pi pi-plus" pTooltip="Ajouter prestation" label="Ajouter prestation"
                                                    class="p-button-success" type="button" (click)="addItemPrestation()"></button>
                                        </div>
                                    </div>

                                </p-fieldset>

                            </div>
                        </div>

                        <br/>

                        <div class="p-grid p-justify-between">
                            <div>
                                <button pButton pRipple label="Quitter" type="button" (click)="closeDialog()" icon="pi pi-times"  class="p-button-danger p-mr-2 p-mb-2" ></button>
                            </div>
                            <div>
                                <button pButton pRipple *ngIf="!isDetail" [disabled]="prestationForm.invalid" (click)="onCreate()"  label="Enregistrer" icon="pi pi-check" type="submit" class="p-button-success p-mr-2 p-mb-2" ></button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </p-dialog>


<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
</div>
