.champ {
  font-weight: bold;
  color: green !important;
}

.essai {
  z-index: 200px !important;
}

.champVert {
  font-weight: bold;
  color: green !important;
}

.champRouge {
  font-weight: bold;
  color: red !important;
}