
    <div class="p-grid">
        <div class="p-col-4">
            <label class="p-fieldset-content">Choisir l'ancien groupe</label>
            <p-dropdown [options]="groupeListes" optionLabel="libelle" [(ngModel)]="groupeSelectedPermuter"
                        [filter]="true" filterBy="libelle" [showClear]="true" placeholder="Choisir un groupe"
                        (onChange)="loadAherantByGroupe1()">
            </p-dropdown>
        </div>

        <div class="p-col-4">
            <label class="p-fieldset-content">Choisir le nouveau groupe</label>
            <p-dropdown [options]="groupeListNouvo" optionLabel="libelle" [(ngModel)]="groupeSelectedNouvo"
                        [filter]="true" filterBy="libelle" [showClear]="true" placeholder="Choisir un groupe" [disabled]="!historiqueAveantAdherantsPermuteSelected?.length"
                       >
            </p-dropdown>
        </div>

       <!--  <div class="p-col-2">
            <label class="p-fieldset-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <button type="button" pButton pRipple label="Ajouter" class="p-button-success" icon="pi pi-plus"
                    (click)="addAherentNewGroupe()" [disabled]="!groupeSelectedNouvo.libelle"></button>
        </div>
 -->
        <div class="p-col-2">
            <label class="p-fieldset-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <button type="button" pButton pRipple label="Valider" class="p-button-success" icon="pi pi-check"
                    (click)="saveAherentNewGroupe()" [disabled]="!groupeSelectedNouvo.id"></button>
        </div>

        
        <div class="p-col-12">
            <p-table #dt [value]="historiqueAveantAdherantsPermute" [(selection)]="historiqueAveantAdherantsPermuteSelected" [rows]="10" dataKey="id" editMode="row" [paginator]="true"
            [rowHover]="true" styleClass="p-datatable-customers"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
             currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement"
            [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Matricule</th>
                        <th>NOM</th>
                        <th>PRENOM(S)</th>
                        <th>DATE NAISS.</th>
                        <th>MAIL</th>
                        <th>DATE EFFET</th>
                        <th></th>
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-historiqueAveantAdherant let-editing="editing"
                             let-ri="rowIndex">
                    <tr [pEditableRow]="historiqueAveantAdherant"  [ngClass]="{'colorZone': !historiqueAveantAdherant.adherent.adherentPrincipal}">
                        <td style="width: 3rem">
                            <p-tableCheckbox [value]="historiqueAveantAdherant" [disabled]="historiqueAveantAdherant.adherent.adherentPrincipal" (click)="cocherCase(historiqueAveantAdherant)"></p-tableCheckbox>
                        </td>
                        <td>{{historiqueAveantAdherant.adherent.numero}}</td>
                        <td>{{historiqueAveantAdherant?.adherent?.nom | upercase}}
                        </td>
                        <td>{{historiqueAveantAdherant?.adherent?.prenom }}
                        </td>
                        <td>{{historiqueAveantAdherant?.adherent?.dateNaissance | formatTableValue : 'date'}}
                        </td>
                        <td>{{historiqueAveantAdherant?.adherent?.mail}}
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input id="dateEffet"
                                     type="date" name="dateEffet" pInputText  [(ngModel)]="historiqueAveantAdherant.dateEffet">
                                </ng-template>
                                <ng-template pTemplate="output" >
                                    {{historiqueAveantAdherant?.dateEffet | formatTableValue : 'date'}}
                                   
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing  &&  historiqueAveantAdherant.coser" pButton pRipple  pTooltip="editer" pInitEditableRow icon="pi pi-pencil" class="ui-button-info p-mr-2" (click)="onRowEditInit(historiqueAveantAdherant)"></button>
                            <button *ngIf="editing" pRipple  pButton  pSaveEditableRow icon="pi pi-check" class="ui-button-success p-mr-2" style="margin-right: .5em" (click)="onRowEditSave(historiqueAveantAdherant, ri)"></button>
                            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger p-mr-2" (click)="onRowEditCancel(historiqueAveantAdherant, ri)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

