<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
                    <button pButton pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimerFormulaire()"></button>

                </ng-template>
             
			</p-toolbar>
   
        </div> 
        
        
        
        
      
        
        <p-dialog [maximizable]="true" [(visible)]="display" header="Dépense des Prescripteur" [modal]="true" styleClass="p-fluid" 
        [style]="{width: '10 00px'}">

        <ng-template pTemplate="content">
            <div class="card">


                <form>
                    

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-4">
                                <label class="espace1" for="numCompte">Type de Prescripteur <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                              
                                <p-multiSelect inputId="typePrestataireList" dataKey="id" [filter]="true"
                                                    showClear="true" [options]="typePrestataireList"
                                                    name="typePrestataire"
                                                    [(ngModel)]="check.typePrestataire"  [autoDisplayFirst]="false" (onChange)="changeDisplay()"
                                                    optionLabel="libelle"></p-multiSelect> 
                                <!--  <p-dropdown [filter]="true" 
                                showClear="true" [options]="typePrestataireList"
                                name="typePrestataire"
                                optionLabel="libelle" 
                                [autoDisplayFirst]="false" [(ngModel)]="check.typePrestataire"  >
                                </p-dropdown> -->
        
                            </div>
                            <div class="p-field p-col-4">
                                <label class="espace1" for="journal">Date debut <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                           
                                
                                <input  type="date" pInputText [(ngModel)]="check.dateDebut" name="dateDebut">
                            </div>
                            <div class="p-field p-col-4">
                                <label class="espace1" for="journal">Date fin<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                           
                                
                                <input  type="date" pInputText [(ngModel)]="check.dateFin" name="dateFin">
                            </div>
    
                        </div>
    
                        


                        <div class="p-grid p-justify-between">
                            <div>
                                <button pButton pRipple label="Quitter" type="button" (click)="closeDialog()" icon="pi pi-times"  class="p-button-danger p-mr-2 p-mb-2" ></button>
                            </div>
                            <div>
                                <button pButton pRipple    (click)="findOperationGrandLivre()"  label="Enregistrer" icon="pi pi-check" type="button" class="p-button-success p-mr-2 p-mb-2" ></button>
                            </div>
                        </div>
                    
                </form>
            </div>
        </ng-template>
        </p-dialog>  

  
<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
</div>
