<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
                    <!-- <div class="p-field p-col">
                        <label for="journal">Journal </label>
                   
                        
                        <p-dropdown inputId="journal" [filter]="true"
                                    showClear="true" [options]="journalList"
                                    name="journal" [(ngModel)]="journal"  optionLabel="code"  [style]="{'width':'100%'}"
                                    [autoDisplayFirst]="false" ></p-dropdown>
                    </div> -->

                    <div class="p-field p-col-2">
                        <label for="journal">Date debut <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                   
                        
                        <input  type="date" pInputText [(ngModel)]="operation.dateSaisie" >
                    </div>
                    <div class="p-field p-col-2">
                        <label for="journal">Date fin<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                   
                        
                        <input  type="date" pInputText [(ngModel)]="operation.dateFin" >
                    </div>
                    <div class="p-field p-col">
                        <label for="numCompte">N° compte <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                        <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompte" name="numCompte" mode="decimal" locale="fr-FR" (onBlur)="findCompte1()"></p-inputNumber>  

                    </div>

                    <div class="p-field p-col">
                        <label for="numCompte2"> N° compte <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                        <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompteAuxi" name="numCompteAuxi" mode="decimal" locale="fr-FR" (onBlur)="findCompteAuxiliaire()"></p-inputNumber>  

                    </div>
                    <div class="p-field p-col espace">
                        <label for="numCompte2"> <span style="color: red !important; size: 1.4em;" class="required"></span></label>

                        <button pButton pRipple icon="pi pi-search" pTooltip="recherche" class="p-button-rounded p-button-info" (click)="findOperationGrandLivre()"></button>

                    </div>

 			</ng-template>
             <ng-template pTemplate="right">
                <div>
                    <button pButton pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info" (click)="imprimer()"></button>

                </div>
             </ng-template>
			</p-toolbar>
            
            <p-table [value]="operationList" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date de saisie</th>
                        <th>c.j</th>
                        <th>Reférence</th>
                        <th>N° pièce</th>
                        <th>Libellé d'écriture</th>
                        <th>Mouvement débit</th>
                        <th>Mouvement crédit</th>
                        <th>Solde progressif</th>
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operation let-ri="rowIndex">
                    <tr>
                        <td>   {{operation.dateSaisie | formatTableValue : 'date'}}
                               
                        </td>
                        <td>{{operation.exerciceComptableOperation?.journaux?.code}}</td>
                        <td>{{operation.reference}} </td>
                        <td>{{operation.numPiece}}</td>
                        <td>{{operation.libelle}} </td>
                        
                        
                        
                        <td>{{operation.montantCredit | formatTableValue: 'number':true}} </td>
                        <td >{{operation.montantDebit | formatTableValue: 'number':true}}</td>
                        <td >{{operation.solde | formatTableValue: 'number':true}}</td>
                        
                    </tr>
                </ng-template>
            </p-table>

            
        </div> 
        
        
        
        
      
        
        

  
<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
</div>
