<div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addGarant()"></button>
				</ng-template>
                <ng-template pTemplate="right"> 
					<button pButton pRipple label="Imprimer" icon="pi pi-Print" class="p-button-warning p-mr-2 p-mb-2" (click)="voirDetailEtatAppel()"></button>
				</ng-template> 

			</p-toolbar>

			<p-table #dt [value]="tiersList" [loading]="false" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['compte','poste','libelle']"
					 [(selection)]="selectedGarants" selectionMode="single" (onRowSelect)="onRowSelect($event)" [rowHover]="true" dataKey="id"
					 styleClass="p-datatable-customers"
					 currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0"></h5>
						<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<!-- <th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th> --> 
                        <th pSortableColumn="contact" >Compte Tiers<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="contact" >Intitulé<p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="code" >Abrégé <p-sortIcon field="code"></p-sortIcon></th>
						<th pSortableColumn="nom" >Type de Compte Tiers <p-sortIcon field="nom"></p-sortIcon></th>
						<th pSortableColumn="personneRessource" >Description<p-sortIcon field="personneRessource"></p-sortIcon></th>
                        <th pSortableColumn="numeroCompteBancaire1" >Adresse <p-sortIcon field="numeroCompteBancaire1"></p-sortIcon></th>
                        <th pSortableColumn="commissionPrime.taux"> N° Téléphone <p-sortIcon field="commissionPrime.taux"></p-sortIcon></th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-garant>
					<tr>
						<!-- <td>
							<p-tableCheckbox [value]="garant"></p-tableCheckbox>
						</td> -->
                        <td><span class="p-column-title">{{garant?.compteTiers}}</span></td>
                        <td><span class="p-column-title">{{garant.intitule}}</span></td>
                        <td><span class="p-column-title">{{garant.abrege}}</span></td>
						<td><span class="p-column-title">{{garant.typeCompteTiers}}</span></td>
                        <td><span class="p-column-title">{{garant.description}}</span></td>
						<td><span class="p-column-title">{{garant.adresse}}</span></td>
                        <td><span class="p-column-title">{{garant?.numTel}}</span></td>
						<td>
							<button pButton pRipple icon="pi pi-pencil" pTooltip="Modifier" class="p-button-rounded p-button-success p-mr-1" (click)="editGarant(garant)"></button>
							<button pButton pRipple icon="pi pi-trash"  pTooltip="Supprimer" class="p-button-rounded p-button-warning p-mr-1" (click)="deleteGarant(garant)"></button>
<!--                             <button pButton pRipple icon="pi pi-print" pTooltip="Imprimer" class="p-button-rounded p-button-info p-mr-1" (click)="imprimerAppelFond(garant)"></button>
 -->                            <button pButton  pRipple icon="pi pi-eye" pTooltip="voir details" class="p-button-rounded p-button-info" (click)="voirDetail(garant)"></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						{{tiersList ? tiersList.length : 0 }} comptes tiers.
					</div>
				</ng-template>
			</p-table>
		</div>


        <p-dialog [maximizable]="true" [(visible)]="infosGarant" header="Appel de Fond détails" [modal]="true" styleClass="p-fluid" [style]="{width: '1200px'}">
            <ng-template pTemplate="content">
                <div class="card">
                <h5></h5>
                <div class="p-fluid p-formgrid p-grid">
                       <div class="p-field p-col">
                        <label for="lastname2">Compte Tiers</label>
                        <div>
                            <span>{{garant.compteTiers}}</span>
                        </div>
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname2">Intitulé</label>
                            <div>
                                <span>{{garant.intitule}}</span>
                            </div>
                            </div>

                        <div class="p-field p-col">
                            <label for="lastname2">Abrégé</label>
                            <div>
                                <span>{{garant.abrege}}</span>
                            </div>
                        </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="lastname2">Type de Compte Tiers</label>
                        <div>
                            <span>{{garant.typeCompteTiers}}</span>
                        </div>
                    </div>
                    
                    <div class="p-field p-col">
                    <label for="firstname2">Description</label>
                    <div>
                        <span>{{garant.description}}</span>
                    </div>
                    </div>

                        <div class="p-field p-col">
                        <label for="dateEffet">Adresse</label>
                        <div>
                            <span>{{garant?.adresse}}</span>
                        </div>
                    </div>  
                    <div class="p-field p-col">
                        <label for="lastname2">N° Téléphone</label>
                        <div>
                            <span>{{garant.numTel}}</span>
                        </div>
                    </div>
    
                </div>
            </div>
            </ng-template>
        </p-dialog>
        
         


        <p-dialog [maximizable]="true" [(visible)]="displayDialogFormGarant" header="Ajouter un Compte Tiers" [modal]="true" styleClass="p-fluid" (onHide)="annulerSaisie()"
        [style]="{width: '10 00px'}">
            <ng-template pTemplate="content">
            <form (ngSubmit)="onCreate()"  [formGroup]="tiersForm">
                <div class="card">
                <p-fieldset legend="Identification" toggleable="true">
                <div class="p-fluid p-formgrid p-grid">

                        <div class="p-field p-col">
                            <label for="firstname2">Compte Tiers <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="compteTiers" type="number" required formControlName="compteTiers"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'compteTiers'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Intitule <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="intitule" type="text" required formControlName="intitule"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'numeroRef'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Abrege <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="abrege" type="text" required formControlName="abrege"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'abrege'">
                            </app-entity-validation>
                        </div>

                </div>

                <div class="p-fluid p-formgrid p-grid">
                    
                    <div class="p-field p-col">
                        <label for="firstname2">Description <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="description" type="text" formControlName="description"  pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                      [formGroup]="tiersForm" [entityField]="'description'">
                        </app-entity-validation>
                    </div>

                    <div class="p-field p-col">
                        <label for="firstname2">Compte Collectif <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <p-dropdown inputId="compteCollectif" [filter]="true" optionLabel="compte"
                                                showClear="true" [options]="compteList"
                                                formControlName="compteCollectif"
                                                [autoDisplayFirst]="false">
                        </p-dropdown>
                    
                    </div>
                    <div class="p-field p-col">
                        <label for="firstname2">Type de Compte Tiers <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <p-dropdown inputId="typeCompteTiers" [filter]="true"
                                                showClear="true" [options]="typeCompteTiers"
                                                formControlName="typeCompteTiers"
                                                [autoDisplayFirst]="false">
                        </p-dropdown>
                    
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="Coordonnées" toggleable="true">


                <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="firstname2">Téléphone <span style="color: red !important; font-size: 1.4em">*</span></label>
                            <input id="numTel" type="text" required formControlName="numTel"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'numTel'">
                            </app-entity-validation>
                        </div>
                        <div class="p-field p-col">
                            <label for="firstname2">Interlocuteur <span style="color: red !important; font-size: 1.4em"></span></label>
                            <input id="interlocuteur" type="text" formControlName="interlocuteur"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'interlocuteur'">
                            </app-entity-validation>
                        </div>

                        <div class="p-field p-col">
                            <label for="firstname2">Adresse<span style="color: red !important; font-size: 1.4em"></span></label>
                            <input id="adresse" type="text" required formControlName="adresse"  pInputText>
                            <app-entity-validation [entityValidations]="entityValidations"
                                          [formGroup]="tiersForm" [entityField]="'adresse'">
                            </app-entity-validation>
                        </div>
                     
                </div>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-3">
                        <label for="firstname2">Code Postal <span style="color: red !important; font-size: 1.4em"></span></label>
                        <input id="codePostal" type="text" required formControlName="codePostal"  pInputText>
                        <app-entity-validation [entityValidations]="entityValidations"
                                      [formGroup]="tiersForm" [entityField]="'codePostal'">
                        </app-entity-validation>
                    </div>
                    
                </div>
                
                </p-fieldset>
                    </div>

                <div class="p-grid p-justify-between">
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times"  (click)="annulerSaisie()"></button>
                    </div>
                    <div>
                    <button  [disabled]="tiersForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    </div>
                </div>
                </form>                     
             </ng-template>
        </p-dialog>

        <p-dialog [maximizable]="true" [(visible)]="etatAppel" header="Etat de suivi des appels de fond" [modal]="true" styleClass="p-fluid" [style]="{width: '1200px'}" (onHide)="annulerAppelFond()">
            <ng-template pTemplate="content">
                <div class="card">
                <h5></h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="firstname2">Garant<span style="color: red !important; font-size: 1.4em">*</span></label>
                        <p-dropdown inputId="garant" [filter]="true" optionLabel="nom"
                                                showClear="true" [options]="garantList"
                                                [autoDisplayFirst]="false" [(ngModel)]="garant" (onchange)="searchAppelFond()">
                        </p-dropdown>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="compteParent">Date debut <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateAppel" type="date" pInputText [(ngModel)]="dateDebut" (onchange)="searchAppelFond()">
                    </div>
                    <div class="p-field p-col-3">
                        <label for="compteParent">Date fin <span style="color: red !important; font-size: 1.4em">*</span></label>
                        <input id="dateAppel" type="date"  pInputText [(ngModel)]="dateFin" (onchange)="searchAppelFond()">
                    </div>
                    <div class="p-field p-col-2">
                        <label for="compteParent">Rechercher <span style="color: red !important; font-size: 1.4em"></span></label>
                        <button pButton pRipple label="Rechercher" [disabled]="!garant || !dateDebut || !dateFin" icon="pi pi-search-plus" class="p-button-success p-mr-2 p-mb-2" (click)="searchAppelFond()"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <span *ngIf="appelFondTotal?.totalAppel != null">
                        <span style="color: black; font-weight:bold; font-size: 1.3em">Montant total perçu auprès du garant "{{garant?.nom}}" 
                            par appels de fond du {{dateDebut | formatTableValue : 'date'}} au {{dateFin | formatTableValue : 'date'}}=></span> <span style="color: green; font-weight:bold; font-size: 
                            1.6em">{{appelFondTotal?.totalAppel | formatTableValue: 'number':true}} FCFA</span> 
                    </span>
                </div>
                
            </div>
            </ng-template>
        </p-dialog>


            <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
	</div>
</div>
