<div class="p-card" >
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <p-fieldset legend="Information adhérent" toggleable="true">
                <form [formGroup]="adherentForm" (ngSubmit)="addAdherentFamilleToList()">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-3">
                            <label for="nom">Nom</label>
                            <input id="nom" type="text" required formControlName="nom" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="prenom">Prenom</label>
                            <input id="prenom" type="text" formControlName="prenom" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="tel">Telephone</label>
                            <input id="tel" type="number" formControlName="numeroTelephone" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="mail">Adresse Email</label>
                            <input id="mail" type="text" type="email" formControlName="adresseEmail"
                                   pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="adresse">Adresse</label>
                            <input id="adresse" type="text" formControlName="adresse" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="ref">Reference bancaire</label>
                            <input id="ref" type="text" formControlName="referenceBancaire" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="naiss">Date de naissance</label>
                            <p-calendar [showIcon]="true" formControlName="dateNaissance"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="lieu">Lieu de naissance</label>
                            <input id="lieu" type="text" formControlName="lieuNaissance" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="entre">Date entrée</label>
                            <p-calendar [showIcon]="true" formControlName="dateEntree"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="genre">Genre</label>
                            <p-dropdown inputId="genre" dataKey="id" [filter]="true" showClear="true"
                                        [options]="genreList" formControlName="genre"
                                        placeholder="Select" optionLabel="libelle"></p-dropdown>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="profession">Profession</label>
                            <p-dropdown inputId="profession" dataKey="id" [filter]="true"
                                        showClear="true" [options]="professionList"
                                        formControlName="profession" placeholder="Select"
                                        optionLabel="libelle"></p-dropdown>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="quali">Qualite assuré</label>
                            <p-dropdown inputId="qualiteAssure" dataKey="id" [filter]="true"
                                        showClear="true" [options]="qualiteAssureList"
                                        formControlName="qualiteAssure" placeholder="Select"
                                        optionLabel="libelle"></p-dropdown>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="matri">Matricule</label>
                            <input id="matri" type="text" formControlName="matricule" pInputText>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-5"></div>
                        <div class="p-field p-col-2">
                            <button pButton pRipple icon="pi pi-times" pTooltip="voir groupe"
                                    class="p-button-rounded p-button-warning" label="Annuler"
                                    (click)="clearGroupe(police)"></button>
                        </div>
                        <div class="p-field p-col-2">
                            <button pButton pRipple icon="pi pi-save" pTooltip="voir groupe" label="Ajouter"
                                    class="p-button-rounded p-button-success" type="submit"></button>
                        </div>
                        <div class="p-field p-col-10"></div>
                        <div class="p-field p-col-10">
                            <button pButton pRipple icon="pi pi-save" pTooltip="voir groupe" label="Ajouter"
                                    class="p-button-rounded p-button-success" type="submit"></button>
                        </div>

                    </div>

                </form>

                <div class="p-field p-col-5"></div>

                <p-table [value]="familles" dataKey="" editMode="row">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Telephone</th>
                            <th>Date de naissance</th>
                            <th>Date entrée</th>
                            <th>Genre</th>
                            <th>Qualite assuré</th>
                            <th style="width:13em"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rowData">
                            <td>
                                <input [id]="'nom' + ri" type="text" [(ngModel)]="rowData.nom" pInputText />
                            </td>

                            <td>
                                <input [id]="'prenom' + ri" type="text" [(ngModel)]="rowData.prenom" pInputText />
                            </td>

                            <td>
                                <input [id]="'numeroTelephone' + ri" type="text" [(ngModel)]="rowData.numeroTelephone" pInputText />
                            </td>

                            <td>
                                <input [id]="'dateNaissance' + ri" type="date" [(ngModel)]="rowData.dateNaissance" pInputText />
                            </td>

                            <td>
                                <input [id]="'dateEntree' + ri" type="text" [(ngModel)]="rowData.dateEntree" pInputText />
                            </td>

                            <td>
                                <p-dropdown [options]="genreList" [(ngModel)]="rowData.genre"
                                            optionLabel="libelle" placeholder="Select Make" [style]="{'width':'100%'}"></p-dropdown>
                            </td>

                            <td>
                                <p-dropdown [options]="qualiteAssureList"
                                            [(ngModel)]="rowData.qualiteAssure" optionLabel="libelle" placeholder="Select Make"
                                            [style]="{'width':'100%'}"></p-dropdown>
                            </td>

                            <td style="text-align:center">
                                <button *ngIf="editing" pButton type="button" pCancelEditableRow
                                        icon="pi pi-trash" class="ui-button-warning">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-fieldset>
        </div>
    </div>
</div>