<div class="p-card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <div class="p-field p-col-7">
                <div class="p-field-checkbox">
                    <label class="p-badge-success">Souhaitez vous importer les adhérents à travers un fichier excel ?</label>
                    <div class="p-field-radiobutton p-ml-5 p-mt-2"><br>
                        <p-radioButton name="city" value="OUI" [(ngModel)]="isImport" inputId="city1" id="city1"></p-radioButton>
                        <label for="city1">OUI</label>
                    </div>
                    <div class="p-field-radiobutton p-ml-5 p-mt-2"><br>
                        <p-radioButton name="city" value="NON" [(ngModel)]="isImport" inputId="city2" id="city2"></p-radioButton>
                        <label for="city2">NON </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-field p-col-12">
            <p-fieldset legend="Information de l'Avenant" toggleable="true">
                <form [formGroup]="myForm" *ngIf="!isRenouv">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-4">
                            <label for="nom">Numéro de l'avenant chez la garant</label>
                            <input id="numero" type="number" min="0" required formControlName="numero" pInputText>
                        </div>
                        <div class="p-field p-col-4">
                            <label for="nom">Date d'Incorporation</label>
                            <p-calendar id="dateIncorparation" [showIcon]="true" formControlName="dateIncorparation"
                                    dateFormat="dd/mm/yy" inputId="calendar" (onSelect)="compareDate()"
                                    appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-2">
                            <br>
                            <button pButton pRipple icon="pi pi-upload" pTooltip="Exporter un model" type="button"
                                    class="p-button p-button-icon" label="export model" (click)="exportModel()">
                            </button>
                        </div>
                        <div class="p-field p-col-2" *ngIf="isImport === 'OUI'"><app-upload-file (fileEvent)="getFiles($event)"></app-upload-file> </div>
                        <div class="p-field p-col-12">
                            <label for="nom">Observation</label>
                            <input id="Observation" type="text" required formControlName="observation" pInputText>
                        </div>
                    </div>
                </form>
            </p-fieldset>
            <p-fieldset legend="Information adhérent" toggleable="true" *ngIf="isImport === 'NON'">
                <div class="p-field p-col">
                    <label for="adherentSelected">Adhérent</label>
                    <p-dropdown id="adherentSelected" inputId="adherentSelected" dataKey="id" [filter]="true" showClear="true" [options]="adherentPrincipaux" [(ngModel)]="adherentSelected"
                                (onChange)="loadAdherentPrincipalInfo()" placeholder="Recherchez un adhérent principal" optionLabel="fullName"></p-dropdown>
                </div>
                <form [formGroup]="adherentForm" (ngSubmit)="addAdherentFamilleToList()" >
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-3">
                            <label for="nom">Nom <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="nom" type="text" required formControlName="nom" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="prenom">Prenom <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="prenom" type="text" formControlName="prenom" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="tel">Telephone <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="tel" type="number" formControlName="numeroTelephone" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="matriculeGarant">Matricule chez le garant <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="matriculeGarant" type="text" formControlName="matriculeGarant" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="matriculeSouscripteur">Matricule chez le souscripteur</label>
                            <input id="matriculeSouscripteur" type="text" formControlName="matriculeSouscripteur" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="mail">Adresse Email <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="mail" type="text" type="email" formControlName="adresseEmail"
                                   pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="adresse">Adresse <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="adresse" type="text" formControlName="adresse" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="ref">Reference bancaire</label>
                            <input id="ref" type="text" formControlName="referenceBancaire" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="naiss">Date de naissance <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-calendar [showIcon]="true" formControlName="dateNaissance"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="lieu">Lieu de naissance <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <input id="lieu" type="text" formControlName="lieuNaissance" pInputText>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="entre">Date entrée <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-calendar [showIcon]="true" formControlName="dateEntree"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-3">
                            <label for="dateIncor">Date d'incorporation <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-calendar id="dateIncor" [showIcon]="true" formControlName="dateIncor"
                                        dateFormat="dd/mm/yy" inputId="calendar"
                                        appendTo="body"></p-calendar>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="genre">Genre <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-dropdown inputId="genre" dataKey="id" [filter]="true" showClear="true"
                                        [options]="genreList" formControlName="genre"
                                        placeholder="Select" optionLabel="libelle"></p-dropdown>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="profession">Profession<sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-dropdown inputId="profession" dataKey="id" [filter]="true"
                                        showClear="true" [options]="professionList"
                                        formControlName="profession" placeholder="Select"
                                        optionLabel="libelle"></p-dropdown>
                        </div>

                        <div class="p-field p-col-3">
                            <label for="quali">Qualite assuré <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                            <p-dropdown inputId="qualiteAssure" dataKey="id" [filter]="true"
                                        showClear="true" [options]="qualiteAssureList1"
                                        formControlName="qualiteAssure" placeholder="Select"
                                        optionLabel="libelle"></p-dropdown>
                        </div>

                       <!-- <div class="p-field p-col-3">
                            <label for="matri">Matricule</label>
                            <input id="matri" type="text" formControlName="matricule" pInputText>
                        </div>-->
                        <div class="p-field p-col-4"></div>
                        <div class="p-field p-col-2">
                            <button pButton pRipple icon="pi pi-plus" pTooltip="Ajouter membre de famille" label="Famille"
                                    class="p-button-success" type="button" (click)="ajouter()"></button>
                        </div>
                        <div class="p-field p-col-2">
                            <button pButton pRipple icon="pi pi-list" pTooltip="Visualiser la liste" label="Liste"
                                    class="p-button p-button-success" type="button" (click)="voirLaliste()">
                            </button>
                        </div>

                        <div class="p-fluid formgrig p-col-12" formArrayName="familys">


                            <p-fieldset class="p-fluid formgrig mb-1" [legend]="'membre famille ' + (ri+1)"
                                        toggleable="true"
                                        *ngFor="let familyForm of familys.controls; let ri = index"
                                        [style]="{'width': '100%'}">
                                <div class="p-fluid p-formgrid p-grid p-mb-2" [formGroup]="familyForm">
                                    <div class="p-field p-grid">
                                        <div class="p-col-3">
                                            <label [for]="'nom' + ri">Nom<sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <input [id]="'nom' + ri" name="nom" type="text" formControlName="nom"
                                                   pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'prenom' + ri">Prenom <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <input [id]="'prenom' + ri" type="text" [name]="'prenom' + ri"
                                                   formControlName="prenom" pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'numeroTelephone' + ri">Téléphone</label>
                                            <input [id]="'numeroTelephone' + ri" type="text"
                                                   [name]="'numeroTelephone' + ri" formControlName="numeroTelephone"
                                                   pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'dateNaissance' + ri">Date Naisse. <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <input [id]="'dateNaissance' + ri" type="date" [name]="'dateNaissance' + ri"
                                                   formControlName="dateNaissance" pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'dateEntree' + ri">Date Entrée <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <input [id]="'dateEntree' + ri" type="date" [name]="'dateEntree' + ri"
                                                   formControlName="dateEntree" pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'dateIncor' + ri">Date Incorpotration <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <input [id]="'dateIncor' + ri" type="date" [name]="'dateIncor' + ri"
                                                   formControlName="dateIncor" pInputText/>
                                        </div>
                                        <div class="p-col-3">
                                            <label [for]="'nom1' + ri">Genre <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <p-dropdown [options]="genreList" formControlName="genre"
                                                        [name]="'genre' + ri"
                                                        optionLabel="libelle" placeholder="Select Make"
                                                        [style]="{'width':'100%'}"></p-dropdown>
                                        </div>
                                        <div class="p-col-2">
                                            <label [for]="'nom2' + ri">Qualite Assuré <sup style="color: red !important; size: 1.4em;">(*)</sup></label>
                                            <p-dropdown [options]="qualiteAssureList2" [name]="'qualite' + ri"
                                                        formControlName="qualiteAssure" optionLabel="libelle"
                                                        placeholder="Select Make"
                                                        [style]="{'width':'100%'}"></p-dropdown>
                                        </div>
                                        <div class="p-col-1">
                                            <button pButton type="button" (click)="delete(ri)"
                                                    icon="pi pi-trash" class="ui-button-danger">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>

                        </div>
                    </div>

                </form>
            </p-fieldset>
            <div class="p-fluid formgrig p-col-12 p-mt-3">
                <div class="p-grid">
                    <div class="p-col-12">
                        <hr>
                    </div>
                    <div class="p-field p-col-3"></div>
                    <div class="p-field p-col-2 p-ac-center">
                        <button pButton pRipple icon="pi pi-times" pTooltip="Annuler" type="button"
                                class="p-button p-button-warning" label="Annuler" (click)="init()">
                        </button>
                    </div>
                    <div class="p-field p-col-2 p-ac-center" *ngIf="isImport === 'NON'">
                        <button pButton pRipple icon="pi pi-times" pTooltip="Ajouter à la liste" type="button" [disabled]="adherentForm.value.valid === null"
                                class="p-button p-button-icon" label="Ajouter à la liste" (click)="createHistoriqueAvenant()">
                        </button>
                    </div>
                    <div class="p-field p-col-2 p-ac-center">
                        <button pButton pRipple icon="pi pi-save" pTooltip="Valider la viste des incorporés" label="Enregistrer"
                                class="p-button p-button-success" type="button" (click)="addAdherentFamilleToList()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-dialog [maximizable]="true" [(visible)]="viewListe" header="Liste des adhérent à incorporer"
              [modal]="true" styleClass="p-fluid" [style]="{width: '900px'}" (onHide)="hideListe()">
            <app-adherent-list [adherentFamilleList]="adherentFamilleListe"></app-adherent-list>
    </p-dialog>
</div>