<div class="p-card">
    <p-table #dt [value]="adherentList" [rows]="20" [paginator]="true" [globalFilterFields]="['matricule','matriculeGarant','nom','prenom', 'numeroTelephone', 'numero']"
             [rowHover]="true" dataKey="id"
             styleClass="p-datatable-customers"
             currentPageReportTemplate="{first} to {last} of {totalRecords} enregistrements" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0"></h5>
                <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." [style]="{width: '20%'}"/>
                    </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Matricule</th>
                <th pSortableColumn="matriculeGarant" style="width: 12rem">Matricule<p-sortIcon field="matriculeGarant"></p-sortIcon></th>
                <th pSortableColumn="nom" style="width: 7rem">Nom<p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="prenom" style="width: 9rem" >Prénom (s)<p-sortIcon field="prenom"></p-sortIcon></th>
                <th pSortableColumn="numero" style="width: 12rem">Date Naissance<p-sortIcon field="dateNaissance"></p-sortIcon></th>
                <th pSortableColumn="numero" style="width: 12rem">Qualité<p-sortIcon field="dateNaissance"></p-sortIcon></th>
                <th pSortableColumn="numeroTelephone" style="width: 10rem" >Telephone <p-sortIcon field="numeroTelephone"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-adherent>
            <tr [ngClass]="{'colorZone': !adherent.adherentPrincipal}">
                <td><p-tableCheckbox [value]="adherent"></p-tableCheckbox></td>
                <td><span class="p-column-title">{{adherent.numero}}</span></td>
                <td><span class="p-column-title">{{adherent.groupe?.police?.garant?.code}}</span></td>
                <td><span class="p-column-title">{{adherent.nom}}</span></td>
                <td><span class="p-column-title">{{adherent.prenom}}</span></td>
                <td><span class="p-column-title">{{adherent.dateNaissance | formatTableValue : 'date'}}</span></td>
                <td><span class="p-column-title">{{adherent?.qualiteAssure?.libelle}}</span></td>
                <!--<td><span class="p-column-title">{{adherent.lieuNaissance}}</span></td>-->
                <td><span class="p-column-title">{{adherent.numeroTelephone}}</span></td>
                <!--<td><span class="p-column-title">{{adherent.adresse}}</span></td>-->
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height:34px">
                    <div class="loading-text"></div>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="9" style="color: red; font-weight: bold">
                    Aucun adhérent trouvé !
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                {{adherentList ? adherentList.length : 0 }} assurés au total
            </div>
        </ng-template>
    </p-table>
</div>
