<div class="card">
    <div class="p-grid">
        <div class="p-col-12">
            <p-fieldset legend="Exercice" toggleable="true">
                <form [formGroup]="exerciceForm">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-6">
                            <label for="debit">Date d'effet</label>
                            <input id="debit" type="date" formControlName="debut" pInputText disabled="true">
                        </div>
                        <div class="p-field p-col-6">
                            <label for="fin">Date d'échéance</label>
                            <input id="fin" type="date" formControlName="fin" pInputText disabled="true">
                        </div>
                    </div>
                </form>
            </p-fieldset>
            <p-fieldset legend="Avenant" toggleable="true">
                <form [formGroup]="myForm" (ngSubmit)="createAvenantSuspension()">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-6">
                            <label for="numero">Numéro de l'avenant chez le garant <sup style="color: red; size: 1.7em">*</sup></label>
                            <input id="numero" type="number" min="0" required formControlName="numero" pInputText>
                        </div>
                        <div class="p-field p-col-6">
                            <label for="dateIncorparation">Date de la résiliation <sup style="color: red; size: 1.7em">*</sup></label>
                            <p-calendar id="dateIncorparation" [showIcon]="true" formControlName="dateAvenant"
                                        dateFormat="dd/mm/yy" inputId="calendar" (onSelect)="compareDate()"
                                        appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-6">
                            <label for="observation">Motif</label>
                            <input id="observation" type="text" required formControlName="observation" pInputText>
                        </div>
                        <div class="p-field p-col-6">
                            <label for="dateIncorparation">Initiateur <sup style="color: red; size: 1.7em">*</sup></label>
                            <p-dropdown inputId="typeDemanteur" dataKey="id" [filter]="true" showClear="true"
                                        [options]="demandeursList" formControlName="demandeur" (onChange)="onDemandeurChange()"
                                        placeholder="Select" optionLabel="libelle"></p-dropdown>
                        </div>
                        <div class="p-field p-col-5"></div>
                        <div class="p-field p-col-2 p-ac-center">
                            <button type="button" pButton pRipple icon="pi pi-times" pTooltip="Annuler"
                                    class="p-button p-button-warning" label="Annuler"
                                    (click)="init()">
                            </button>
                        </div>
                        <div class="p-field p-col-2 p-ac-center">
                            <button pButton pRipple icon="pi pi-save" pTooltip="voir groupe" label="Enregistrer"
                                    class="p-button p-button-success" type="submit" [disabled]="etat === 'VIEW'">
                            </button>
                        </div>
                    </div>
                </form>
            </p-fieldset>
        </div>
    </div>
</div>
