.stat-item{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.stat-count{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: green;
    background-color: antiquewhite;
    border-radius: 0.2em;
}

.primeL{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: green;
    margin-left: 1.2em !important;
}

.primeRendu{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: red;
    margin-left: 1.2em !important;
}

.primeCaisse{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: darkviolet;
    margin-left: 1.2em !important;
}

.primeNull{
    font-size: 1.5em !important;
    // font-style: italic;
    font-weight: bold;
}

.prime {
    font-size: 1.5em !important;
    color: green !important;
    font-weight: bold !important;
    text-align: center !important;
    border-radius: 0.3em;
    // background-color: yellow;

}

/* .prime:hover {
    font-size: 1.8em !important;
    color: green !important;
    font-weight: bold !important;
    text-align: center !important;
    border-radius: 0.3em;
    background-color: yellow;
    
} */


.primeeee{
    border-radius: 1em;
    background-color: darkgray !important;
}

.primeeee:hover{
    border-radius: 1em;
    background-color: yellowgreen !important;
}
