.stat-item{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.stat-count{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: green;
    background-color: antiquewhite;
    border-radius: 0.2em;
}