.stat-item{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.stat-count{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: green;
    background-color: antiquewhite;
    border-radius: 0.2em;
}

.prime{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: green;
    margin-left: 1.2em !important;
}

.primeRendu{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: red;
    margin-left: 1.2em !important;
}

.primeCaisse{
    font-size: 2.5em !important;
    // font-style: italic;
    font-weight: bold;
    color: darkviolet;
    margin-left: 1.2em !important;
}

.primeNull{
    font-size: 1.5em !important;
    // font-style: italic;
    font-weight: bold;
}
