
<div >
            <span >
            <div class="p-col-12">
                <p-toast></p-toast>
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            
                                <label for="fraisBadge">Exercice</label>
                                <p-dropdown [options]="exercices" [(ngModel)]="curentExercice" optionLabel="nomExo" placeholder="Selectionner un exercice" [filter]="true"
                                            [style]="{'width':'100%'}" [dataKey]="id" filterBy="nomExo" [showClear]="true" (onChange)="onExerciceChange()">
                                </p-dropdown> 
                     </ng-template>
                    </p-toolbar>
                    <p-table #dt [value]="historiqueAvenants1" [columns]="cols" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['typeHistoriqueAvenant']"
                    [rowHover]="true" dataKey="id"
                    styleClass="p-datatable-customers"
                    currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement"
                    [showCurrentPageReport]="true">
               <ng-template pTemplate="caption">
                   <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                       <h5 class="p-m-0"></h5>
                       <span class="p-input-icon-left">
                           <i class="pi pi-search"></i>
                           <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                  placeholder="Rechercher le type d'avenant..."/>
                       </span>
                   </div>
               </ng-template>
               <ng-template pTemplate="header">
                   <tr>
                       <th pSortableColumn="numero" style="width: 4rem">N°
                           <p-sortIcon field="numero"></p-sortIcon>
                       </th>
                       <th pSortableColumn="typeAvenant">Type d'avenant
                           <p-sortIcon field="typeAvenant"></p-sortIcon>
                       </th>
                       <!-- <th pSortableColumn="duree">Durée Police
                           <p-sortIcon field="duree"></p-sortIcon>
                       </th> -->
                       <th pSortableColumn="dateEffet">Date d'effet
                           <p-sortIcon field="dateEffet"></p-sortIcon>
                       </th>
                       <th pSortableColumn="dateEcheance">Date d'échéance
                           <p-sortIcon field="dateEcheance"></p-sortIcon>
                       </th>
                       <th pSortableColumn="Prime">Prime
                           <p-sortIcon field="duree"></p-sortIcon>
                       </th>
                       <th>Status</th>
                       <th></th>
                   </tr>
               </ng-template>
               <ng-template pTemplate="body" let-rowdata>
                   <tr>
                       <td><span class="p-column-title">{{rowdata?.numero}}</span>
                       </td>
                       <td>
                           <span *ngIf="rowdata.typeHistoriqueAvenant.toString() === 'AFAIRE_NOUVELLE'" class="p-column-title">AFFAIRE NOUVELLE</span>
                           <span *ngIf="rowdata.typeHistoriqueAvenant.toString() !== 'AFAIRE_NOUVELLE'" class="p-column-title">{{rowdata.typeHistoriqueAvenant}}</span>
                       </td>
                       <!-- <td><span class="p-column-title">{{rowdata.police.duree}}</span>
                       </td> -->
                       <td><span
                               class="p-column-title">{{rowdata.dateEffet | formatTableValue : 'date'}}</span>
                       </td>
                       <td>
                           <span class="p-column-title">{{rowdata?.exercice?.fin | formatTableValue : 'date'}}</span>
                           
                       </td>
                       <td style="font-weight:bold !important">
                           <p-button *ngIf="rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'AFAIRE_NOUVELLE' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'RENOUVELLEMENT' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'PROROGATION' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'MODIFICATION' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'INCORPORATION' " 
                               styleClass="p-button-success" class="p-column-title">{{rowdata?.primeTotal | formatTableValue : 'number'}} FCFA
                           </p-button>
                           <p-button *ngIf="rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'RESILIATION' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'RETRAIT' || 
                               rowdata?.primeTotal && rowdata?.typeHistoriqueAvenant === 'SUSPENSION' " 
                               styleClass="p-button-danger" class="p-column-title">{{rowdata?.primeTotal | formatTableValue : 'number'}} FCFA
                           </p-button>

                           <p-button *ngIf=" curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'AFAIRE_NOUVELLE' || 
                                curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'RENOUVELLEMENT' || 
                                curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'INCORPORATION' " 
                               styleClass="p-button-success" class="p-column-title">{{rowdata?.historiqueAvenantPrime?.primeTotaleEncaissee | formatTableValue : 'number'}} FCFA
                           </p-button>
                           <p-button *ngIf="curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'RESILIATION' || 
                                curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'RETRAIT' || 
                                curentExercice?.id != null && rowdata?.typeHistoriqueAvenant === 'SUSPENSION' " 
                               styleClass="p-button-danger" class="p-column-title">{{rowdata.historiqueAvenantPrime.primeTotalRestituee | formatTableValue : 'number' ? rowdata.historiqueAvenantPrime.primeTotalRestituee : 0}} FCFA
                           </p-button>
                       </td>
                       <td>
                           <span *ngIf="rowdata?.valide" style="color: green; font-weight: bold">VALIDÉ</span>
                           <span *ngIf="!rowdata?.valide" style="color: red !important; font-weight: bold">EN ATTENTE ...</span>

                       </td>
                       <td>
                        <button pButton pRipple icon="pi pi-eye" pTooltip="voir la liste associée"
                                           class="p-button-rounded p-button-info p-mr-2"
                                           (click)="onRowSelectAvenant(rowdata)">
                        </button>
                      </td>
                       <!-- <td style="width: 30em;">
                           <div class="p-grid p-mt-1">
                               <div class="p-col- p-mr-2">
                                   <p-inputSwitch (onChange)="changeStatus(rowdata, rowdata.valide); onRowSelectPolice(rowdata.police)" [(ngModel)]="rowdata.valide"
                                                  [disabled]="!disableAvenant(rowdata)"></p-inputSwitch>
                               </div>
                               <div class="p-col-">
                                   <button pButton pRipple icon="pi pi-eye" pTooltip="voir details"
                                           class="p-button-rounded p-button-info p-mr-2"
                                           (click)=" avenantItem = rowdata; onRowSelectAvenant(rowdata); getGroupeByPolice(rowdata)">
                                   </button>
                                   <button pButton pRipple icon="pi pi-pencil" pTooltip="Modifier"
                                           class="p-button-rounded p-button-warning p-mr-2 p-mr-2"
                                           (click)="onUpdateAvenant(rowdata)" [disabled]="rowdata.valide">
                                   </button>
                               </div>
                               <div class="p-col-">
                                   <button pButton pRipple icon="pi pi-search" pTooltip="voir Prime"
                                           class="p-button-rounded p-button-warning p-mr-2"
                                           (click)="voirPrime(rowdata)" [disabled]="!rowdata.valide">
                                   </button>
                               </div>
                               <div class="p-col-">
                                   <button pButton pRipple icon="pi pi-dollar" pTooltip="Calculer prime" (click)="calculerPrime(rowdata)"
                                           class="p-button-rounded p-button-help p-mr-2" [disabled]="rowdata.valide">
                                   </button>
                               </div>
                               <div class="p-col-">
                                   <button pButton pRipple icon="pi pi-times" pTooltip="Supprimer" (click)="supprimerAvenant(rowdata)"
                                           class="p-button-rounded p-button-danger p-mr-2" [disabled]="rowdata.valide">
                                   </button>
                               </div>
                               <div class="p-col-">
                                   <p-splitButton label="Quittance" icon="pi pi-print" [model]="typeAvenants" styleClass="p-button-secondary mr-2 mb-2"
                                                  (onDropdownClick)="onTypeHistoriqueAvenantChoose(rowdata.typeHistoriqueAvenant, rowdata)">
                                   </p-splitButton>
                               </div>
                           </div>


                       </td> -->
                   </tr>
               </ng-template>
               <ng-template pTemplate="summary">
                   <div class="p-d-flex p-ai-center p-jc-between">
                       {{historiqueAvenants1 ? historiqueAvenants1?.length : 0 }} Avenant(s).
                   </div>
               </ng-template>
           </p-table>
                </div>
                
                
                
                
                
                <p-dialog [maximizable]="true" [(visible)]="displaySinistre" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1400px'}"> 
                    <ng-template pTemplate="content">
                        <div class="card">
                            
                            <p-table #dt [value]="prestations" [columns]="cols" [rows]="10" [paginator]="true"
                             [rowHover]="true" dataKey="id"
                             styleClass="p-datatable-customers"
                             currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                       
                             <ng-template pTemplate="header">
                            <tr>
                                
                                <th pSortableColumn="nomPrenom" >Nom & Prénom(s)<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                                <th pSortableColumn="dateSoins">Date soins<p-sortIcon field="dateSoins"></p-sortIcon></th>
                                <th pSortableColumn="acte">Acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="pathologie">Pathologie<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="produitPharmaceutique">Produits pharmaceutiques<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="nombreActe">Nombre d'acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="coutActe">Coût Unitaire<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="montantRembourse">Montant Remboursé<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="partAssure">Part Assuré(e)<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="decision" >Décision<p-sortIcon field="etat"></p-sortIcon></th>
                                <th pSortableColumn="decision" >Commentaire<p-sortIcon field="etat"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-prefinance>
                            <tr>
                
                                <td><span class="p-column-title">{{prefinance.adherent.nom}} {{prefinance.adherent.prenom}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.dateSoins | formatTableValue : 'date'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.sousActe.libelle}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.pathologie.libelle}}</span>
                                </td>
                                <td><span class="p-column-title"><span *ngFor="let item of prefinance?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span></span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.nombreActe}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.coutUnitaire | formatTableValue : 'number'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.montantRembourse | formatTableValue : 'number'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.montantRestant | formatTableValue : 'number'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.sort}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.observation}}</span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                {{prestations ? prestations.length : 0 }} prestation(s).
                            </div>
                        </ng-template>
                    </p-table>   
                        </div>
                    </ng-template>
                </p-dialog>
                    


                <!--Affichage des details des avenants d'incorporation -->
        <p-dialog [maximizable]="true" [(visible)]="displayDialogFormAdherent"
        header="Adhérent(s) et membre(s)" [modal]="true" styleClass="p-fluid"
        [style]="{'width':'1400px'}">
  <ng-template pTemplate="content">
      <div class="">
          <div class="card">
              <p-table #dt [value]="historiqueAvenantAdherents" [columns]="cols" [rows]="10"
                       [paginator]="true"
                       [globalFilterFields]="['adherent.nom','adherent.prenom','adherent.telephone','adherent.lieuNaissance','adherent.qualiteAssure.libelle']"
                       [rowHover]="true" dataKey="id"
                       styleClass="p-datatable-customers"
                       currentPageReportTemplate="{first} to {last} of {totalRecords} enregistrements"
                       [showCurrentPageReport]="true">
                  <ng-template pTemplate="caption">
                      <div class="p-d-flex p-flex-column table-header">
                          <div class="p-grid">
                              <div class="p-col-9">
                                  <span class="p-input-icon-left">
                                      <i class="pi pi-search"></i>
                                      <input pInputText type="text"
                                             (input)="dt.filterGlobal($event.target.value, 'contains')"
                                             placeholder="Rechercher..." [style]="{width: '20%'}"/>
                                  </span>
                              </div>
                              <div class="p-col-2">
                                  <!-- <span class="p-input-icon-right">
                                      <button pButton pRipple icon="pi pi-print" label="Imprimer"
                                              pTooltip="Imprimer la liste"
                                              class="p-button-info"
                                              (click)="onAdherentPrintIncorporation(historiqueAvenant)"></button>
                                  </span> -->
                              </div>
                          </div>

                      </div>
                  </ng-template>

                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="numero" style="font-size: 12px !important; font-weight: bold;">Matricule
                              <p-sortIcon field="numero"></p-sortIcon>
                          </th>
                          <th pSortableColumn="numeroGarant" style=" font-size: 12px !important; font-weight: bold;">Matricule Garant
                              <p-sortIcon field="numeroGarant"></p-sortIcon>
                          </th>
                          <th pSortableColumn="nom" style="width: 15rem">Nom
                              <p-sortIcon field="nom"></p-sortIcon>
                          </th>
                          <th pSortableColumn="prenom" style="width: 15rem">Prénom(s)
                              <p-sortIcon field="prenom"></p-sortIcon>
                          </th>
                          <th pSortableColumn="numero" style="width: 9rem">Date Naissance
                              <p-sortIcon field="dateNaissance"></p-sortIcon>
                          </th>
                          <th pSortableColumn="lieuNaissance" style="width: 9rem">Lieu de naissance
                              <p-sortIcon field="lieuNaissance"></p-sortIcon>
                          </th>
                          <th pSortableColumn="numeroTelephone" style="width: 9rem">Téléphone
                              <p-sortIcon field="numeroTelephone"></p-sortIcon>
                          </th>
                          <th pSortableColumn="adresse" style="width: 10rem">Date Inc.
                              <p-sortIcon field="adresse"></p-sortIcon>
                          </th>
                          <th pSortableColumn="qla" style="width: 10rem">Qualité Assuré
                              <p-sortIcon field="qla"></p-sortIcon>
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-adherentHis>
                      <tr [ngClass]="{'colorZone': !adherentHis.adherent.adherentPrincipal}">
                          <td><span class="p-column-title">{{adherentHis?.adherent?.numero}}</span></td>
                          <td><span class="p-column-title">{{adherentHis?.adherent?.matriculeGarant}}</span></td>
                          <td><span class="p-column-title">{{adherentHis?.adherent?.nom}}</span></td>
                          <td><span class="p-column-title">{{adherentHis?.adherent?.prenom}}</span></td>
                          <td><span
                                  class="p-column-title">{{adherentHis?.adherent?.dateNaissance | formatTableValue : 'date'}}</span>
                          </td>
                          <td><span class="p-column-title">{{adherentHis?.adherent?.lieuNaissance}}</span></td>
                          <td><span class="p-column-title">{{adherentHis?.adherent?.numeroTelephone}}</span>
                          </td>
                          <td><span class="p-column-title">{{adherentHis?.dateIncorporation}}</span>
                          </td>
                          <td><span
                                  class="p-column-title">{{adherentHis?.adherent?.qualiteAssure?.libelle}}</span>
                          </td>
                          <!-- <td>
                              <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="modifierAdherent(adherent)"></button>
                              <button pButton pRipple icon="pi pi-trash" pTooltip="Supprimer" class="p-button-rounded p-button-warning p-mr-2" (click)="supprimerAdherent(adherent)"></button>
                              <button pButton pRipple icon="pi pi-eye" pTooltip="voir details" class="p-button-rounded p-button-warning" (click)="voirDetailAdherent(adherent)"></button>
                          </td> -->
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="p-d-flex p-ai-center p-jc-between">
                          {{historiqueAvenantAdherents ? historiqueAvenantAdherents.length : 0 }} assuré(s).
                      </div>
                  </ng-template>
              </p-table>
          </div>
      </div>
  </ng-template>
</p-dialog>
        
                <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
        
            </div>

            </span>
</div>