<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="addConvention()"></button>
					<button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mr-2 p-mb-2" (click)="supprimerConvention()"></button>
                    <div class="p-mr-2 p-mb-2">
                        <p-fileUpload #form2 mode="basic" customUpload="true" chooseLabel="convention" uploadLabel="Valider"  multiple="multiple" name="demo2[]" accept="application/pdf" maxFileSize="1000000" (uploadHandler)="onBasicUpload($event, form2)"></p-fileUpload>
                    </div>
				</ng-template>
                <!--
				<ng-template pTemplate="right">
					<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block" ></p-fileUpload>
					<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
				</ng-template>
                -->
			</p-toolbar>
            
            <p-table #dt [value]="conventionListFilter" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <p-dropdown dataKey="id" inputId="prestataire"  [autoDisplayFirst]="false" placeholder="Selectionnez le prestataire" [filter]="true" showClear="true" [options]="prestataireList" optionLabel="libelle" appendTo="body" (onChange)="selectPrestataire($event)"></p-dropdown>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="duree" style="min-width:100px">Libelle<p-sortIcon field="duree"></p-sortIcon></th>
                        <th pSortableColumn="numero" style="min-width:200px">Code<p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="nom" style="min-width:200px">Description<p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="min-width:200px">Tel<p-sortIcon field="dateEffet"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="min-width:200px">Responsable<p-sortIcon field="dateEffet"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="min-width:200px">Localité<p-sortIcon field="dateEffet"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="min-width:200px">Type de prestataire<p-sortIcon field="dateEffet"></p-sortIcon></th>
                        <th pSortableColumn="dateEffet" style="min-width:200px">Nature de prestataire<p-sortIcon field="dateEffet"></p-sortIcon></th>

                        <th style="min-width:150px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-convention>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="convention"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire.libelle}}</span></td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire.code}}</span></td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire.description}}</span>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire?.tel}}</span>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire?.responsable}}</span>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire?.localite}}</span>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire?.libelleTypePrestataire}}</span>
                        </td>
                        <td><span class="p-column-title" style="min-width:200px">{{convention.prestataire?.libelleNaturePrestataire}}</span>
                        </td>
                        <td style="min-width:150px">
                            <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="editer(convention)"></button>
                            <button pButton pRipple icon="pi pi-eye" pTooltip="détail" class="p-button-rounded p-button-success p-mr-2" (click)="detail(convention)"></button>

                            <button pButton pRipple icon="pi pi-trash" pTooltip="supprimer" class="p-button-rounded p-button-info" (click)="supprimer(convention)"></button>
                            <img [src]="adherent.urlPhoto" [alt]="adherent.nom" width="150" height="150" class="p-shadow-4" />  

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{conventionList ? conventionList.length : 0 }} convention(s).
                    </div>
                </ng-template>
            </p-table>
        </div> 
        


        <p-dialog [maximizable]="true"   [(visible)]="displayFormConventionUpdate" header="Modifier convention" [modal]="true" styleClass="p-fluid" (onHide)="closeDialog()" >
            <ng-template pTemplate="content">
                <div class="card">
                <form (ngSubmit)="onCreate()"  [formGroup]="conventionForm">     
                <div class="p-fluid p-formgrid p-grid">
                   <!--  <div class="p-field p-col">
                        <label for="lastname2">Famille acte</label>
                        <p-dropdown dataKey="id" inputId="garantie" [autoDisplayFirst]="false" formControlName="garantie" [filter]="true" showClear="true" [options]="garanties" optionLabel="libelle" (onChange)="changeGarantie($event)" appendTo="body"></p-dropdown>
                        <div class="p-field p-col">
                            <p-dropdown *ngIf="displayActe" dataKey="id" inputId="acte" formControlName="acte"   [autoDisplayFirst]="false" [filter]="true" showClear="true" [options]="acteListFilter" optionLabel="libelle" (onChange)="selectActe($event)" appendTo="body"></p-dropdown>
                            <div class="p-field p-col">
                                <p-dropdown *ngIf="displaySousActe" inputId="sousActe" dataKey="id" [filter]="true"
                                            showClear="true" [options]="sousActeListFilter"
                                            formControlName="sousActe"  [autoDisplayFirst]="false"
                                            optionLabel="libelle" appendTo="body"></p-dropdown>  
                            </div>
                        </div> 
                    </div>
                     -->

                     <div class="p-field p-col-4">
                        <label for="lastname2">SousActe: </label>
                        <p-dropdown  inputId="sousActe" dataKey="id" [filter]="true"
                                            showClear="true" [options]="sousActeListFilter" [disabled]="true"
                                            formControlName="sousActe"  [autoDisplayFirst]="false"
                                            optionLabel="libelle" appendTo="body"></p-dropdown>  
                                            
                    </div>
                    <div class="p-field p-col-4">
                        <label for="lastname2">Prestataire</label>
                        <p-dropdown dataKey="id" inputId="prestataire"  [autoDisplayFirst]="false" [filter]="true" showClear="true" [options]="prestataireList" formControlName="prestataire" optionLabel="libelle" appendTo="body"></p-dropdown>
                    </div> 
                    <div class="p-field p-col-4">
                        <label for="dateEffet">Date effet <span style="color: red !important;">*</span></label>
                        <p-calendar id="dateEffet" [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" formControlName="dateEffet" appendTo="body"></p-calendar>
                    </div>

                    <div class="p-field p-col-4">
                        <label for="delai">Délai de paiement(Jours)</label>
                        <p-inputNumber mode="decimal" locale="fr-FR" id="delai" formControlName="delai" ></p-inputNumber>
                    </div> 
                    <div class="p-field p-col-4">
                        <label for="montant">Montant</label>
                        <p-inputNumber mode="decimal" locale="fr-FR" id="montant" formControlName="montant" ></p-inputNumber>
                    </div>
                </div>
                <div class="p-grid p-justify-between">
                    
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times" (click)="closeDialog()"></button>
                    </div>
                    <div>
                    <button [disabled]="conventionForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    </div>
                </div>
                </form>

            </div>  
        </ng-template>
        </p-dialog>
                

        <p-dialog [maximizable]="true"   [(visible)]="displayFDetailConvention" header="Detail convention" [modal]="true" styleClass="p-fluid" >
            <ng-template pTemplate="content">
                <div class="card">
                <p-fieldset legend="Information du prestataire" toggleable="true">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="matriculeAdherent">Libélle</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.libelle}}
                             </div>
                             <div class="p-field p-col">
                             <label for="matriculeAdherent">Code</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.code}}
                             </div>
                             <div class="p-field p-col">
                             <label for="matriculeAdherent">Description</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.description}}
                             </div>
                         </div>
                             <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col">
                                    <label for="matriculeAdherent">Tel</label>
                                   &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.tel}}
                                    </div>
                                    <div class="p-field p-col">
                                        <label for="matriculeAdherent">Localite</label>
                                       &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.locale}}
                                        </div>
                                        <div class="p-field p-col">
                                            <label for="matriculeAdherent">Responsable</label>
                                           &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail?.prestataire?.responsable}}
                                            </div>
                                 </div>
                                 <div class="p-fluid p-formgrid p-grid">
                             <div class="p-field p-col">
                                <label for="matriculeAdherent">Date Effet</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail.dateEffet  | formatTableValue : 'date'}}
                                 </div>

                                 <div class="p-field p-col">
                                    <label for="matriculeAdherent">Delai</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{conventionDetail.delai | formatTableValue: 'number':true}}
                                     </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Historique des conventions avec les sous actes" toggleable="true">
                <p-table #dtConfigurationPlafond [value]="garantieListDetail" dataKey="id" [rowHover]="true" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Famille acte</th>
                            <th>Code</th>
                            <th>Decription</th>
                            <th>Montant</th>
                            <th >Date d'effet</th>
                           
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-garantie let-editing="editing" let-ri="rowIndex" let-expanded="expanded" >
                        <tr class="colorZone">
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="garantie" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>

                            <td>{{garantie.libelle}}</td>


                            <td>  {{garantie.code}} </td>

                            <td>{{garantie.description}}</td>
                            <td></td>
                            <td></td>
                            <td style="text-align:center">
                               </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-garantie>
                        <tr >
                            <td colspan="7">
                                <div class="">
                                    <p-table [value]="garantie.actes" dataKey="id">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <ng-template pTemplate="body" let-acte let-expanded="expanded">
                                            <tr class="colorZoneActe">
                                                <td> <button type="button" pButton pRipple [pRowToggler]="acte" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
                                                <td>{{acte.libelle}}</td>
                                                <td>{{acte.code}}</td>
                                                <td>{{acte.description}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="rowexpansion" let-acte>
                                            <tr>
                                                <td colspan="7">
                                                    <div class="">
                                                        <p-table [value]="acte.sousActes" editMode="row" [rowHover]="true" dataKey="id">

                                                            <tr >
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>

                                                            </tr>
                                                            <ng-template pTemplate="body" let-sousActe let-expanded="expanded" let-ri="rowIndex" let-editing="editing">
                                                                <tr  class="colorZoneSousActe">
                                                                    <td></td>
                                                                    <td>{{sousActe.libelle}}</td>
                                                                    <td>{{sousActe.code}}</td>
                                                                    <td>{{sousActe.description}}</td>
                                                                    <td>{{sousActe?.montantConvantion | formatTableValue: 'number':true}}</td>
                                                                      <td>{{sousActe?.dateEffet | formatTableValue: 'date'}}</td>
                                                                    <td>
                                                                        
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                       
                        
                    </ng-template>
                </p-table>
            </p-fieldset>
                </div>
            </ng-template>
        </p-dialog>

        <p-dialog [maximizable]="true"   [(visible)]="displayFormConvention" header="Ajouter convention" [modal]="true" styleClass="p-fluid" (onHide)="closeDialog()" >
            <ng-template pTemplate="content">
                <div class="card">
                <form   [formGroup]="conventionForm">     
                <div class="p-fluid p-formgrid p-grid">
                   <!--  <div class="p-field p-col">
                        <label for="lastname2">Famille acte</label>
                        <p-dropdown dataKey="id" inputId="garantie" [autoDisplayFirst]="false" formControlName="garantie" [filter]="true" showClear="true" [options]="garanties" optionLabel="libelle" (onChange)="changeGarantie($event)" appendTo="body"></p-dropdown>
                        <div class="p-field p-col">
                            <p-dropdown *ngIf="displayActe" dataKey="id" inputId="acte" formControlName="acte"   [autoDisplayFirst]="false" [filter]="true" showClear="true" [options]="acteListFilter" optionLabel="libelle" (onChange)="selectActe($event)" appendTo="body"></p-dropdown>
                            <div class="p-field p-col">
                                <p-dropdown *ngIf="displaySousActe" inputId="sousActe" dataKey="id" [filter]="true"
                                            showClear="true" [options]="sousActeListFilter"
                                            formControlName="sousActe"  [autoDisplayFirst]="false"
                                            optionLabel="libelle" appendTo="body"></p-dropdown>  
                            </div>
                        </div> 
                    </div>
                     -->
                     
                    <div class="p-field p-col-4">
                        <label for="lastname2">Prestataire</label>
                        <p-dropdown dataKey="id" inputId="prestataire"  [autoDisplayFirst]="false" [filter]="true" showClear="true" [options]="prestataireList" formControlName="prestataire" optionLabel="libelle" appendTo="body"></p-dropdown>
                    </div> 
                    <div class="p-field p-col-4">
                        <label for="dateEffet">Date effet <span style="color: red !important;">*</span></label>
                        <input type="date" name="dateEffet" id="dateEffet" pInputText formControlName="dateEffet">
                    </div>

                    <div class="p-field p-col-4">
                        <label for="delai">Délai de paiement</label>
                        <p-inputNumber mode="decimal" locale="fr-FR" id="delai" formControlName="delai"  ></p-inputNumber>
                    </div> 
                </div>
                
                
                
               <!--  <br/>
                <div class="p-grid p-justify-between">
                    
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times" (click)="closeDialog()"></button>
                    </div>
                    <div>
                    <button [disabled]="conventionForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    </div>
                </div> -->
                </form>  

               <!--  <p-tabPanel header="PLAFOND" leftIcon="pi pi-user-edit" tooltip="PLAFOND">
                    <span style="color: green !important"> <h4> Informations sur les plafonds de l'avenant</h4></span>
                    -->
                        <p-table #dtConfigurationPlafond [value]="garanties" dataKey="id" [rowHover]="true" editMode="row" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th></th>
                                    <th>Famille acte</th>
                                    <th>Code</th>
                                    <th>Decription</th>
                                    <th>Montant</th>
                                    <th  *ngIf="displayEdit">Date d'effet</th>
                                    <th  *ngIf="!displayEdit"></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-garantie let-editing="editing" let-ri="rowIndex" let-expanded="expanded" >
                                <tr class="colorZone">
                                    <td>
                                        <button type="button" pButton pRipple [pRowToggler]="garantie" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
    
                                    <td>{{garantie.libelle}}</td>
    
    
                                    <td>  {{garantie.code}} </td>
    
                                    <td>{{garantie.description}}</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:center">
                                       </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-garantie>
                                <tr >
                                    <td colspan="7">
                                        <div class="">
                                            <p-table [value]="garantie.actes" dataKey="id">
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                <ng-template pTemplate="body" let-acte let-expanded="expanded">
                                                    <tr class="colorZoneActe">
                                                        <td> <button type="button" pButton pRipple [pRowToggler]="acte" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
                                                        <td>{{acte.libelle}}</td>
                                                        <td>{{acte.code}}</td>
                                                        <td>{{acte.description}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="rowexpansion" let-acte>
                                                    <tr>
                                                        <td colspan="7">
                                                            <div class="">
                                                                <p-table [value]="acte.sousActes" editMode="row" [rowHover]="true" dataKey="id">

                                                                    <tr >
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>

                                                                    </tr>
                                                                    <ng-template pTemplate="body" let-sousActe let-expanded="expanded" let-ri="rowIndex" let-editing="editing">
                                                                        <tr [pEditableRow]="sousActe" class="colorZoneSousActe">
                                                                            <td></td>
                                                                            <td>{{sousActe.libelle}}</td>
                                                                            <td>{{sousActe.code}}</td>
                                                                            <td>{{sousActe.description}}</td>
                                                                            <td>
                                                                                <p-cellEditor>
                                                                                    <ng-template pTemplate="input">
                                                                                        <p-inputNumber mode="decimal" locale="fr-FR" id="montant" [(ngModel)]="sousActe.montantConvantion" >

                                                                                        </p-inputNumber>
                                                                                        
                                                                                    </ng-template>
                                                                                    <ng-template pTemplate="output">
                                                                                        <span style="font-weight: bold">{{sousActe?.montantConvantion | formatTableValue: 'number':true}}</span>
                                                                                    </ng-template>
                                                                                </p-cellEditor>
                                                                              </td>
                                                                              <td *ngIf="displayEdit">
                                                                                <p-cellEditor>
                                                                                    <ng-template pTemplate="input">
                                                                                        <input id="dateEffet"  type="date" name="dateEffet" pInputText [(ngModel)]="sousActe.dateEffet">

                                                                                       
                                                                                        
                                                                                    </ng-template>
                                                                                    <ng-template pTemplate="output">
                                                                                        <span style="font-weight: bold">{{sousActe?.dateEffet | formatTableValue: 'date'}}</span>
                                                                                    </ng-template>
                                                                                </p-cellEditor>
                                                                              </td>
                                                                            <td>
                                                                                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info"
                                                                                (click)="onRowEditInitPrime(sousActe)"></button>
                                                                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success"
                                                                                style="margin-right: .5em" (click)="onRowEditSavePrime(sousActe)"></button>
                                                                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger"
                                                                                (click)="onRowEditCancelSousActe(sousActe, ri)"></button>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-template>
                                                                </p-table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <ng-template pTemplate="body" let-acte let-expanded="expanded">
                                    <tr>
                                        <td> <button type="button" pButton pRipple [pRowToggler]="acte" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
                                        <td>{{acte.libelle}}</td>
                                        <td>{{acte.code}}</td>
                                        <td>{{acte.description}}</td>
                                    </tr>
                                </ng-template> -->
                                
                            </ng-template>
                        </p-table>
                   
                <!-- </p-tabPanel> -->

                <div class="p-grid p-justify-between">
                    
                    <div>
                    <button type="button" pButton label="Quitter" icon="pi pi-times" (click)="closeDialog()"></button>
                    </div>
                    <div>
                    <button [disabled]="conventionForm?.invalid" pButton pRipple label="Enregistrer" icon="pi pi-check" (click)="onCreate()" type="submit"></button>
                    </div>
                </div>
            </div>  
        </ng-template>
        </p-dialog>
        <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
    </div>
</div>
