<div class="p-fluid">
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="INFOS" leftIcon="pi pi-users" tooltip="Information sur la police"
                    [style]="{'width': '100%'}">
            <div class="p-grid">
                <div class="p-col-12">
                    <form [formGroup]="myForm">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-6">
                                <label for="numero">Numéro de l'avenant chez la garant</label>
                                <input id="numero" type="number" min="0" formControlName="numero" pInputText>
                            </div>
                            <div class="p-field p-col-6">
                                <label for="dateAvenant">Date de l'avenant <sup
                                        style="color:#ff0539; size: 1.2em">*</sup></label>
                                <p-calendar id="dateAvenant" [showIcon]="true" formControlName="dateAvenant"
                                            dateFormat="dd/mm/yy" inputId="calendar"
                                            appendTo="body"></p-calendar>
                                <app-entity-validation [entityValidations]="entityValidations"
                                                       [formGroup]="groupeForm" [entityField]="'dateAvenant'">
                                </app-entity-validation>
                            </div>
                            <div class="p-field p-col-6">
                                <label for="dateEffetA">Date d'éffet de la modification <sup
                                        style="color:#ff0539; size: 1.2em">*</sup></label>
                                <p-calendar id="dateEffetA" [showIcon]="true" formControlName="dateEffet"
                                            dateFormat="dd/mm/yy" inputId="calendar" (onSelect)="compareDate()"
                                            appendTo="body"></p-calendar>
                                <app-entity-validation [entityValidations]="entityValidations"
                                                       [formGroup]="groupeForm" [entityField]="'dateEffetA'">
                                </app-entity-validation>
                            </div>
                            <div class="p-field p-col-6">
                                <label for="nom">Observation</label>
                                <input id="Observation" type="text" required formControlName="observation" pInputText/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="p-col-12">
                    <p-fieldset legend="RECAPITULATIF" toggleable="true">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="lastname2">Garant</label>
                                <div>
                                    <span>{{police.garant.nom}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Intermediaire</label>
                                <div>
                                    <span>{{police.intermediaire.nom}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Taux de couverture</label>
                                <div>
                                    <span>{{police.taux.taux}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="firstname2">Territorialité</label>
                                <div>
                                    <span *ngFor="let t of police.territorialite">{{t.libelle}} </span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="dateEffet">Date effet</label>
                                <div>
                                    <span>{{police.dateEffet}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col-4">
                                <label for="lastname2">Date d'écheance</label>
                                <div>
                                    <span>{{police.dateEcheance}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="firstname2">Nom du souscripteur</label>
                                <div>
                                    <span>{{police.nom}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Contact</label>
                                <div>
                                    <span>{{police.contact}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="firstname2">Adresse email</label>
                                <div>
                                    <span>{{police.adresseEmail}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="adressePostale">Adresse postale</label>
                                <div>
                                    <span>{{police.adressePostale}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Secteur d'activité</label>
                                <div>
                                    <span>{{police.secteurActivite.libelle}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Numero IFU</label>
                                <div>
                                    <span>{{police.numeroIfu}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="lastname2">Personne ressource</label>
                                <div>
                                    <span>{{police.personneRessource}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Contact personne ressource</label>
                                <div>
                                    <span>{{police.contactPersonneRessource}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="refPolice">Reference police</label>
                                <div>
                                    <span>{{police.referencePolice}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="lastname2">RCCM</label>
                                <div>
                                    <span>{{police.rccm}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Numero police</label>
                                <div>
                                    <span>{{police.numero}}</span>
                                </div>
                            </div>

                            <div class="p-field p-col">
                                <label for="lastname2">Secteur</label>
                                <div>
                                    <span>{{police.secteur.libelle}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col-4">
                                <label for="fraisAccessoire">Frais des accessoires</label>
                                <div>
                                    <span>{{police?.fraisAccessoire | formatTableValue: 'number':true}}</span>
                                </div>
                            </div>
                            <div class="p-field p-col-4">
                                <label for="fraisBadge">Frais de badge</label>
                                <div>
                                    <span>{{police?.fraisBadge | formatTableValue: 'number':true}}</span>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>


        </p-tabPanel>
        <p-tabPanel [style]="{'width': '100%'}" header="GROUPE" leftIcon="pi pi-users" tooltip="Groupe">
            <div class="p-grid">
                <div class="p-col-12">
                    <label class="p-fieldset-content">Choisir le Groupe</label>
                    <p-dropdown [options]="groupeListes" optionLabel="libelle" [(ngModel)]="groupeSelected"
                                [filter]="true" filterBy="libelle" [showClear]="true" placeholder="Choisir un groupe"
                                (onChange)="loadAherantByGroupe()" [style]="{'width': '40%'}">
                    </p-dropdown>
                </div>
                <div class="p-col-12">
                    <!--<app-avenant-groupe [obj]="obj" (groupeEvent)="obj = $event"></app-avenant-groupe>-->
                    <p-fieldset legend="Caracteristique" toggleable="true">
                        <form [formGroup]="groupeForm">
                            <h5></h5>
                            <div class="p-fluid p-formgrid p-grid">

                                <div class="p-field p-col">
                                    <label for="firstname2">Groupe</label>
                                    <input id="nom" type="text" formControlName="libelle" pInputText>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'nom'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="lastname2">Taux de couverture</label>
                                    <p-dropdown dataKey="id" inputId="taux" [filter]="true" showClear="true"
                                                [options]="tauxList" formControlName="taux" placeholder="Select"
                                                optionLabel="taux"></p-dropdown>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'taux'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="firstname2">Territorialité</label>
                                    <p-multiSelect dataKey="id" inputId="territorialite" [filter]="true"
                                                   showClear="true" [options]="territorialiteList"
                                                   formControlName="territorialite" placeholder="Select"
                                                   optionLabel="libelle"></p-multiSelect>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'territorialite'">
                                    </app-entity-validation>
                                </div>
                            </div>

                            <div class="p-fluid p-formgrid p-grid">

                                <div class="p-field p-col">
                                    <label for="dateEffet">Date effet</label>
                                    <!--<input type="date" class="form-control" formControlName="dateEffet" id="dateEffet" required style="width: 100%">-->
                                    <p-calendar id="dateEffet" [showIcon]="true" dateFormat="dd/mm/yy"
                                                inputId="calendar" formControlName="dateEffet"
                                                appendTo="body"></p-calendar>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'dateEffet'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="firstname2">Type durée</label>
                                    <p-dropdown dataKey="id" id="firstname2" inputId="typeDuree" [filter]="true"
                                                showClear="true" (onChange)="changeTypeDuree()" [options]="typeDuree"
                                                formControlName="typeDuree" placeholder="Select"></p-dropdown>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="policeForm" [entityField]="'typeDuree'">
                                    </app-entity-validation>
                                </div>

                                <div class="p-field p-col">
                                    <label for="lastname2">Durée</label>
                                    <input id="lastname2" type="number" (input)="onRefreshDateEcheanceForGroupe()"
                                           formControlName="duree" pInputText>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'duree'">
                                    </app-entity-validation>
                                </div>
                            </div>

                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-4">
                                    <label for="lastname2">Date d'écheance</label>
                                    <input type="date" formControlName="dateEcheance"
                                           style="width: 100%; height: 2.5em">
                                    <!--<p-calendar [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" formControlName="dateEcheance" appendTo="body"></p-calendar>
                                    <app-entity-validation [entityValidations]="entityValidations"
                                                           [formGroup]="groupeForm" [entityField]="'dateEcheance'">
                                    </app-entity-validation>-->
                                </div>
                            </div>
                        </form>
                    </p-fieldset>
                </div>
                <div class="p-col-12">
                    <p-fieldset legend="Parametrage prime" toggleable="true">
                        <form [formGroup]="primeForm">
                            <h5></h5>
                            <div class="p-fluid p-formgrid p-grid">

                                <!--<div class="p-field p-col-4" >
                                    <label for="primeFamille">Prime Annuelle</label>
                                    <input id="primeAnnuelle" type="text" pInputText formControlName="primeAnnuelle" [value]="primeForm.get('primeAnnuelle').value | formatTableValue: 'number':true">
                                </div>-->

                                <div class="p-field p-col-4">
                                    <label for="typePrime">Type de prime /AN</label>
                                    <p-dropdown dataKey="id" id="typePrime" inputId="typePrime" [filter]="true"
                                                showClear="true" [options]="typePrimeList" formControlName="prime"
                                                optionLabel="libelle" (onChange)="changePrime($event)"></p-dropdown>
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PF'">
                                    <label for="primeFamille">Prime par famille /AN</label>
                                    <input id="primeFamille" type="text" pInputText
                                           [value]="primeForm.get('primeFamille').value | formatTableValue: 'number':true"
                                           formControlName="primeFamille">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PA'">
                                    <label for="montantPrimeAdulte">Prime par adulte /AN</label>
                                    <input id="montantPrimeAdulte" type="text" pInputText formControlName="primeAdulte"
                                           [value]="primeForm.get('primeAdulte').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PAE'">
                                    <label for="montantPrimeEnfant">Prime par enfant /AN</label>
                                    <input id="montantPrimeEnfant" type="text" pInputText formControlName="primeEnfant"
                                           [value]="primeForm.get('primeEnfant').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PP'">
                                    <label for="montantPrimePersonne">Prime par personne /AN</label>
                                    <input id="montantPrimePersonne" type="text" pInputText
                                           formControlName="primePersonne"
                                           [value]="primeForm.get('primePersonne').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PE'">
                                    <label for="montantPrimeEmploye">Prime par employé /AN</label>
                                    <input id="montantPrimeEmploye" type="text" pInputText
                                           formControlName="primeEmploye"
                                           [value]="primeForm.get('primeEmploye').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PC'">
                                    <label for="montantPrimeConjoint">Prime par conjoint /AN</label>
                                    <input id="montantPrimeConjoint" type="text" pInputText
                                           formControlName="primeConjoint"
                                           [value]="primeForm.get('primeConjoint').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PECE'">
                                    <label for="montantPrimeEnfant1">Prime par enfant /AN</label>
                                    <input id="montantPrimeEnfant1" type="text" pInputText formControlName="primeEnfant"
                                           [value]="primeForm.get('primeEnfant').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PAE'">
                                    <label for="montantPrimeAdulte1">Prime par adulte /AN</label>
                                    <input id="montantPrimeAdulte1" type="text" pInputText formControlName="primeAdulte"
                                           [value]="primeForm.get('primeAdulte').value | formatTableValue: 'number':true">
                                </div>
                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PECE'">
                                    <label for="montantPrimeEmploye1">Prime par employé /AN</label>
                                    <input id="montantPrimeEmploye1" type="text" pInputText
                                           formControlName="primeEmploye"
                                           [value]="primeForm.get('primeEmploye').value | formatTableValue: 'number':true">
                                </div>

                                <div class="p-field p-col-4" *ngIf="selectedTypePrime.code === 'PECE'">
                                    <label for="montantPrimeConjoint1">Prime par conjoint /AN</label>
                                    <input id="montantPrimeConjoint1" type="text" pInputText
                                           formControlName="primeConjoint"
                                           [value]="primeForm.get('primeConjoint').value | formatTableValue: 'number':true">
                                </div>
                            </div>
                        </form>
                    </p-fieldset>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="PLAFOND" leftIcon="pi pi-sort-numeric-up-alt" tooltip="PLAFOND">
            <ng-template pTemplate="content">
                <div class="p-grid">
                    <div class="p-col-4">
                        <label class="p-fieldset-content">Choisir le Groupe</label>
                        <p-dropdown [options]="groupeListes" optionLabel="libelle" [(ngModel)]="groupePlafongConfig"
                                    [filter]="true" filterBy="libelle" [showClear]="true"
                                    placeholder="Choisir un groupe"
                                    (onChange)="loadPlafondConfigBygroupe()" [style]="{'width': '100%'}">
                        </p-dropdown>
                    </div>
                </div>

                <p-table [value]="plafondFamilleActePlafongConfig" dataKey="garantie.id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Acte</th>
                            <th>Plafond</th>
                            <th>Période</th>
                            <th>Nombre</th>
                            <th>Taux</th>
                            <th>Effet</th>
                            <th style="width:8em"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-plafond let-expanded="expanded">
                        <tr>
                            <td>
                                {{plafond.acte.libelle}}
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="plafond.montantPlafond" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{plafond.montantPlafond}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="dimensionPeriodeList"
                                                    [(ngModel)]="plafond.dimensionPeriode" optionLabel="libelle"
                                                    placeholder="Select Make"
                                                    [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{plafond.dimensionPeriode?.libelle}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="plafond.nombre" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{plafond.nombre}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="tauxList" [(ngModel)]="plafond.taux" optionLabel="taux"
                                                    placeholder="Select Make"
                                                    [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{plafond.taux?.taux}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-calendar [showIcon]="true" [(ngModel)]="plafond.dateEffet"
                                                    dateFormat="dd/mm/yy" inputId="calendar"
                                                    appendTo="body"></p-calendar>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{plafond.dateEffet}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td style="text-align:center">

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-product>
                        <tr>
                            <td colspan="7">
                                <div class="p-p-3">
                                    <p-table [value]="product.orders" dataKey="id">
                                        <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id">Id
                                <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="customer">Customer
                                <p-sortIcon field="customer"></p-sortIcon>
                            </th>
                            <th pSortableColumn="date">Date
                                <p-sortIcon field="date"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">Amount
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status">Status
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            <th style="width: 4rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{order.customer}}</td>
                            <td>{{order.id}}</td>
                            <td>{{order.amount | currency:'USD'}}</td>
                            <td><span
                                    [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span>
                            </td>
                            <td>
                                <p-button type="button" icon="pi pi-search"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">There are no order for this product yet.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="ADHERANT" leftIcon="pi pi-user-edit" tooltip="ADHERANT">
            <div class="p-grid">
                <div class="p-col-4">
                    <label class="p-fieldset-content">Choisir le Groupe</label>
                    <p-dropdown [options]="groupeListes" optionLabel="libelle" [(ngModel)]="groupeSelected"
                                [filter]="true" filterBy="libelle" [showClear]="true" placeholder="Choisir un groupe"
                                (onChange)="loadAherantByGroupe()">
                    </p-dropdown>
                </div>

                <div class="p-col-12">
                    <p-table [value]="historiqueAveantAdherants" dataKey="id" editMode="row">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>NOM</th>
                                <th>PRENOM</th>
                                <th>DATE NAISS.</th>
                                <th>MAIL</th>
                                <th>DATE INCORP.</th>
                                <th>GENRE</th>
                                <th style="width:8rem">Modifier</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-historiqueAveantAdherant let-editing="editing"
                                     let-ri="rowIndex">
                            <tr [pEditableRow]="historiqueAveantAdherant">
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text"
                                                   [(ngModel)]="historiqueAveantAdherant.adherent.nom">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant?.adherent?.nom | upercase}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text"
                                                   [(ngModel)]="historiqueAveantAdherant.adherent.prenom" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant?.adherent?.prenom | beginLowerCase}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text"
                                                   [(ngModel)]="historiqueAveantAdherant.adherent.dateNaissance">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant?.adherent?.dateNaissance | date}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text"
                                                   [(ngModel)]="historiqueAveantAdherant.adherent.mail">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant.adherent.mail}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text"
                                                   [(ngModel)]="historiqueAveantAdherant.dateEntree">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant.dateEntree | date}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="genreList" optionLabel="libelle"
                                                        [(ngModel)]="historiqueAveantAdherant.adherent.genre"
                                                        [style]="{'width':'100%'}"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{historiqueAveantAdherant.adherent?.genre?.libelle}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align:center">
                                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                            icon="pi pi-pencil" (click)="onRowEditInit(historiqueAveantAdherant)"
                                            class="p-button-rounded p-button-text"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(historiqueAveantAdherant)"
                                            class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel(historiqueAveantAdherant, ri)"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <!--<p-table #dt [value]="historiqueAveantAdherants" [rows]="10" [paginator]="true" [globalFilterFields]="['libelle','description','duree','territorialite.libelle']"
                             [rowHover]="true" dataKey="id"
                             styleClass="p-datatable-customers"
                             currentPageReportTemplate="{first} to {last} of {totalRecords} enregistrements" [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0"></h5>
                                <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." [style]="{width: '20%'}" />
                        </span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                                <th pSortableColumn="prenom" style="width: 12rem">Prenom<p-sortIcon field="prenom"></p-sortIcon></th>
                                <th pSortableColumn="adresseEmail">Email<p-sortIcon field="adresseEmail"></p-sortIcon></th>
                                <th pSortableColumn="genre" style="width: 12rem">Genre<p-sortIcon field="genre.libelle"></p-sortIcon></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-historiqueAveantAdherant>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="historiqueAveantAdherant"></p-tableCheckbox>
                                </td>
                                <td><span class="p-column-title">{{historiqueAveantAdherant?.adherent?.nom}}</span>

                                </td>
                                <td><span class="p-column-title">{{historiqueAveantAdherant?.adherent?.prenom}}</span>

                                </td>
                                <td><span class="p-column-title">{{historiqueAveantAdherant?.adherent?.email}}</span>

                                </td>
                                <td><span class="p-column-title">{{historiqueAveantAdherant?.adherent?.genre?.libelle}}</span></td>
                                <td>

                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                {{historiqueAveantAdherants ? historiqueAveantAdherants.length : 0 }} adherent(s) au total.
                            </div>
                        </ng-template>
                    </p-table>-->
                </div>
            </div>
        </p-tabPanel>
        <!--<p-tabPanel header="BAREME" leftIcon="pi pi-cog" tooltip="BAREME">
        </p-tabPanel>-->
    </p-tabView>
    <hr>

    <div class="p-grid">
        <div class="p-col-4"></div>
        <div class="p-col-2">
            <button pButton pRipple label="Quitter" class="p-button-danger p-mr-4" icon="pi pi-times"
                    (click)="annuler()"></button>
        </div>
        <div class="p-col-2">
            <button type="button" pButton pRipple label="Valider" class="p-button-success" icon="pi pi-check"
                    (click)="createAvenantModif()"></button>
        </div>
    </div>
</div>
