<p-table [value]="historiquePlafondActes" dataKey="id" editMode="row">
    
    <ng-template pTemplate="body" let-historiquePlafondActe let-editing="editing"  let-ri1="rowIndex" let-expanded="expanded" >
        <tr  [pEditableRow]="acte" class="colorZoneActe">

            <td> <button type="button" pButton pRipple [pRowToggler]="historiquePlafondActe" (click)="getsHistoriquePlafondGroupeSousActe(historiquePlafondActe)" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="acte.listeActe" [(ngModel)]="acte.acte" optionLabel="libelle" placeholder="Select periode"
                                    [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe?.acte.libelle}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="acte.montantPlafond" [value]="acte.montantPlafond | formatTableValue: 'number':true" placeholder="plafond/periode" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe.montantPlafond | formatTableValue: 'number':true}}
                    </ng-template>
                </p-cellEditor>
            </td>



            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="dimensionPeriodeList" [(ngModel)]="historiquePlafondActe?.plafondGroupeActe.dimensionPeriode" optionLabel="libelle" placeholder="Select periode"
                                    [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe?.dimensionPeriode?.libelle}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="acte.nombre">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe.nombre | formatTableValue: 'number':true}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="tauxList" [(ngModel)]="acte.taux" optionLabel="taux" placeholder="Select taux"
                                    [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe?.taux?.taux}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-multiSelect [options]="qualiteAssureList"  [(ngModel)]="historiquePlafondActe?.plafondGroupeActe.domaine" optionLabel="libelle" placeholder="Select domaine"
                                    [style]="{'width':'100%'}"></p-multiSelect>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <span *ngFor="let d of historiquePlafondActe?.plafondGroupeActe.domaine">
                            {{d.libelle}}
                        </span>
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="date" [(ngModel)]="historiquePlafondActe?.plafondGroupeActe.dateEffet" [disabled]="etat === 'VIEW'" style="width: 100%; height: 100%;">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe?.plafondGroupeActe.dateEffet | formatTableValue : 'date'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- <td>
                <p-cellEditor>
                    <ng-template pTemplate="output">
                        {{historiquePlafondActe.dateModif | formatTableValue : 'date'}}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="typeEtat" [(ngModel)]="historiquePlafondActe?.plafondGroupeActe.etat" placeholder="Select Make"
                                    [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf="historiquePlafondActe?.plafondGroupeActe.etat">
                        {{historiquePlafondActe?.plafondGroupeActe?.etat}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="text-align:center">
                <!-- 
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInitPlafondConfigurationActe(acte)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSavePlafondConfigurationActe(acte)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancelPlafondConfigurationActe(acte, ri, ri1)"></button>
                -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-historiquePlafondActe let-ri1>
        <tr >
            <td colspan="12">
                <div class="">
                    <app-plafond-sous-acte [etat]="etat" [historiquePlafondSousActes]="historiquePlafondSousActePlafongConfig"></app-plafond-sous-acte>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
