.texte-danger {
  color: red;
  size: 1.5em;
  font-weight: bold;
}

.texte-info {
  color: greenyellow;
  size: 1.5em;
  font-weight: bold;
}

.texte-succes {
  color: green;
  size: 1.5em;
  font-weight: bold;
}

.exo {
  color: green !important;
  font-weight: bold !important;
  font-size: 20px !important;
  // text-align: center !important;
}