<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
                    <div class="p-field p-col">
                        <label for="journal">Journal </label>
                   
                        
                        <p-dropdown inputId="journal" [filter]="true"
                                    showClear="true" [options]="journalList"
                                    name="journal" [(ngModel)]="journal"  optionLabel="code"  [style]="{'width':'100%'}"
                                    [autoDisplayFirst]="false" (onChange)="operationByJournal()"></p-dropdown>
                    </div>
 			</ng-template>
                
			</p-toolbar>
            
            <p-table #dt [value]="exerciceComptableOperationList" [autoLayout]="true" [columns]="cols" [rows]="12" [paginator]="true" [globalFilterFields]="['annee']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="annee" style="min-width:400px">Mois<p-sortIcon field="annee"></p-sortIcon></th>
                        
                       
                        <th style="min-width:150px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exerciceComptableOperation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="exerciceComptableOperation"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title" style="min-width:400px">{{exerciceComptableOperation?.dateDebut  | date :"MMM/yy" | uppercase}}</span>
                        
                        
                        
                        <td style="min-width:150px">
                            <button  pButton pRipple type="button"  icon="pi pi-plus" (click)="addOperation(exerciceComptableOperation)" class="p-button-rounded p-button-text"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{exerciceList ? exerciceList.length : 0 }} exercice (s).
                    </div>
                </ng-template>
            </p-table>
        </div> 
        
        
        
        
        <p-dialog [maximizable]="true" #dialStudent  [(visible)]="displayAddOperationListe" header="Opération" [modal]="true" styleClass="p-fluid" (onHide)="onFermer()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '200vw'}">
            <ng-template pTemplate="content">
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                   <div class="card">
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                           
                           
                             </ng-template>
                
                        <ng-template pTemplate="right">
                            <div class="p-fluid p-formgrid p-grid">
                                   
                                <div class="p-field p-col-3">
                                    <label for="dateSaisie">solde Débiteur <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                                    <span>{{exerciceComptableOperation?.montantDebit | formatTableValue: 'number':true}}</span>
                                </div>
                                <div class="p-field p-col-3">
                                    <label for="dateSaisie">solde Créditeur  <span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                    <span>{{exerciceComptableOperation?.montantCredit | formatTableValue: 'number':true}}</span>
                                    
                                </div>

                                <div class="p-field p-col-3">
                                    
                                </div>
                                
                                    <div class="p-field p-col-3">
                                        <label for="dateSaisie">solde restant<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                        
                                       
                                        <span>{{exerciceComptableOperation?.solde | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                
                            </div>
                        </ng-template>
                    </p-toolbar>
                    <form>
                        <div class="card">
                            <div class="p-fluid p-formgrid p-grid">
                                   
                                <div class="p-field p-col">
                                    <label for="dateSaisie">Date de saisie <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                                    <p-calendar id="dateSaisie" [showIcon]="true"  dateFormat="dd/mm/yy" inputId="calendar" disabled [(ngModel)]="operation.dateSaisie" name="dateSaisie"  appendTo="body"></p-calendar>
                                </div>
                                <div class="p-field p-col">
                                    <label for="numFacture">Numéro facture <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="numFacture"  type="text" required name="numFacture" pInputText [(ngModel)]="operation.numFacture" >
        
                                </div>
        
                                <div class="p-field p-col">
                                    <label for="reference">Réference <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <input id="reference"  type="text" required [disabled]="!operation.numFacture"  name="reference" pInputText [(ngModel)]="operation.reference" >
        
                                </div>
                                <div class="p-field p-col">
                                    <label for="numCompte">N° compte <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                    <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompte" [disabled]="!operation.numFacture"  name="numCompte" mode="decimal" locale="fr-FR" (onBlur)="findCompte1()"></p-inputNumber>  
            
                                </div>
            
                                <div class="p-field p-col">
                                    <label for="numCompte2">N° compte auxiliaire<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                    <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompteAuxi" name="numCompteAuxi" mode="decimal" locale="fr-FR" (onBlur)="findCompteAuxiliaire()"></p-inputNumber>  
            
                                </div>
            
                                <div class="p-field p-col">
                                    <label for="reference">Libellé d'écriture<span style="color: red !important; size: 1.4em;" class="required">*</span> </label>
                                    <input id="libelle"  type="text" required [disabled]="!operation.numCompte"  name="libelle" pInputText [(ngModel)]="operation.libelle" >
            
                                </div>

                                <div class="p-field p-col"  *ngIf="!operation.montantCredit">
                                    <label for="nombreActe">Débit <span class="required"></span></label>
                                    <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.montantDebit"  name="montantDebit" mode="decimal" locale="fr-FR" (onBlur)="viderCredit()" ></p-inputNumber>  
                                </div>

                                <div class="p-field p-col" *ngIf="!operation.montantDebit">
                                    <label for="nombreActe">Crédit <span class="required"></span></label>
                                    <p-inputNumber [inputStyle]="{'font-weight': 'bold'}"[(ngModel)]="operation.montantCredit" name="montantCredit" mode="decimal" locale="fr-FR" (onBlur)="viderDebit()"></p-inputNumber>  
                                </div>
                                
                            </div>
                            
                        </div>
                    </form>
                    <div></div>
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <div class="p-fluid p-formgrid p-grid">
                                   
                                <div class="p-field p-col">
                                    <span>{{operation.compte?.libelle}}</span>
                                </div>
                                <div class="p-field p-col">
                                    <span>{{operation.compteAuxiliaire?.libelle}}</span>
                                </div>
                            </div>
                           
                             </ng-template>
                
                        <ng-template pTemplate="right">
                            <button pButton pRipple  icon="pi pi-plus" [disabled]="!operation.libelle "  class="p-button-success p-mr-2 p-mb-2" (click)="addOperationList()"></button>
                           <button pButton pRipple  icon="pi pi-times" class="p-button-success p-mr-2 p-mb-2" (click)="annuleaddOperation()"></button>
                        </ng-template>
                    </p-toolbar> 
                </div>
            </p-toolbar>


                    <p-table [value]="operationAddList" dataKey="id" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Date de saisie</th>
                                <th>N° facture</th>
                                <th>Reférence</th>
                                <th>N° compte</th>
                                <th>N° compte auxiliaire</th>
                                <th>Libellé d'écriture</th>
                                <th >Débit</th>
                                <th>Crédit</th>
                                <th ></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-operation let-ri="rowIndex">
                            <tr>
                                <td>   {{operation.dateSaisie | formatTableValue : 'date'}}
                                       
                                </td>
                                <td>{{operation.numFacture}}</td>
                                <td>{{operation.reference}} </td>
                                <td>{{operation.numCompte | formatTableValue: 'number':true}}</td>
                                <td >{{operation.numCompteAuxi | formatTableValue: 'number':true}}
                                </td>
                                <td>{{operation.libelle}} </td>
                                <td >{{operation.montantDebit | formatTableValue: 'number':true}}</td>
                                <td>{{operation.montantCredit | formatTableValue: 'number':true}} </td>
                                <td >
                                    <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="editOperationList(operation, ri)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2" (click)="deleteOperationList(operation, ri)"></button>
        
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div>
                        <!-- <p-toolbar styleClass="p-mb-4">

                            <span>{{operation.compte?.libelle}}</span>
                        </p-toolbar> -->
                    </div>
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Annuler" icon="pi pi-check" class="p-button-success p-mr-2 p-mb-2" (click)="onFermer()"  ></button>

                             </ng-template>
                
                        <ng-template pTemplate="right">
                            <button  pButton  pRipple  label="Valider" [disabled]="debit !== credit" icon="pi pi-check" type="submit" class="p-button-success p-mr-2 p-mb-2" (click)="onCreateOperationList()" ></button>
    
                        </ng-template>
                    </p-toolbar> 
                    
                     
                </div>
            </ng-template>
        </p-dialog>
        
        <p-dialog [maximizable]="true" #dialStudent  [(visible)]="displayOperation" header="Opération" [modal]="true" styleClass="p-fluid" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '200vw'}">
            <ng-template pTemplate="content">
                <div class="card">
                    <!-- <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                           
                           
                             </ng-template>
                
                        <ng-template pTemplate="right">
                            <div class="p-fluid p-formgrid p-grid">
                                   
                                <div class="p-field p-col-3">
                                    <label for="dateSaisie">solde Débiteur <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                                    <span>{{exerciceComptableOperation?.montantDebit | formatTableValue: 'number':true}}</span>
                                </div>
                                <div class="p-field p-col-3">
                                    <label for="dateSaisie">solde Créditeur  <span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                    <span>{{exerciceComptableOperation?.montantCredit | formatTableValue: 'number':true}}</span>
                                    
                                </div>

                                <div class="p-field p-col-3">
                                    
                                </div>
                                
                                    <div class="p-field p-col-3">
                                        <label for="dateSaisie">solde restant<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                        
                                       
                                        <span>{{exerciceComptableOperation?.solde | formatTableValue: 'number':true}}</span>
                                    </div>
                                    
                                
                            </div>
                        </ng-template>
                    </p-toolbar> -->
                
                    <p-toolbar styleClass="p-mb-4">
                        <p-toolbar styleClass="mb-4">
                            <ng-template pTemplate="left">
                                 </ng-template>
                    
                            <ng-template pTemplate="right">
                                <button pButton pRipple  icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"  (click)="onAdd()"></button>
                            </ng-template>
                        </p-toolbar> 
                        
                       <!--  <div class="card">
                            <form>
                                <div class="card">
                                    <div class="p-fluid p-formgrid p-grid">
                                           
                                        <div class="p-field p-col">
                                            <label for="dateSaisie">Date de saisie <span style="color: red !important; size: 1.4em;" class="required"></span></label>
                                            <p-calendar id="dateSaisie" [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" disabled [(ngModel)]="operation.dateSaisie" name="dateSaisie"  appendTo="body"></p-calendar>
                                        </div>
                                        <div class="p-field p-col">
                                            <label for="numFacture">Numéro facture <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <input id="numFacture"  type="text" name="numFacture" pInputText [(ngModel)]="operation.numFacture" >
                
                                        </div>
                
                                        <div class="p-field p-col">
                                            <label for="reference">Réference <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <input id="reference"  type="text" name="reference" pInputText [(ngModel)]="operation.reference" >
                
                                        </div>
                                        <div class="p-field p-col">
                                            <label for="numCompte">N° compte <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                                            <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompte" name="numCompte" mode="decimal" locale="fr-FR" ></p-inputNumber>  
                    
                                        </div>
                    
                                        <div class="p-field p-col">
                                            <label for="numCompte2">N° compte auxiliaire<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                            <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.numCompteAuxi" name="numCompteAuxi" mode="decimal" locale="fr-FR" ></p-inputNumber>  
                    
                                        </div>
                    
                                        <div class="p-field p-col">
                                            <label for="reference">Libellé d'écriture<span style="color: red !important; size: 1.4em;" class="required"></span> </label>
                                            <input id="libelle"  type="text" name="libelle" pInputText [(ngModel)]="operation.libelle" >
                    
                                        </div>

                                        <div class="p-field p-col">
                                            <label for="nombreActe">Débit <span class="required"></span></label>
                                            <p-inputNumber [inputStyle]="{'font-weight': 'bold'}" [(ngModel)]="operation.montantDebit" name="montantDebit" mode="decimal" locale="fr-FR" ></p-inputNumber>  
                                        </div>

                                        <div class="p-field p-col">
                                            <label for="nombreActe">Crédit <span class="required"></span></label>
                                            <p-inputNumber [inputStyle]="{'font-weight': 'bold'}"[(ngModel)]="operation.montantCredit" name="montantCredit" mode="decimal" locale="fr-FR"></p-inputNumber>  
                                        </div>
                                        
                                    </div>
                                    
                
                                </div>
                            </form>
                            <div></div>
                            <p-toolbar styleClass="mb-4">
                                <ng-template pTemplate="left">
                                     </ng-template>
                        
                                <ng-template pTemplate="right">
                                    <button pButton pRipple  icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="onCreateOperation()"></button>
    					           <button pButton pRipple  icon="pi pi-times" class="p-button-success p-mr-2 p-mb-2" (click)="addExercice()"></button>
                                </ng-template>
                            </p-toolbar> 
                        </div> -->
                    </p-toolbar>
                   

                    <p-table #dt [value]="operationList" [autoLayout]="true" [columns]="cols" [rows]="12" [paginator]="true" [globalFilterFields]="['annee']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0"></h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="annee" >Date saisie<p-sortIcon field="annee"></p-sortIcon></th>

                        <th pSortableColumn="annee" >N° pièce<p-sortIcon field="annee"></p-sortIcon></th>
                        <th pSortableColumn="annee" >N° facture<p-sortIcon field="annee"></p-sortIcon></th>

                        <th pSortableColumn="annee" >Reférence<p-sortIcon field="annee"></p-sortIcon></th>
                        
                        <th pSortableColumn="annee" >N° compte<p-sortIcon field="annee"></p-sortIcon></th>
                        <th pSortableColumn="annee" >N° compte<p-sortIcon field="annee"></p-sortIcon></th>
                        <th pSortableColumn="annee" >Libellé d'écriture<p-sortIcon field="annee"></p-sortIcon></th>
                        <th pSortableColumn="annee" >Débit<p-sortIcon field="annee"></p-sortIcon></th>
                        <th pSortableColumn="annee" >Crédit<p-sortIcon field="annee"></p-sortIcon></th>
                        
                        <th style="min-width:150px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="operation"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title" >{{operation?.dateSaisie | formatTableValue : 'date'}}</span></td>
                        
                            <td><span class="p-column-title" >{{operation?.numPiece}}</span></td>

                             <td><span class="p-column-title" >{{operation?.numFacture}}</span></td>

                             <td><span class="p-column-title" >{{operation?.reference}}</span></td>
                             <td><span class="p-column-title" >{{operation?.numCompte}}</span></td>
                             <td><span class="p-column-title" >{{operation?.numCompteAuxi}}</span></td>
                             <td><span class="p-column-title" >{{operation?.libelle}}</span></td>
                             <td><span class="p-column-title" >{{operation?.montantDebit | formatTableValue: 'number':true}}</span></td>
                             <td><span class="p-column-title" >{{operation?.montantCredit | formatTableValue: 'number':true}}</span></td>

                        
                        <td style="min-width:150px">
                           <!--  <button pButton pRipple icon="pi pi-pencil" pTooltip="editer" class="p-button-rounded p-button-success p-mr-2" (click)="editOperation(operation)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2" (click)="deleteOperation(operation)"></button>
 -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{operationList ? operationList.length : 0 }} opération (s).
                    </div>
                </ng-template>
            </p-table>
        </div>
               
     </ng-template>      
  </p-dialog>

  <p-dialog [maximizable]="true" #dialStudent  [(visible)]="displayAddOperation" header="Exercice comptale" [modal]="true" styleClass="p-fluid" >
    <ng-template pTemplate="content">
        <div class="card">
            <form>
                <div class="card">
                    <div class="p-fluid p-formgrid p-grid">
                           
                        <div class="p-field p-col">
                            <label for="dateSaisie">Date de saisie </label>
                            <p-calendar id="dateSaisie" [showIcon]="true" dateFormat="dd/mm/yy" inputId="calendar" disabled [(ngModel)]="operation.dateSaisie" name="dateSaisie"  appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col">
                            <label for="numFacture">Numéro facture <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                            <input id="numFacture"  type="text" required name="numFacture" pInputText [(ngModel)]="operation.numFacture" >

                        </div>

                        <div class="p-field p-col">
                            <label for="reference">Réference <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                            <input id="reference"  type="text" [disabled]="!operation.numFacture" required name="reference" pInputText [(ngModel)]="operation.reference" >

                        </div>

                        
                    </div>
                    <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="numCompte">Numéro de compte <span style="color: red !important; size: 1.4em;" class="required">*</span></label>
                        <input id="numCompte"  type="number" [disabled]="!operation.reference" required name="numCompte" pInputText [(ngModel)]="operation.numCompte" >

                    </div>

                    <div class="p-field p-col">
                        <label for="numCompte2">Numéro de compte auxiliaire </label>
                        <input id="numCompte2"  type="number" name="numCompteAuxi" pInputText [(ngModel)]="operation.numCompteAuxi" >

                    </div>

                    <div class="p-field p-col">
                        <label for="reference">Libellé d'écriture </label>
                        <input id="libelle" [disabled]="!operation.numCompte" required type="text" name="libelle" pInputText [(ngModel)]="operation.libelle" >

                    </div>

                </div>

                </div>
            </form>
            <div class="p-grid p-justify-between">
                <div>
                    <button pButton pRipple label="Quitter" icon="pi pi-check" class="p-button-success p-mr-2 p-mb-2" ></button>
                </div>
                <div>
                    <button  pButton  pRipple  [disabled]="!operation.libelle" label="Enregistrer" icon="pi pi-check" type="submit" class="p-button-success p-mr-2 p-mb-2"(click)="onCreate()" ></button>
                </div>
            </div>
        </div>
               
    </ng-template>      
 </p-dialog>  
<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
</div>
</div>
