
<div >
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="Facture(s) initié(s)" leftIcon="pi pi-pencil" tooltip="Facture(s) initié(s)" [style]="{'width': '100%'}"
         >
            <span >
            <div class="p-col-12">
                <p-toast></p-toast>
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="right">
                     </ng-template>
                    </p-toolbar>
                    <p-table #dt [value]="rembourssements" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                             [rowHover]="true" dataKey="id"
                             styleClass="p-datatable-customers"
                             currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0"></h5>
                                <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                
                                <th pSortableColumn="numero" >Date de Saisie<p-sortIcon field="numero"></p-sortIcon></th>
                                <th pSortableColumn="numero" >Numéro Facture<p-sortIcon field="numero"></p-sortIcon></th>
                                <th pSortableColumn="numero" >Numéro Sinistre<p-sortIcon field="numero"></p-sortIcon></th>
                                <th pSortableColumn="etat" >Prestataire<p-sortIcon field="etat"></p-sortIcon></th>
                                <th pSortableColumn="etat" >Montant Réclamé<p-sortIcon field="etat"></p-sortIcon></th>
                                <th pSortableColumn="etat" >Montant Payé<p-sortIcon field="etat"></p-sortIcon></th>
                                <th ></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ordre>
                            <tr>
                                
                                <td><span class="p-column-title" >{{ordre?.dateSaisie  | formatTableValue : 'date'}}</span></td>
                                <td><span class="p-column-title" >{{ordre.numeroFacture}}</span></td>
                                <td><span class="p-column-title" >{{ordre.numeroSinistre}}</span></td>
                                <td><span class="p-column-title" >{{ordre?.prestataire?.libelle}}</span></td>
                                <td><span class="p-column-title" >{{ordre?.montantReclame | formatTableValue : 'number'}}</span></td>
                                <td><span class="p-column-title" >{{ordre?.montantPaye | formatTableValue : 'number'}}</span>
                                </td>
                                <td >
                                <button pButton  pRipple icon="pi pi-eye" pTooltip="voir les prestations" class="p-button-rounded p-button-warning p-mr-2" (click)="voirSinistre(ordre)"></button>
                                </td>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                {{rembourssements ? rembourssements.length : 0 }} Facture(s) initié(s).
                            </div>
                        </ng-template>
                    </p-table>
                </div>
                
                
                
                
                
                <p-dialog [maximizable]="true" [(visible)]="displaySinistre" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1400px'}"> 
                    <ng-template pTemplate="content">
                        <div class="card">
                            
                            <p-table #dt [value]="prestations" [columns]="cols" [rows]="10" [paginator]="true"
                             [rowHover]="true" dataKey="id"
                             styleClass="p-datatable-customers"
                             currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                       
                             <ng-template pTemplate="header">
                            <tr>
                                
                                <th pSortableColumn="numero">Date soins<p-sortIcon field="numero"></p-sortIcon></th>
                                <th pSortableColumn="territorialite" >Nom & Prénom(s)<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                                <th pSortableColumn="taux">Acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Pathologie<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Produits pharmaceutiques<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Nombre d'acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Coût Unitaire<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Montant Remboursé<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                <th pSortableColumn="taux">Part Assuré(e)<p-sortIcon field="taux.taux"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-prefinance>
                            <tr>
                
                                <td><span class="p-column-title">{{prefinance.dateSoins | formatTableValue : 'date'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.adherent.nom}} {{prefinance.adherent.prenom}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.sousActe.libelle}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.pathologie.libelle}}</span>
                                </td>
                                <td><span class="p-column-title"><span *ngFor="let item of prefinance?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span></span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.nombreActe}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.coutUnitaire | formatTableValue : 'number'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.montantRembourse | formatTableValue : 'number'}}</span>
                                </td>
                                <td><span class="p-column-title">{{prefinance.montantRestant | formatTableValue : 'number'}}</span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                {{prestations ? prestations.length : 0 }} prestation(s).
                            </div>
                        </ng-template>
                    </p-table>   
                        </div>
                    </ng-template>
                </p-dialog>
                    
        
                <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
        
            </div>

            </span>
        </p-tabPanel>
        <p-tabPanel header="Facture(s) en cours de traitement" leftIcon="pi pi-spinner" tooltip="Facture(s) en cours de traitement" [style]="{'width': '100%'}"
        >
           <span >
           <div class="p-col-12">
               <p-toast></p-toast>
               <div class="card">
                   <p-toolbar styleClass="p-mb-4">
                       <ng-template pTemplate="right">
                    </ng-template>
                   </p-toolbar>
                   <p-table #dt [value]="rembourssements" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                            [rowHover]="true" dataKey="id"
                            styleClass="p-datatable-customers"
                            currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                       <ng-template pTemplate="caption">
                           <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                               <h5 class="p-m-0"></h5>
                               <span class="p-input-icon-left">
                               <i class="pi pi-search"></i>
                               <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                               </span>
                           </div>
                       </ng-template>
                       <ng-template pTemplate="header">
                           <tr>
                               
                               <th pSortableColumn="numero" >Date de Saisie<p-sortIcon field="numero"></p-sortIcon></th>
                               <th pSortableColumn="etat" >Assuré(e)<p-sortIcon field="etat"></p-sortIcon></th>
                               <th pSortableColumn="etat" >Date de Naissance<p-sortIcon field="etat"></p-sortIcon></th>
                               <th pSortableColumn="nom" >Qualité Assuré(e)<p-sortIcon field="nom"></p-sortIcon></th>
                               <th pSortableColumn="numero" >Numéro Sinistre<p-sortIcon field="numero"></p-sortIcon></th>
                               <th pSortableColumn="numero" >Type Paiement<p-sortIcon field="numero"></p-sortIcon></th>
                               <th ></th>
                           </tr>
                       </ng-template>
                       <ng-template pTemplate="body" let-ordre>
                           <tr>
                               
                               <td><span class="p-column-title" >{{ordre?.dateSaisie  | formatTableValue : 'date'}}</span></td>
                               <td><span class="p-column-title" >{{ordre?.adherent?.nom}} {{ordre?.adherent?.prenom}}</span></td>
                               <td><span class="p-column-title" >{{ordre?.adherent?.dateNaissance | formatTableValue : 'date'}}</span></td>
                               <td><span class="p-column-title" >{{ordre?.adherent?.qualiteAssure?.code}}</span>
                               </td>
                               <td><span class="p-column-title" >{{ordre.numeroSinistre}}</span></td>
                               <td><span class="p-column-title" >{{ordre.typePaiement}}</span></td>
                               <td >
                               <button pButton  pRipple icon="pi pi-eye" pTooltip="voir les prestations" class="p-button-rounded p-button-warning p-mr-2" (click)="voirSinistre(ordre)"></button>
                               </td>
                               
                           </tr>
                       </ng-template>
                       <ng-template pTemplate="summary">
                           <div class="p-d-flex p-ai-center p-jc-between">
                               {{rembourssements ? rembourssements.length : 0 }} Facture(s) initié(s).
                           </div>
                       </ng-template>
                   </p-table>
               </div>
               
               
               
               
               
               <p-dialog [maximizable]="true" [(visible)]="displaySinistre" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1400px'}"> 
                   <ng-template pTemplate="content">
                       <div class="card">
                           
                           <p-table #dt [value]="prestations" [columns]="cols" [rows]="10" [paginator]="true"
                            [rowHover]="true" dataKey="id"
                            styleClass="p-datatable-customers"
                            currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                      
                            <ng-template pTemplate="header">
                           <tr>
                               
                               <th pSortableColumn="numero">Date soins<p-sortIcon field="numero"></p-sortIcon></th>
                               <th pSortableColumn="territorialite" >Nom & Prénom(s)<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                               <th pSortableColumn="taux">Acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Pathologie<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Produits pharmaceutiques<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Nombre d'acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Coût Unitaire<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Montant Remboursé<p-sortIcon field="taux.taux"></p-sortIcon></th>
                               <th pSortableColumn="taux">Part Assuré(e)<p-sortIcon field="taux.taux"></p-sortIcon></th>
                           </tr>
                       </ng-template>
                       <ng-template pTemplate="body" let-prefinance>
                           <tr>
               
                               <td><span class="p-column-title">{{prefinance.dateSoins | formatTableValue : 'date'}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.adherent.nom}} {{prefinance.adherent.prenom}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.sousActe.libelle}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.pathologie.libelle}}</span>
                               </td>
                               <td><span class="p-column-title"><span *ngFor="let item of prefinance?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span></span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.nombreActe}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.coutUnitaire | formatTableValue : 'number'}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.montantRembourse | formatTableValue : 'number'}}</span>
                               </td>
                               <td><span class="p-column-title">{{prefinance.montantRestant | formatTableValue : 'number'}}</span>
                               </td>
                           </tr>
                       </ng-template>
                       <ng-template pTemplate="summary">
                           <div class="p-d-flex p-ai-center p-jc-between">
                               {{prestations ? prestations.length : 0 }} prestation(s).
                           </div>
                       </ng-template>
                   </p-table>   
                       </div>
                   </ng-template>
               </p-dialog>
                   
       
               <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
       
           </div>

           </span>
       </p-tabPanel>
        <p-tabPanel header="Facture(s) validé(s)" leftIcon="pi pi-check" tooltip="Facture(s) validé(s)" [style]="{'width': '100%'}">
            <span >
                <div class="p-col-12">
                    <p-toast></p-toast>
                    <div class="card">
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="right">
                         </ng-template>
                        </p-toolbar>
                        <p-table #dt [value]="rembourssementValid" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                                 [rowHover]="true" dataKey="id"
                                 styleClass="p-datatable-customers"
                                 currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                    <h5 class="p-m-0"></h5>
                                    <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    
                                    <th pSortableColumn="numero" >Date de Saisie<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="etat" >Assuré(e)<p-sortIcon field="etat"></p-sortIcon></th>
                                    <th pSortableColumn="etat" >Date de Naissance<p-sortIcon field="etat"></p-sortIcon></th>
                                    <th pSortableColumn="nom" >Qualité Assuré(e)<p-sortIcon field="nom"></p-sortIcon></th>
                                    <th pSortableColumn="numero" >Numéro Sinistre<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="numero" >Type Paiement<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th ></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-ordre>
                                <tr>
                                    
                                    <td><span class="p-column-title" >{{ordre?.dateSaisie  | formatTableValue : 'date'}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.nom}} {{ordre?.adherent?.prenom}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.dateNaissance | formatTableValue : 'date'}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.qualiteAssure?.code}}</span>
                                    </td>
                                    <td><span class="p-column-title" >{{ordre.numeroSinistre}}</span></td>
                                    <td><span class="p-column-title" >{{ordre.typePaiement}}</span></td>
                                    <td >
                                    <button pButton  pRipple icon="pi pi-eye" pTooltip="voir les prestations" class="p-button-rounded p-button-warning p-mr-2" (click)="voirSinistre(ordre)"></button>
                                    </td>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    {{rembourssementValid ? rembourssementValid.length : 0 }} Facture(s) validé(s).
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                    
                    
                    
                    
                    
                    <p-dialog [maximizable]="true" [(visible)]="displaySinistre" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1400px'}"> 
                        <ng-template pTemplate="content">
                            <div class="card">
                                
                                <p-table #dt [value]="prestations" [columns]="cols" [rows]="10" [paginator]="true"
                                 [rowHover]="true" dataKey="id"
                                 styleClass="p-datatable-customers"
                                 currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                           
                                 <ng-template pTemplate="header">
                                <tr>
                                    
                                    <th pSortableColumn="numero">Date soins<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="territorialite" >Nom & Prénom(s)<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Pathologie<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Produits pharmaceutiques<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Nombre d'acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Coût Unitaire<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Montant Remboursé<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Part Assuré(e)<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-prefinance>
                                <tr>
                    
                                    <td><span class="p-column-title">{{prefinance.dateSoins | formatTableValue : 'date'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.adherent.nom}} {{prefinance.adherent.prenom}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.sousActe.libelle}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.pathologie.libelle}}</span>
                                    </td>
                                    <td><span class="p-column-title"><span *ngFor="let item of prefinance?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span></span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.nombreActe}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.coutUnitaire | formatTableValue : 'number'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.montantRembourse | formatTableValue : 'number'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.montantRestant | formatTableValue : 'number'}}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    {{prestations ? prestations.length : 0 }} prestation(s).
                                </div>
                            </ng-template>
                        </p-table>   
                            </div>
                        </ng-template>
                    </p-dialog>
                        
            
                    <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
            
                </div>
    
            </span>
        </p-tabPanel>
        <p-tabPanel header="Facture(s) payé(s)" leftIcon="pi pi-dollar" tooltip="Facture(s) payé(s)" [style]="{'width': '100%'}" >
            <span >
                <div class="p-col-12">
                    <p-toast></p-toast>
                    <div class="card">
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="right">
                         </ng-template>
                        </p-toolbar>
                        <p-table #dt [value]="rembourssementValidAndPaiementValid" [autoLayout]="true" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['garant.nom','intermediaire.nom','numero','taux.taux']"
                                 [rowHover]="true" dataKey="id"
                                 styleClass="p-datatable-customers"
                                 currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                    <h5 class="p-m-0"></h5>
                                    <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    
                                    <th pSortableColumn="numero" >Date de Saisie<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="etat" >Assuré(e)<p-sortIcon field="etat"></p-sortIcon></th>
                                    <th pSortableColumn="etat" >Date de Naissance<p-sortIcon field="etat"></p-sortIcon></th>
                                    <th pSortableColumn="nom" >Qualité Assuré(e)<p-sortIcon field="nom"></p-sortIcon></th>
                                    <th pSortableColumn="numero" >Numéro Sinistre<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="numero" >Type Paiement<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th ></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-ordre>
                                <tr>
                                    
                                    <td><span class="p-column-title" >{{ordre?.dateSaisie  | formatTableValue : 'date'}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.nom}} {{ordre?.adherent?.prenom}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.dateNaissance | formatTableValue : 'date'}}</span></td>
                                    <td><span class="p-column-title" >{{ordre?.adherent?.qualiteAssure?.code}}</span>
                                    </td>
                                    <td><span class="p-column-title" >{{ordre.numeroSinistre}}</span></td>
                                    <td><span class="p-column-title" >{{ordre.typePaiement}}</span></td>
                                    <td >
                                    <button pButton  pRipple icon="pi pi-eye" pTooltip="voir les prestations" class="p-button-rounded p-button-warning p-mr-2" (click)="voirSinistre(ordre)"></button>
                                    </td>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    {{rembourssementValidAndPaiementValid ? rembourssementValidAndPaiementValid.length : 0 }} Facture(s) payé(s).
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                    
                    
                    
                    
                    
                    <p-dialog [maximizable]="true" [(visible)]="displaySinistre" header="Prestations" [modal]="true" styleClass="p-fluid" [style]="{width: '1400px'}"> 
                        <ng-template pTemplate="content">
                            <div class="card">
                                
                                <p-table #dt [value]="prestations" [columns]="cols" [rows]="10" [paginator]="true"
                                 [rowHover]="true" dataKey="id"
                                 styleClass="p-datatable-customers"
                                 currentPageReportTemplate="affichage {first} à {last} de {totalRecords} enregistrement" [showCurrentPageReport]="true">
                           
                                 <ng-template pTemplate="header">
                                <tr>
                                    
                                    <th pSortableColumn="numero">Date soins<p-sortIcon field="numero"></p-sortIcon></th>
                                    <th pSortableColumn="territorialite" >Nom & Prénom(s)<p-sortIcon field="territorialite.libelle"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Pathologie<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Produits pharmaceutiques<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Nombre d'acte<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Coût Unitaire<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Montant Remboursé<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                    <th pSortableColumn="taux">Part Assuré(e)<p-sortIcon field="taux.taux"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-prefinance>
                                <tr>
                    
                                    <td><span class="p-column-title">{{prefinance.dateSoins | formatTableValue : 'date'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.adherent.nom}} {{prefinance.adherent.prenom}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.sousActe.libelle}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.pathologie.libelle}}</span>
                                    </td>
                                    <td><span class="p-column-title"><span *ngFor="let item of prefinance?.produitPharmaceutique">&nbsp;&nbsp;&nbsp;&nbsp;{{item?.libelle}}</span></span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.nombreActe}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.coutUnitaire | formatTableValue : 'number'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.montantRembourse | formatTableValue : 'number'}}</span>
                                    </td>
                                    <td><span class="p-column-title">{{prefinance.montantRestant | formatTableValue : 'number'}}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    {{prestations ? prestations.length : 0 }} prestation(s).
                                </div>
                            </ng-template>
                        </p-table>   
                            </div>
                        </ng-template>
                    </p-dialog>
                        
            
                    <p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
            
                </div>
    
            </span>
        </p-tabPanel>
    </p-tabView>
</div>