<p-fileUpload name="file[]" customUpload="true" maxFileSize="1000000" multiple="multiple"
              accept=".xlsx" chooseLabel="Importer" [maxFileSize]="1000000" [showUploadButton]="true"
              [showCancelButton]="true" uploadLabel="valider" cancelLabel="annuler" chooseIcon="pi pi-download"
              (uploadHandler)="onUpload($event)">
    <ng-template pTemplate="content">
        <ul *ngIf="selectedFile?.length">
            <li *ngFor="let file of selectedFile">{{file?.name}} - {{file?.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>