
<p-dialog [(visible)]="isTodisplayEntetDialogue" 
    [style]="{width: '80%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="header">
    <h5>RETRAIT PAR IMPORATION DE FICHIER POUR LA POLICE :  <span style="color: #188627; font-weight: bold;">{{ police.nom }}</span>  </h5>
  </ng-template>

    <ng-template pTemplate="content">
        <div class="card">
            <h5 class="p-justify-center " *ngIf="selectedExerciceId"> Date d'effet:  <span class="textGreen">{{dateEffetExercice}}</span>  Date d'échéance: <span class="textGreen">{{dateEcheanceExercice}} </span></h5> 
            <div class="p-grid p-formgrid p-fluid" style="padding: 1rem;">

                <!-- Initiateur -->
                <div class="p-field p-col-12 p-md-4">
                    <label for="typeDemanteur">Initiateur <sup style="color: red;">*</sup></label>
                    <p-dropdown 
                        inputId="typeDemanteur" 
                        dataKey="id" 
                        [filter]="true" 
                        showClear="true"
                        [options]="demandeursList" 
                        [(ngModel)]="historiqueAvenant.typeDemandeur"
                        optionValue="libelle"
                        placeholder="Sélectionner" 
                        optionLabel="libelle" 
                        class="w-full">
                    </p-dropdown>
                </div>

                <!-- Exercice -->
                <div class="p-field p-col-12 p-mt-1 p-md-4">
                    <label for="compteTiers" class="font-bold">
                        Sélectionner l'exercice <span style="color: red;">*</span>
                    </label>
                    <p-dropdown 
                        [disabled]="!historiqueAvenant.typeDemandeur"
                        dataKey="id" 
                        [filter]="true"
                        showClear="true" 
                        [options]="exercices"
                        name="exercice"
                        [(ngModel)]="historiqueAvenant.exercice"
                        [autoDisplayFirst]="true" 
                        appendTo="body"
                        placeholder="Sélectionnez l'exercice"
                        (onChange)="onGetSelectedExerciceId($event.value)"
                        optionLabel="nomExo"
                        class="w-full">
                    </p-dropdown>
                </div>

                        <div class="p-field p-col-12 p-md-4">
                            <label for="fraisBadge">Groupe<sup style="color: red !important;">*</sup></label>
                           
                                <p-dropdown  [options]="groupesByPolicy" optionLabel="libelle"
                                            name="groupe"
                                            (onChange)="onGetSelectedGroupeId($event.value.id)"
                                            [(ngModel)]="historiqueAvenant.groupe"
                                            [filter]="true" filterBy="libelle" [showClear]="true"
                                            placeholder="Choisir un groupe"
                                            [disabled]="!historiqueAvenant.exercice"
                                            >
                                </p-dropdown>
                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            <label for="nom">Date d'Avenant<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.groupe"  id="dateAvenant" type="date" name="dateAvenant" [(ngModel)]="historiqueAvenant.dateAvenant"  pInputText (change)="onSelectedAvenatDate()">

                           
                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            
                            <span class="textDanger" *ngIf=" historiqueAvenant.dateAvenant && historiqueAvenant.dateEffet && historiqueAvenant.dateAvenant > historiqueAvenant.dateEffet">La date d'effet doit être supérieure ou égale à celle de l'avenant</span>
                            <span class="textDanger" *ngIf=" dateEffetExercice && dateEcheanceExercice && historiqueAvenant.dateEffet &&  (historiqueAvenant.dateEffet > dateEcheanceExercice || historiqueAvenant.dateEffet < dateEffetExercice)">La date d'effet de l'avenant doit être comprise entre la date d'effet et la date d'echeance de l'exercice</span>

                            <label for="nom">Date d'effet<sup style="color: red !important;">*</sup></label>
                            <input [disabled]="!historiqueAvenant.dateAvenant"  id="dateIncorparation" name="dateEffet" [(ngModel)]="historiqueAvenant.dateEffet" type="date"  pInputText (change)="onCompareDateEffect()">

                        </div>

                         <div class="p-field p-col-12 p-md-4">
                            <label for="nom">Numéro de l'avenant garant<sup style="color: red !important;"></sup></label>
                            <input [disabled]="!historiqueAvenant.dateEffet || historiqueAvenant.dateAvenant > historiqueAvenant.dateEffet " id="numero" name="numeroGarant" [(ngModel)]="historiqueAvenant.numeroGarant"  type="number" min="0" pInputText [disabled]="etat === 'VIEW'">
                        </div>

                                                                <!-- Motif -->
                <div class="p-field p-col-12 p-md-6 p-mt-1">
                    <label for="observation">Motif<sup style="color: red;">*</sup></label>
                    <input 
                        id="observation"
                        type="text"
                        name="observation"
                        [(ngModel)]="historiqueAvenant.observation"
                        pInputText
                        class="p-inputtext w-full"
                        [disabled]="!historiqueAvenant.numeroGarant ||
                            historiqueAvenant.dateEffet > dateEcheanceExercice ||
                            historiqueAvenant.dateEffet < dateEffetExercice
                        "
                        
                    />
                </div>

                    <!-- Import Excel -->
                 <div class="p-field p-col-12 p-md-6">
                    <label for="excelFile">Importer le fichier Excel<sup style="color: red;">*</sup></label>
                    <input 
                    [disabled]="!historiqueAvenant.numeroGarant ||
                     !historiqueAvenant.exercice ||
                     !historiqueAvenant.observation ||
                     !historiqueAvenant.groupe ||
                     !historiqueAvenant.dateAvenant ||
                     !historiqueAvenant.dateEffet ||
                     !historiqueAvenant.typeDemandeur || 
                      historiqueAvenant.dateEffet > dateEcheanceExercice ||
                      historiqueAvenant.dateEffet < dateEffetExercice
                     "
                        (click)="onNextStepp(historiqueAvenant)"
                        (change)="onUploadFile($event)"
                        type="file"
                        accept=".xlsx, .xls"
                        name="model"
                        class=" p-inputtext w-full"
                    />
                </div>
        
            </div>

            </div>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="col col-6 p-mr-3">    
                <button
                (click)="onCancelRetrait()"
                    pButton icon="pi pi-times"
                    label="Quitter"
                    class="p-button-danger">
                </button>  
            </div>
<!-- 
            <div class="col col-6">
                <button 
                    (click)="onNextStepp(historiqueAvenant)"
                    pButton icon="pi pi-arrow-circle-right"
                    label="Continuer"
                    class="p-button-info">
                </button>      
            </div> -->
        </div>

    </ng-template>
</p-dialog>






<!-- <p-dialog [(visible)]="displayChoose" 
    [header]="'AVENENT DE RETRAIT'"
    [style]="{width: '40%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid p-justify-between" style="padding: 1rem;">

            <div class="col col-6">
                <button 
                    
                (click)="showChoooseFileDialog()"
                    pButton icon="pi pi-file-excel"
                    label="Par fichier"
                    class="p-button-success">
                </button>   
            </div>

            <div class="col col-6">
                <button 
                    (click)="showChoooseWriteDialog()"
                    pButton icon="pi pi-pencil"
                    label="Par saisie"
                    class="p-button-success">
                </button>   
            </div>


            </div>
        </div>

    </ng-template>
</p-dialog>


<p-dialog [(visible)]="displayFileChoose" 
    [header]="'AVENENT DE RETRAIT PAR IMPORTATION'"
    [style]="{width: '50%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid p-justify-between" style="padding: 1rem;">
                  
                <div class="p-field col p-col-12">    
                    <button
                        pButton icon="pi pi-download"
                        (click)="onDownloadModel()"
                        label="Télécharger le model"
                        class="p-button-info">
                    </button>  
                </div>

                <div class="p-field p-col-4">
                    <label for="exercice">Choisir l'exercice</label>
                        <p-dropdown 
                        (onChange)="onGetSelectedExerciceId($event.value.id)"
                        inputId="genre" dataKey="id" [filter]="true" showClear="true"
                           [options]="exercices"
                            appendTo="body"
                            [filter]="true" filterBy="nomExo" [showClear]="true"
                            placeholder="Choisir l'exercice" optionLabel="nomExo">
                        </p-dropdown>
                    
                </div>

                <div class="p-field p-col-4">
                    <label for="groupe">Choisir le groupe</label>

                            <p-dropdown 
                            (onChange)="onGetSelectedGroupeId($event.value.id)"
                            inputId="genre" dataKey="id" [filter]="true" showClear="true"
                                        [options]="groupesByPolicy"
                                        appendTo="body"
                                        [filter]="true" filterBy="libelle" [showClear]="true"
                                        placeholder="Choisir un groupe"
                                         optionLabel="libelle">
                            </p-dropdown>
                    
                </div>

                <div class="p-field p-col-4">
                    <label for="exercice">Importer le fichier excel</label>
                    <input 
                        (change)="onUploadFile($event)"
                        type="file"
                        accept=".xlsx, .xls"
                        name="model"
                        class="w-full"
                    />
                    
                </div>

                </div>


            </div>


    </ng-template>
</p-dialog>
 -->



<p-dialog [(visible)]="displayChoose" 
    [header]="'AVENENT DE RETRAIT'"
    [style]="{width: '40%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid p-justify-between" style="padding: 1rem;">

            <div class="col col-6">
                <button 
                    
                (click)="showChoooseFileDialog()"
                    pButton icon="pi pi-file-excel"
                    label="Par fichier"
                    class="p-button-success">
                </button>   
            </div>

            <div class="col col-6">
                <button 
                    (click)="showChoooseWriteDialog()"
                    pButton icon="pi pi-pencil"
                    label="Par saisie"
                    class="p-button-success">
                </button>   
            </div>


            </div>
        </div>

    </ng-template>
</p-dialog>


<p-dialog [(visible)]="displayFileChoose" 
    [header]="'AVENENT DE RETRAIT PAR IMPORTATION'"
    [style]="{width: '50%'}"
     position="center" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-grid p-formgrid p-fluid p-justify-between" style="padding: 1rem;">
                  
                <div class="p-field col p-col-6 p-mt-3">    
                    <button
                        pButton icon="pi pi-download"
                        (click)="onDownloadModel()"
                        label="Télécharger le model"
                        class="p-button-info">
                    </button>  
                </div>

                <!-- <div class="p-field p-col-4">
                    <label for="exercice">Choisir l'exercice</label>
                        <p-dropdown 
                        (onChange)="onGetSelectedExerciceId($event.value.id)"
                        inputId="genre" dataKey="id" [filter]="true" showClear="true"
                           [options]="exercices"
                            appendTo="body"
                            [filter]="true" filterBy="nomExo" [showClear]="true"
                            placeholder="Choisir l'exercice" optionLabel="nomExo">
                        </p-dropdown>
                    
                </div>

                <div class="p-field p-col-4">
                    <label for="groupe">Choisir le groupe</label>

                            <p-dropdown 
                            (onChange)="onGetSelectedGroupeId($event.value.id)"
                            inputId="genre" dataKey="id" [filter]="true" showClear="true"
                                        [options]="groupesByPolicy"
                                        appendTo="body"
                                        [filter]="true" filterBy="libelle" [showClear]="true"
                                        placeholder="Choisir un groupe"
                                         optionLabel="libelle">
                            </p-dropdown>
                    
                </div> -->

                <div class="p-field p-col-6 p-mb-3">
                    <label for="exercice">Importer le fichier excel</label>
                    <input 
                        (change)="onUploadFile($event)"
                        type="file"
                        accept=".xlsx, .xls"
                        name="model"
                        class="w-full"
                    />
                    
                </div>
                </div>

            </div>


    </ng-template>
</p-dialog>




<p-dialog [(visible)]="isToDisplayAdherentByFamily" 
    [header]="'APERCU DES ASSURES A RETIRER' + ' TOTAL: ' + adherentAndFamilyLength + ' ASSURES '" 
    [style]="{width: '100%'}"
     position="bottom" [transitionOptions]="'2000ms'" 
    [modal]="true" 
    (onShow)="accordionIndex = 0"
    styleClass="p-fluid">
<p-accordion [multiple]="true" [activeIndex]="accordionIndex">
  <p-accordionTab *ngFor="let famille of adherentByFamily" 
                  [header]="'Famille: ' + famille.membres[0].prenom + ' ' + famille.membres[0].nom + ' (' + famille.membres.length + ' membres)'">

    <p-table [value]="famille.membres" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Matricule</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Genre</th>
          <th>Qualité</th>
          <th>Lieu</th>
          <th>Date Naissance</th>
          <th>Date Incorporation</th>
          <th>Exercice</th>
          <th>Police</th>
<!--           <th>Plafond Annuel</th>
          <th>Plafond restant</th> -->

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-assure>
        <tr>
          <td>{{ assure.numero }}</td>
          <td>{{ assure.nom }}</td>
          <td>{{ assure.prenom }}</td>
          <td>{{ assure.genre?.libelle }}</td>
          <td>{{ assure.qualiteAssure?.libelle }}</td>
          <td>{{ assure.lieuNaissance }}</td>
          <td>{{ assure.dateNaissance }}</td>
          <td>{{ assure.dateIncorporation }}</td>
          <td>{{ assure.exercice?.debut | formatTableValue : 'date' }} à {{  assure.exercice?.fin | formatTableValue : 'date' }}</td>
          <td>{{ assure.groupe?.police?.nom }}</td>
<!--           <td>{{ assure.montantPlafondAnnuel }}</td>
          <td>{{ assure.montantPlafondAnnuelRestant }}</td> -->

        </tr>
      </ng-template>

       
    </p-table>

  </p-accordionTab>
</p-accordion>

<ng-template pTemplate="footer">

            <div class="col col-12 p-d-flex p-justify-center">
            <div class="col col-6">

            <button 
                    
                (click)="onExitAdherentByFamilyDialog()"
                    pButton icon="pi pi-cancel"
                    label="Quitter"
                    class="p-button-danger">
                </button>   
            </div>

            <div class="col col-6">
                <button 
                    (click)="onSaveRetrait()"
                    pButton icon="pi pi-check"
                    label="Retirer les assurés"
                    class="p-button-success">
                </button>   
            </div>
            </div>

       </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
<p-toast></p-toast>
