.champVert {
    font-weight: bold;
    color: green !important;
  }

  .champRouge {
    font-weight: bold;
    color: red !important;
  }

  .champRouge input {
    font-weight: bold;
    color: red !important;
  }

  /* .primeeee{
    border-radius: 1em;
    //background-color: darkgray !important;
} */

.primeeee{
    border-radius: 3em;
    background-color:rgb(243, 243, 110) !important;
    color: white !important;
}

.prime {
  font-size: 2.2em !important;
  color: red !important;
  font-weight: bold !important;
  text-align: center !important;
  border-radius: 1em;
  //background-color:rgb(243, 243, 110) !important;
  // background-color: yellow;

}
.espace {
  margin-right: 120px !important;
}

  